openapi: 3.0.3
info:
  title: Easy Boost API
  version: 1.0.0
  description: Production HTTP API. Authentication uses an HttpOnly SameSite cookie.
servers:
  - url: https://useboost.ru
security:
  - cookieAuth: []
paths:
  /health/live:
    get:
      security: []
      summary: Process liveness
      responses:
        '200': { description: Process is alive }
  /health/ready:
    get:
      security: []
      summary: Application and database readiness
      responses:
        '200': { description: Ready }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
  /api/tg/start:
    post:
      security: []
      summary: Create a short-lived Telegram authorization code
      responses:
        '200':
          description: Authorization URL and opaque code
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/tg/check:
    get:
      security: []
      summary: Check and consume Telegram authorization code
      parameters:
        - in: query
          name: code
          required: true
          schema: { type: string, maxLength: 256 }
      responses:
        '200': { description: Pending or authenticated state }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/me:
    get:
      summary: Current user and subscription
      responses:
        '200': { description: User profile }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/admin/status:
    get:
      summary: Verify administrator access
      responses:
        '200': { description: Administrator access confirmed }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Authenticated user does not have the admin role }
  /api/logout:
    post:
      summary: Clear authentication cookie
      responses:
        '200': { description: Logged out }
  /api/account/export:
    get:
      summary: Export the authenticated user's account, progress and attempt data
      responses:
        '200': { description: User data export as JSON attachment }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/account:
    delete:
      summary: Permanently delete the authenticated user and related data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirmation]
              properties:
                confirmation: { type: string, enum: [DELETE] }
      responses:
        '200': { description: Account deleted and cookie cleared }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/privacy/consent:
    get:
      summary: Read the user's text and voice processing choices
      responses:
        '200': { description: Consent state and current policy version }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      summary: Grant or withdraw text and voice processing consent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text_processing, voice_processing]
              properties:
                text_processing: { type: boolean }
                voice_processing: { type: boolean }
      responses:
        '200': { description: Updated consent state }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/progress:
    get:
      summary: Read complete progress document
      responses:
        '200': { description: Progress JSON object }
    post:
      summary: Replace progress document (legacy compatibility)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Progress' }
      responses:
        '200': { description: Saved }
        '400': { $ref: '#/components/responses/BadRequest' }
  /api/progress/modules:
    post:
      summary: Atomically merge changed top-level progress modules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [modules]
              properties:
                modules: { $ref: '#/components/schemas/Progress' }
      responses:
        '200': { description: Merged progress }
        '400': { $ref: '#/components/responses/BadRequest' }
  /api/v1/ai/evaluate-writing:
    post:
      summary: Evaluate EGE writing task 37 or 38
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [taskType, answer, assignment]
              properties:
                taskType: { type: string, enum: [writing_37, writing_38] }
                answer: { type: string }
                assignment: { type: object, additionalProperties: true }
      responses:
        '200': { description: Validated review and metadata }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/ai/generate-content:
    post:
      summary: Generate validated educational content with a server-owned prompt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [operation]
              properties:
                operation:
                  type: string
                  enum: [dictionary_lookup, grammar_quiz, listening_dialog, reading_text, vocabulary_cards, writing_task_37, writing_task_38, speaking_task_1, speaking_task_2, speaking_task_3, speaking_task_4, grammar_exam_19_24, grammar_topic_set, reading_headings, reading_questions, reading_gaps, listening_matching, listening_true_false, listening_interview]
                word: { type: string, maxLength: 80 }
                count: { type: integer, minimum: 1, maximum: 30 }
                exclude:
                  type: array
                  maxItems: 500
                  items: { type: string, maxLength: 120 }
              additionalProperties: false
      responses:
        '200': { description: Schema-validated content and prompt metadata }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
  /api/v1/ai/evaluate-speaking:
    post:
      summary: Evaluate an EGE speaking transcript with server-owned criteria
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [taskType, transcript, assignment]
              properties:
                taskType: { type: integer, enum: [1, 2, 3, 4] }
                transcript: { type: string, maxLength: 20000 }
                assignment: { type: object }
              additionalProperties: false
      responses:
        '200': { description: Schema-validated speaking review }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
  /api/v1/ai/generate-speaking-sample:
    post:
      summary: Generate a validated model answer for speaking tasks 2-4
      responses:
        '200': { description: Schema-validated English model answer }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
  /api/tts:
    get:
      summary: Generate or return cached speech audio
      parameters:
        - { in: query, name: text, required: true, schema: { type: string, maxLength: 500 } }
        - { in: query, name: voice, schema: { type: string } }
        - { in: query, name: slow, schema: { type: string, enum: ['0', '1'] } }
      responses:
        '200': { description: MPEG audio, content: { audio/mpeg: {} } }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/stt:
    post:
      summary: Transcribe speech recording
      requestBody:
        required: true
        content:
          audio/webm:
            schema: { type: string, format: binary }
          audio/mp4:
            schema: { type: string, format: binary }
          audio/mpeg:
            schema: { type: string, format: binary }
          audio/ogg:
            schema: { type: string, format: binary }
          audio/wav:
            schema: { type: string, format: binary }
      responses:
        '200': { description: Transcript }
        '413': { description: Audio payload exceeds configured maximum }
        '415': { description: Unsupported audio MIME type }
        '429': { $ref: '#/components/responses/RateLimited' }
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: eb_token
  schemas:
    Progress:
      type: object
      additionalProperties: true
  responses:
    BadRequest: { description: Invalid request }
    Unauthorized: { description: Missing or expired session }
    Forbidden: { description: Subscription inactive }
    RateLimited: { description: Rate limit exceeded }
    ServiceUnavailable: { description: Dependency unavailable }
