openapi: 3.0.3
info:
  title: Easy Boost API
  version: 1.0.0
  description: Production HTTP API. Authentication uses an HttpOnly SameSite cookie.
servers:
  - url: https://useboost.ru
security:
  - cookieAuth: []
paths:
  /api/v1/admin/metrics:
    get:
      summary: Read process uptime plus bounded PII-free HTTP, Voice Tutor and adaptive-learning metrics
      description: The adaptiveLearning projection is versioned as adaptive-metrics-v1 and contains only fixed-cardinality aggregate counters/rates for its explicit rolling 90-day UTC window. It never contains username, owner/session/attempt/skill identifiers, answers, free text, transcript, audio, credentials or idempotency values. startRate uses created as denominator; completionRate uses started; plannedMinutesCompletionRate uses planned learning minutes; retention rates use observed verified repeat outcomes. Empty denominators produce rate 0. See docs/ADAPTIVE_LEARNING_OPERATIONS.md for sample gates and incident handling.
      responses:
        '200':
          description: Metrics snapshot for an administrator, including adaptiveLearning when the repository supports it
          content:
            application/json:
              schema:
                type: object
                properties:
                  adaptiveLearning: { $ref: '#/components/schemas/AdaptiveLearningMetrics' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /health/live:
    get:
      security: []
      summary: Process liveness
      responses:
        '200': { description: Process is alive }
  /health/ready:
    get:
      security: []
      summary: Application and database readiness
      responses:
        '200': { description: Ready }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
  /api/v1/tg/start:
    post:
      security: []
      summary: Create a short-lived Telegram authorization code
      responses:
        '200':
          description: Authorization URL and opaque code
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/tg/check:
    get:
      security: []
      summary: Check and consume Telegram authorization code
      parameters:
        - in: query
          name: code
          required: true
          schema: { type: string, maxLength: 256 }
      responses:
        '200': { description: Pending or authenticated state }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/speaking/accent-profile:
    get:
      summary: Read the learner's future-effective Speaking accent profile
      description: Returns the current en-GB/en-US profile and a resumable one-time setup pointer. The profile is owner-bound; changes never rewrite a session snapshot or an earlier assessment.
      responses:
        '200':
          description: Current profile, pending one-time setup and setup-required flag
          content: { application/json: { schema: { $ref: '#/components/schemas/SpeakingAccentProfileState' } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    put:
      summary: Select en-GB or en-US for future Speaking sessions
      description: Creates an audited future-effective revision. Manual selection atomically cancels any pending one-time comparison, which can no longer complete or overwrite the explicit choice.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [locale]
              properties: { locale: { type: string, enum: [en-GB, en-US] } }
              additionalProperties: false
      responses:
        '200': { description: Audited profile revision, content: { application/json: { schema: { $ref: '#/components/schemas/SpeakingAccentProfileMutation' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v1/speaking/accent-profile/calibration:
    post:
      summary: Start the one-time unknown-accent comparison
      description: Creates one owner-bound setup only while no accent profile exists. It accepts no client scores and can never be restarted after completion or manual cancellation.
      requestBody:
        content: { application/json: { schema: { type: object, additionalProperties: false } } }
      responses:
        '201': { description: Pending setup pointer }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { description: Setup was already used or an accent profile already exists }
  /api/v1/speaking/accent-profile/calibration/{setupId}/complete:
    post:
      summary: Complete one dual-accent setup from two final owner-bound assessments
      description: Both assessment keys must refer to the same server-owned task context, one en-GB and one en-US. The server makes one versioned suggestion; ordinary attempts never cherry-pick the higher accent score.
      parameters:
        - { in: path, name: setupId, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enGbAssessmentKey, enUsAssessmentKey]
              properties:
                enGbAssessmentKey: { type: string, format: uuid }
                enUsAssessmentKey: { type: string, format: uuid }
              additionalProperties: false
      responses:
        '200': { description: Suggested profile and bounded confidence label }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { description: Invalid, foreign, mismatched or already-used evidence }
  /api/v1/speaking/calibration-consent:
    get:
      summary: Read the separate research-calibration consent
      description: This consent is independent from ordinary voice processing. Declining or revoking it does not restrict training or paid subscription features.
      responses:
        '200': { description: Current consent and current policy version }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      summary: Grant or revoke voluntary research-calibration consent
      description: A minor requires explicit guardian confirmation. Revocation immediately deletes retained owner-bound calibration audio.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [granted, ageGroup, guardianConfirmed]
              properties:
                granted: { type: boolean }
                ageGroup: { type: string, enum: [adult, minor] }
                guardianConfirmed: { type: boolean }
              additionalProperties: false
      responses:
        '200': { description: Updated separate consent, content: { application/json: { schema: { $ref: '#/components/schemas/SpeakingCalibrationConsent' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { description: Guardian confirmation is required }
  /api/v1/speaking/calibration-samples:
    post:
      summary: Voluntarily retain one finalized assessment recording for blinded calibration
      description: Requires separate current calibration consent and an owner-bound finalized assessment key in X-Speaking-Assessment-Key. The SHA-256 digest of the submitted PCM WAV must match the exact audio assessed under that key. Task 2/3 item-level recordings are not complete task labels and are rejected until a server-owned aggregate enrollment exists. The WAV is capped at 10 MiB and expires within 180 days. No ordinary recording is retained by this endpoint implicitly.
      parameters:
        - { in: header, name: X-Speaking-Assessment-Key, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          audio/wav: { schema: { type: string, format: binary, maxLength: 10485760, x-maxBytes: 10485760 } }
      responses:
        '201': { description: Owner-visible allowlisted sample metadata, content: { application/json: { schema: { $ref: '#/components/schemas/SpeakingCalibrationSample' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { description: Consent or assessment evidence is missing }
        '413': { description: Audio exceeds the configured ceiling }
  /api/v1/speaking/calibration-reviews/next:
    get:
      summary: Claim the next blinded calibration card as an administrator
      description: No direct learner identifiers are exposed. The card includes immutable enrolled task and rubric snapshots copied from the validated server catalog when the owner contributes audio, so later catalog rollout cannot alter or strand it. A reviewer can never claim the same sample for a second independent position; each claim lease lasts 15 minutes but never extends the sample's 180-day expiry.
      responses:
        '200': { description: Blinded task and scoring card, content: { application/json: { schema: { $ref: '#/components/schemas/SpeakingCalibrationExpertCard' } } } }
        '204': { description: No eligible sample }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v1/speaking/calibration-reviews/{sampleId}/audio:
    get:
      summary: Read claimed calibration audio as an administrator
      description: Available only to the same administrator during the active 15-minute claim lease, before the exact 180-day expiry and before raw deletion.
      parameters:
        - { in: path, name: sampleId, required: true, schema: { type: string, format: uuid } }
      responses:
        '200': { description: Temporary raw PCM WAV, content: { audio/wav: { schema: { type: string, format: binary } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Sample is unclaimed, expired or already erased }
  /api/v1/speaking/calibration-reviews/{sampleId}:
    post:
      summary: Submit one independent blinded rating
      description: Only sufficient independent ratings count. Two agreeing sufficient positions complete the sample; material disagreement requires a third sufficient independent adjudicator before raw deletion. An insufficient rating leaves audio queued until enough sufficient ratings, revocation or expiry.
      parameters:
        - { in: path, name: sampleId, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [sufficient]
                  properties:
                    sufficient: { type: boolean, enum: [false] }
                  additionalProperties: false
                - type: object
                  required: [sufficient, score, criticalError]
                  properties:
                    sufficient: { type: boolean, enum: [true] }
                    score: { type: integer, minimum: 0, maximum: 10 }
                    criticalError: { type: boolean }
                  additionalProperties: false
      responses:
        '200': { description: Bounded review count, state and raw-audio retention flag }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { description: Claim, independence or availability conflict }
  /api/v1/speaking/pronunciation-assessments/status:
    get:
      summary: Read Azure pronunciation availability and the current monthly seconds ledger
      description: Requires an active subscription. Local recording and playback do not call this paid assessment path and consume zero seconds. Missing configuration or the optional official SDK is returned as an honest unavailable state.
      responses:
        '200':
          description: Bounded provider state and authoritative Base/Premium monthly quota
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingPronunciationStatus' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v1/speaking/learning-report:
    get:
      summary: Read the learner's current Speaking analysis and adaptive next step
      description: Requires an active subscription, rechecked under the owner lock immediately before the snapshot is built; expiry after the route precheck returns SUBSCRIPTION_REQUIRED without report data. Base receives the complete latest bounded analysis and its 60-minute monthly pronunciation allowance. Premium receives the same official result, a 240-minute allowance, longitudinal dynamics, comparison, targeted practice on a different suitable server-owned task when such material exists, and a bounded Voice Tutor pointer. If the catalog has no suitable focus material, the report exposes that target as unavailable instead of silently substituting an unrelated task. Assisted, technically invalid or low-confidence attempts remain visible but never raise mastery.
      responses:
        '200':
          description: Fresh entitlement-aware Speaking learning report; no raw audio or provider payload
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingLearningReport' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v1/speaking/task-{taskType}/sessions/{sessionId}/assistance:
    post:
      summary: Mark an owner-bound Speaking session as assisted before help is shown
      description: Server-owned, irreversible and idempotent marker. The body must be empty. Any evaluation from this exact session remains useful for feedback but cannot raise adaptive mastery.
      parameters:
        - { in: path, name: taskType, required: true, schema: { type: integer, enum: [1, 2, 3, 4] } }
        - { in: path, name: sessionId, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Assistance marker stored for the exact session
          content:
            application/json:
              schema:
                type: object
                required: [assistanceUsed]
                properties:
                  assistanceUsed: { type: boolean, enum: [true] }
                additionalProperties: false
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Session not found for this learner and task type }
  /api/v1/speaking/task-1/sessions/{sessionId}/pronunciation-assessment:
    post:
      summary: Assess one owner-bound task 1 recording with the server-owned reference text
      description: The server loads the pinned task text and never accepts reference text, rubric, tariff or provider settings from the client. The current production SDK seam accepts validated mono 16-bit PCM WAV at 16 kHz only; encoded WebM/MP4/MP3/Ogg requires a separately verified transcoder and is rejected before reservation. Duration is derived from the WAV data chunk, checked against the header and the server-owned 90-second task bound. A reservation is created atomically before Azure starts. Timeout or provider error after continuous recognition starts conservatively bills the full reservation, while a pre-start failure releases it. A five-minute lease reconciles interrupted pre-start work to a canonical zero-bill release and interrupted post-start work to a canonical full-reservation settlement. Exact idempotent replay returns that canonical result without a second charge.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: X-Speech-Locale
          required: true
          schema: { type: string, enum: [en-GB, en-US] }
        - in: header
          name: X-Audio-Duration-Seconds
          required: true
          schema: { type: number, minimum: 1, maximum: 90 }
      requestBody:
        required: true
        content:
          audio/wav: { schema: { type: string, format: binary, maxLength: 10485760, x-maxBytes: 10485760 } }
      responses:
        '200':
          description: Bounded normalized result, billing settlement and remaining quota; never raw provider payload, credentials or audio
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingPronunciationAssessment' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Session not found for this learner }
        '409': { description: Idempotency key conflict or incompatible catalog revision }
        '413': { description: Audio exceeds the configured 10 MiB ceiling }
        '415': { description: Unsupported audio MIME type }
        '429': { description: Monthly provider seconds exhausted; local recording remains available }
        '503': { description: Azure configuration or the optional official SDK is unavailable }
  /api/v1/speaking/task-2/sessions/{sessionId}/pronunciation-assessment:
    post:
      summary: Assess one owner-bound task 2 direct question
      description: Accepts only mono PCM16 16 kHz WAV. X-Speaking-Item binds the recording to one of the four server-owned supports. The server stores no audio and rejects an invalid owner, catalog revision or item before provider work.
      parameters:
        - { in: path, name: sessionId, required: true, schema: { type: string, format: uuid } }
        - { in: header, name: Idempotency-Key, required: true, schema: { type: string, format: uuid } }
        - { in: header, name: X-Speech-Locale, required: true, schema: { type: string, enum: [en-GB, en-US] } }
        - { in: header, name: X-Audio-Duration-Seconds, required: true, schema: { type: number, minimum: 1, maximum: 20 } }
        - { in: header, name: X-Speaking-Item, required: true, schema: { type: integer, minimum: 1, maximum: 4 } }
      requestBody:
        required: true
        content:
          audio/wav: { schema: { type: string, format: binary, maxLength: 10485760, x-maxBytes: 10485760 } }
      responses:
        '200': { description: Final normalized assessment, billing settlement and quota, content: { application/json: { schema: { $ref: '#/components/schemas/SpeakingPronunciationAssessment' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Session not found for this learner }
        '409': { description: Idempotency key conflict or incompatible catalog revision }
        '413': { description: Audio exceeds the configured ceiling }
        '415': { description: Unsupported audio MIME type }
        '429': { description: Monthly provider seconds exhausted }
        '503': { description: Pronunciation provider unavailable }
  /api/v1/speaking/task-3/sessions/{sessionId}/pronunciation-assessment:
    post:
      summary: Assess one owner-bound task 3 interview answer
      description: Accepts only mono PCM16 16 kHz WAV. X-Speaking-Item binds the recording to one of the five server-owned questions. The server stores no audio.
      parameters:
        - { in: path, name: sessionId, required: true, schema: { type: string, format: uuid } }
        - { in: header, name: Idempotency-Key, required: true, schema: { type: string, format: uuid } }
        - { in: header, name: X-Speech-Locale, required: true, schema: { type: string, enum: [en-GB, en-US] } }
        - { in: header, name: X-Audio-Duration-Seconds, required: true, schema: { type: number, minimum: 1, maximum: 40 } }
        - { in: header, name: X-Speaking-Item, required: true, schema: { type: integer, minimum: 1, maximum: 5 } }
      requestBody:
        required: true
        content:
          audio/wav: { schema: { type: string, format: binary, maxLength: 10485760, x-maxBytes: 10485760 } }
      responses:
        '200': { description: Final normalized assessment, billing settlement and quota, content: { application/json: { schema: { $ref: '#/components/schemas/SpeakingPronunciationAssessment' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Session not found for this learner }
        '409': { description: Idempotency key conflict or incompatible catalog revision }
        '413': { description: Audio exceeds the configured ceiling }
        '415': { description: Unsupported audio MIME type }
        '429': { description: Monthly provider seconds exhausted }
        '503': { description: Pronunciation provider unavailable }
  /api/v1/speaking/task-4/sessions/{sessionId}/pronunciation-assessment:
    post:
      summary: Assess one owner-bound task 4 monologue
      description: Accepts only mono PCM16 16 kHz WAV up to the official 180-second response bound. The server stores no audio and attaches the final assessment only to the exact pinned catalog session.
      parameters:
        - { in: path, name: sessionId, required: true, schema: { type: string, format: uuid } }
        - { in: header, name: Idempotency-Key, required: true, schema: { type: string, format: uuid } }
        - { in: header, name: X-Speech-Locale, required: true, schema: { type: string, enum: [en-GB, en-US] } }
        - { in: header, name: X-Audio-Duration-Seconds, required: true, schema: { type: number, minimum: 1, maximum: 180 } }
      requestBody:
        required: true
        content:
          audio/wav: { schema: { type: string, format: binary, maxLength: 10485760, x-maxBytes: 10485760 } }
      responses:
        '200': { description: Final normalized assessment, billing settlement and quota, content: { application/json: { schema: { $ref: '#/components/schemas/SpeakingPronunciationAssessment' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Session not found for this learner }
        '409': { description: Idempotency key conflict or incompatible catalog revision }
        '413': { description: Audio exceeds the configured ceiling }
        '415': { description: Unsupported audio MIME type }
        '429': { description: Monthly provider seconds exhausted }
        '503': { description: Pronunciation provider unavailable }
  /api/v1/speaking/task-1/sessions:
    post:
      summary: Assign one server-owned Speaking task 1 text to the current learner
      description: Selects from the versioned 60-item catalog using unseen, due, weak, then old rotation without immediately repeating a text when an alternative exists. Requires an active base subscription and a saved accent profile. For targeted practice the active base subscription is rechecked under the owner lock before Premium or pointer validation; an intervening Base expiry returns SUBSCRIPTION_REQUIRED and creates no session, while a Premium-only downgrade keeps Base access and makes the pointer stale. Premium may send the exact current targeted-practice pointer from the learning report; the server revalidates it and excludes the source material. The only first-run exception is the exact pending calibration setup owned by the learner; its setup ID permits task 1 only until the learner chooses en-GB or en-US.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                calibrationSetupId: { type: string, format: uuid }
                targetedPractice: { $ref: '#/components/schemas/SpeakingTargetedPracticeRequest' }
      responses:
        '201':
          description: Owner-bound task 1 session with official 90-second preparation and response stages; no answer key, source provenance, audio, transcript, or phonetic score is exposed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingTask1Session' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { description: Accent profile is required, calibrationSetupId is not the learner's exact pending first-run setup, or the targeted-practice pointer is stale }
  /api/v1/speaking/task-1/sessions/{sessionId}:
    get:
      summary: Read the current learner's Speaking task 1 session
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: The owner-bound session and safe practice metadata
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingTask1Session' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Session not found for this learner }
        '409': { description: The stored session uses an incompatible catalog revision and must be restarted safely }
  /api/v1/speaking/task-1/sessions/{sessionId}/complete:
    post:
      summary: Complete a Speaking task 1 session with bounded practice metadata
      description: Stores duration, microphone-check status, local-playback confirmation and self-rating only. The browser recording remains local. Automatic training assessment is a separate, explicit post-completion upload action.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SpeakingTask1Completion' }
      responses:
        '200':
          description: Completed owner-bound session; retries return the canonical stored metadata
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingTask1Session' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Session not found for this learner }
  /api/v1/speaking/task-2/sessions:
    post:
      summary: Assign one server-owned Speaking task 2 advertisement to the current learner
      description: Selects from the validated 60-item catalog. The server fixes the advertisement and exactly four communicative supports under the EGE-2026 60-second preparation and four-by-20-second contract. Premium may send the exact fresh targeted-practice pointer; under the owner lock the server first rechecks active Base access, then Premium and pointer freshness, so Base expiry returns SUBSCRIPTION_REQUIRED without creating a session. The source assignment is excluded and the selector uses a different suitable server-owned task. A saved accent profile is required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                targetedPractice: { $ref: '#/components/schemas/SpeakingTargetedPracticeRequest' }
              additionalProperties: false
      responses:
        '201':
          description: Owner-bound task 2 session with four pending question positions
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingTask2Session' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { description: Accent profile is required, or the targeted-practice pointer is stale }
  /api/v1/speaking/task-2/sessions/{sessionId}:
    get:
      summary: Restore the current learner's Speaking task 2 session
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: The owner-bound assignment and safe per-question practice metadata
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingTask2Session' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Session not found for this learner }
        '409': { description: The stored session uses an incompatible catalog revision and must be restarted safely }
  /api/v1/speaking/task-2/sessions/{sessionId}/questions/{questionNumber}/complete:
    post:
      summary: Complete the current local question recording with safe metadata
      description: Accepts questions 1 through 4 in order. Binary audio stays in the browser; retries of a completed position return its canonical stored metadata.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: questionNumber
          required: true
          schema: { type: integer, minimum: 1, maximum: 4 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SpeakingTask2QuestionCompletion' }
      responses:
        '200':
          description: Updated four-position owner-bound session
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingTask2Session' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Session not found for this learner }
        '409': { description: The learner skipped the current question or the stored catalog revision is incompatible }
  /api/v1/speaking/task-3/sessions:
    post:
      summary: Assign one server-owned Speaking task 3 interview to the current learner
      description: Selects from the validated 60-item catalog. The server fixes exactly five interview questions under the EGE-2026 no-preparation and five-by-40-second contract. Premium may send the exact fresh targeted-practice pointer; under the owner lock the server first rechecks active Base access, then Premium and pointer freshness, so Base expiry returns SUBSCRIPTION_REQUIRED without creating a session. The source assignment is excluded and the selector uses a different suitable server-owned task. A saved accent profile is required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                targetedPractice: { $ref: '#/components/schemas/SpeakingTargetedPracticeRequest' }
              additionalProperties: false
      responses:
        '201':
          description: Owner-bound task 3 session with five pending answer positions
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingTask3Session' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { description: Accent profile is required, or the targeted-practice pointer is stale }
  /api/v1/speaking/task-3/sessions/{sessionId}:
    get:
      summary: Restore the current learner's Speaking task 3 session
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: The owner-bound interview and safe per-answer practice metadata
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingTask3Session' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Session not found for this learner }
        '409': { description: The stored session uses an incompatible catalog revision and must be restarted safely }
  /api/v1/speaking/task-3/sessions/{sessionId}/answers/{questionNumber}/complete:
    post:
      summary: Complete the current local interview answer with safe metadata
      description: Accepts answer positions 1 through 5 in order. Binary audio stays in the browser; retries of a completed position return its canonical stored metadata.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: questionNumber
          required: true
          schema: { type: integer, minimum: 1, maximum: 5 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SpeakingTask3AnswerCompletion' }
      responses:
        '200':
          description: Updated five-position owner-bound session
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingTask3Session' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Session not found for this learner }
        '409': { description: The learner skipped the current answer or the stored catalog revision is incompatible }
  /api/v1/speaking/task-4/sessions:
    post:
      summary: Assign one server-owned Speaking task 4 photo project to the current learner
      description: Selects from the validated 60-item original photo-pair catalog under the EGE-2026 150-second preparation and 180-second response contract. Premium may send the exact fresh targeted-practice pointer; under the owner lock the server first rechecks active Base access, then Premium and pointer freshness, so Base expiry returns SUBSCRIPTION_REQUIRED without creating a session. The source assignment is excluded and the selector uses a different suitable server-owned task. A saved accent profile is required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                targetedPractice: { $ref: '#/components/schemas/SpeakingTargetedPracticeRequest' }
              additionalProperties: false
      responses:
        '201':
          description: Owner-bound task 4 session with a safe local photo-pair reference and four plan points
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingTask4Session' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { description: Accent profile is required, or the targeted-practice pointer is stale }
  /api/v1/speaking/task-4/sessions/{sessionId}:
    get:
      summary: Restore the current learner's Speaking task 4 session
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: The owner-bound photo project and safe practice metadata
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingTask4Session' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Session not found for this learner }
        '409': { description: The stored session uses an incompatible catalog revision and must be restarted safely }
  /api/v1/speaking/task-4/sessions/{sessionId}/complete:
    post:
      summary: Complete a Speaking task 4 session with bounded local-practice metadata
      description: Stores duration, microphone-check status, local-playback confirmation and self-rating only. Binary audio stays in the browser; automatic training assessment is a separate, explicit post-completion upload action.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SpeakingTask4Completion' }
      responses:
        '200':
          description: Completed owner-bound session; retries return canonical stored metadata
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingTask4Session' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Session not found for this learner }
  /api/v1/speaking/full-sessions:
    post:
      summary: Assign or resume one server-owned full EGE Speaking section
      x-accent-profile-required: true
      description: Pins one compatible revision of tasks 1–4 in official order with maxima 1+4+5+10=20. A saved accent profile is required. The client cannot choose assignments, and no answer, rubric, transcript, audio, score or analysis is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: false }
      responses:
        '201':
          description: Owner-bound full-section session at its exact current response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingFullSession' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { description: Accent profile is required, or the pinned catalog revision is no longer compatible and a safe restart is required }
  /api/v1/speaking/full-sessions/{sessionId}:
    get:
      summary: Restore the current learner's exact full Speaking position
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Owner-bound current assignment, server deadline and metadata-only progress
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingFullSession' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Full section not found for this learner }
        '409': { description: The pinned catalog revision is no longer compatible and a safe restart is required }
  /api/v1/speaking/full-sessions/{sessionId}/stage:
    post:
      summary: Advance the server-owned preparation or recording stage
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: false }
      responses:
        '200':
          description: Exact stage with a new server timestamp and deadline
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingFullSession' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Full section not found for this learner }
        '409': { description: Stage is out of sequence or the pinned revision is incompatible }
  /api/v1/speaking/full-sessions/{sessionId}/pronunciation-assessment:
    post:
      summary: Assess one recorded response from a submitted full Speaking section
      description: Locked until the whole section is submitted. At response completion the client sends a SHA-256 fingerprint of the canonical PCM16 mono 16 kHz WAV; upload atomically requires the same fingerprint and submitted duration, then pins the first assessment idempotency key to that exact owner, task revision, accent and response position. Ordinary raw audio is never persisted. Tasks 2 and 3 require X-Speaking-Item. Exact replay with the pinned key does not spend quota twice; a fresh key, replacement take or duration mismatch is rejected before provider work.
      parameters:
        - { in: path, name: sessionId, required: true, schema: { type: string, format: uuid } }
        - { in: header, name: Idempotency-Key, required: true, schema: { type: string, format: uuid } }
        - { in: header, name: X-Speech-Locale, required: true, schema: { type: string, enum: [en-GB, en-US] } }
        - { in: header, name: X-Audio-Duration-Seconds, required: true, schema: { type: number, minimum: 1, maximum: 180 } }
        - { in: header, name: X-Speaking-Task, required: true, schema: { type: integer, enum: [1, 2, 3, 4] } }
        - { in: header, name: X-Speaking-Item, required: false, schema: { type: integer, minimum: 1, maximum: 5 } }
      requestBody:
        required: true
        content:
          audio/wav: { schema: { type: string, format: binary, maxLength: 10485760, x-maxBytes: 10485760 } }
      responses:
        '200': { description: Final normalized assessment, billing settlement and quota, content: { application/json: { schema: { $ref: '#/components/schemas/SpeakingPronunciationAssessment' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Full section not found for this learner }
        '409': { description: Full section is not submitted, response was not recorded, accent/catalog differs, or the submitted fingerprint, duration or pinned idempotency key does not match }
        '413': { description: Audio exceeds the configured ceiling }
        '415': { description: Unsupported audio MIME type }
        '429': { description: Monthly provider seconds exhausted }
        '503': { description: Pronunciation provider unavailable }
  /api/v1/speaking/full-sessions/{sessionId}/responses:
    post:
      summary: Complete the exact current full-section response with bounded metadata
      description: Accepts all 11 positions in official 1+4+5+1 order. Audio remains local; for a completed response the browser may additionally send the SHA-256 fingerprint of its canonical PCM16 WAV so a later explicit assessment can prove it is the same submitted take. The fingerprint is stored internally and never returned in the public session DTO.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SpeakingFullResponseCompletion' }
      responses:
        '200':
          description: Updated metadata-only progress and next server-owned assignment
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingFullSession' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Full section not found for this learner }
        '409': { description: Response is out of sequence or the pinned revision is incompatible }
  /api/v1/speaking/full-sessions/{sessionId}/submit:
    post:
      summary: Submit the completed full Speaking section idempotently
      description: Returns a canonical metadata-only submission for every retry. Automatic assessment remains an explicit post-submit action, so no intermediate score or analysis is disclosed and ordinary raw audio is not persisted.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [idempotencyKey]
              properties:
                idempotencyKey: { type: string, format: uuid }
              additionalProperties: false
      responses:
        '200':
          description: Canonical honest submission result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SpeakingFullSubmission' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Full section not found for this learner }
        '409': { description: One or more of the 11 response positions are still pending }
  /api/v1/speaking/full-sessions/{sessionId}/evaluation:
    post:
      summary: Persist the approximate 0-20 full-section result from exact scored attempts
      description: Accepts only the current learner's completed or needs-retry Speaking attempts bound to this submitted full session and its four pinned task revisions. Missing recorded tasks, cross-owner attempts and mismatched task/catalog evidence fail closed. Skipped or technical tasks receive zero without a provider call. Replay returns the same canonical result.
      parameters:
        - { in: path, name: sessionId, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [attemptIds]
              properties:
                attemptIds:
                  type: array
                  minItems: 0
                  maxItems: 4
                  uniqueItems: true
                  items: { type: integer, minimum: 1 }
              additionalProperties: false
      responses:
        '200': { description: Canonical approximate per-task and 0-20 result, content: { application/json: { schema: { $ref: '#/components/schemas/SpeakingFullSubmission' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Full section not found for this learner }
        '409': { description: Attempt evidence does not match the submitted owner-bound session }
  /api/v1/me:
    get:
      summary: Current user, base subscription, Premium entitlements, remaining voice minutes and server-projected feature flags
      responses:
        '200': { description: User profile; `features.adaptive_learning` is true only when the server rollout flag is enabled }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/payments/requests:
    post:
      summary: Create or return the current user's pending Premium Voice payment request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product]
              properties:
                product: { type: string, enum: [premium_voice] }
              additionalProperties: false
      responses:
        '201': { description: New request created; no subscription or entitlement is self-granted }
        '200': { description: Existing pending request returned idempotently }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    get:
      summary: Read the current user's latest Premium Voice payment request and entitlement status
      parameters:
        - in: query
          name: product
          required: true
          schema: { type: string, enum: [premium_voice] }
      responses:
        '200': { description: Latest request or null plus current entitlement_active flag }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/admin/payment-requests/{requestId}/resolve:
    post:
      summary: Idempotently approve or reject a payment request as an administrator
      parameters:
        - in: path
          name: requestId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [approved, rejected] }
              additionalProperties: false
      responses:
        '200': { description: Terminal request result. Premium approval atomically grants or extends the base subscription and bounded voice_tutor entitlement to the same end time; rejection grants nothing. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Administrator role required; students cannot self-grant and administrators cannot approve their own request }
        '404': { description: Payment request not found }
  /api/v1/admin/payment-requests:
    get:
      summary: List the actionable Premium Voice payment queue for an administrator
      parameters:
        - in: query
          name: product
          required: true
          schema: { type: string, enum: [premium_voice] }
        - in: query
          name: status
          required: true
          schema: { type: string, enum: [new] }
      responses:
        '200': { description: Bounded request UUID, username, product and status rows used to resolve verified payments }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Administrator role required }
  /api/v1/admin/users/{username}/entitlements/voice_tutor/revoke:
    post:
      summary: Idempotently revoke the active Voice Tutor entitlement without rewriting base subscription history
      parameters:
        - in: path
          name: username
          required: true
          schema: { type: string, minLength: 1, maxLength: 64 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: false }
      responses:
        '200': { description: Whether an active entitlement was revoked }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Administrator role required }
  /api/v1/voice-tutor/errors:
    post:
      summary: Server-check and record a supported grammar or vocabulary error before tutoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [attemptId, module, itemId, revision, learnerAnswer]
              properties:
                attemptId: { type: string, format: uuid }
                module: { type: string, enum: [grammar, vocabulary] }
                itemId: { type: string, minLength: 4, maxLength: 120 }
                revision: { type: integer, minimum: 1, maximum: 10000 }
                learnerAnswer: { type: string, minLength: 1, maxLength: 200 }
              additionalProperties: false
      responses:
        '201': { description: Incorrect answer checked against the canonical item and retained only as bounded normalized metadata on this source attempt }
        '200': { description: Existing idempotent attempt result }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: The current subscription has no voice_tutor entitlement }
        '422': { description: Answer is correct, item is unsupported, or revision is stale }
  /api/v1/voice-tutor/recovery-map:
    parameters:
      - $ref: '#/components/parameters/ExpectedOwner'
    get:
      summary: Read the current user's server-owned error recovery map
      responses:
        '200':
          description: Bounded open/recovered/relapsed skills with initial micro-check result, voice minutes, due repeats, next useful review and non-official potential-points estimate
          headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/voice-tutor/repeats/{repeatId}/attempts:
    parameters:
      - $ref: '#/components/parameters/ExpectedOwner'
    post:
      summary: Submit one answer to a due server-owned day-1/day-7 analog
      parameters:
        - in: path
          name: repeatId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [attemptId, taskId, answer]
                  properties:
                    attemptId: { type: string, format: uuid }
                    taskId: { type: string, minLength: 4, maxLength: 180 }
                    answer: { type: string, minLength: 1, maxLength: 200, description: Checked transiently and never persisted }
                  additionalProperties: false
                - type: object
                  required: [attemptId, taskId, answer, adaptiveExecutionClaim, adaptiveSessionId]
                  properties:
                    attemptId: { type: string, format: uuid }
                    taskId: { type: string, minLength: 4, maxLength: 180 }
                    answer: { type: string, minLength: 1, maxLength: 200, description: Checked transiently and never persisted }
                    adaptiveExecutionClaim: { type: string, minLength: 32, maxLength: 200, description: Binds this exact existing repeat attempt to the active adaptive retention block. }
                    adaptiveSessionId: { type: string, format: uuid }
                  additionalProperties: false
      responses:
        '201': { description: New bounded pass/fail outcome; answer text is absent, headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } } }
        '200': { description: Idempotent replay of the same attempt UUID and payload, headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { description: Repeat does not belong to the current user }
        '409': { description: Future, superseded, out-of-order, already attempted or conflicting replay }
        '422': { description: Task identity mismatch or invalid answer }
  /api/v1/voice-tutor/context-attempts:
    post:
      summary: Validate a completed canonical reading or listening set and record its incorrect answers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [attemptId, module, setId, revision, answers]
              properties:
                attemptId: { type: string, format: uuid }
                module: { type: string, enum: [reading, listening] }
                setId: { type: string, minLength: 4, maxLength: 120 }
                revision: { type: integer, minimum: 1, maximum: 10000 }
                answers:
                  type: array
                  minItems: 1
                  maxItems: 20
                  items: { type: string, minLength: 1, maxLength: 200 }
              additionalProperties: false
      responses:
        '201': { description: Canonical result and deterministic child error attempts recorded }
        '200': { description: Existing idempotent result returned with the same child error attempt ids }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: The current subscription has no voice_tutor entitlement }
        '409': { description: Canonical set revision is stale, or the result UUID was already bound to different answers }
        '422': { description: Set, answer count, or an answer option does not match server-owned content }
  /api/v1/voice-tutor/sessions:
    post:
      summary: Reserve Voice Tutor quota and build a server-owned supported-module capsule (or mark trusted discovery required)
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 8, maxLength: 100 }
      requestBody:
        description: Omit the body for the legacy quota-only reservation. Grammar/lexicon/reading/listening send a UUID attempt pointer; writing/speaking send a server-issued numeric review pointer, source and one server-issued lost-criterion index. A max-score Speaking result may instead send its exact unexpired server-issued pronunciation-error ref. No answer, transcript, assignment or review is accepted here.
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [attemptId, revision]
                  properties:
                    attemptId: { type: string, format: uuid }
                    revision: { type: integer, minimum: 1, maximum: 10000 }
                  additionalProperties: false
                - type: object
                  required: [source, attemptId, revision, criterionIndex]
                  properties:
                    source: { type: string, enum: [writing, speaking] }
                    attemptId: { type: integer, minimum: 1 }
                    revision: { type: integer, minimum: 1, maximum: 10000 }
                    criterionIndex: { type: integer, minimum: 0, maximum: 20 }
                  additionalProperties: false
                - type: object
                  required: [source, attemptId, revision, pronunciationErrorRef]
                  properties:
                    source: { type: string, enum: [speaking] }
                    attemptId: { type: integer, minimum: 1 }
                    revision: { type: integer, enum: [1] }
                    pronunciationErrorRef:
                      type: string
                      maxLength: 120
                      pattern: '^(?:word|phoneme)\.[0-9]+\.[0-9]+(?:\.[0-9]+)?$'
                  additionalProperties: false
      responses:
        '201': { description: Capsule created. Voice mode exposes only a random one-use application ticket, expires_at clamped to the reserved session deadline, same-origin proxy_url and pedagogy nonce. Provider credentials, URL, prompt, model and tools remain server-only. Policy/configuration fallback is selected before reservation; after reservation, only an explicitly classified provider-unavailable ticket failure may return the same capsule in text/local mode. Subscription, Premium, pronunciation-pointer, session-integrity, expiry and conflict errors propagate without fallback, AI call or nonce rotation. }
        '200': { description: Existing idempotent result. The owner-serialized replay first rechecks the active Base subscription and Premium entitlement at fresh authority time. For a pronunciation capsule it also reloads the owner attempt and revalidates assistance, mastery eligibility, exact weakest ref and 30-day expiry inside that same mutation. A lost voice 201 returns realtime.status=reissue_required and a bounded realtime.reissue_url, never the original ticket or nonce. A provisional voice reservation with no issued ticket atomically receives its first ticket plus a replacement nonce, or becomes zero-billable local mode when realtime is unavailable. A lost text/local 201 atomically rotates and returns one replacement pedagogy nonce without repeating the AI call. A legacy or partially committed null delivery is atomically completed as zero-billable local mode. Any recovery is allowed exactly once. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: The fresh owner-locked subscription or voice_tutor entitlement is inactive; exact replay returns no session payload and cannot issue or rotate a ticket or nonce }
        '409': { description: Another Voice Tutor session is active, or the selected server-owned speaking pronunciation pointer is stale or expired }
        '422': { description: Attempt, canonical item/context, or completed validated writing/speaking review is not supported }
        '429': { description: Daily or monthly voice quota is exhausted }
        '503': { description: New quota-only voice reservation is disabled by the feature flag, cost kill switch or required-but-unconfirmed ZDR policy; tracer requests continue with text/local fallback in a 201 response }
  /api/v1/voice-tutor/rule-discoveries:
    post:
      summary: Discover a provisional EGE rule from server-allowlisted sources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id, nonce]
              properties:
                session_id: { type: string, format: uuid }
                nonce: { type: string, minLength: 16, maxLength: 200 }
              additionalProperties: false
      responses:
        '201': { description: Explicitly provisional pending_review rule with at least two source URLs, atomically bound to the still-active owner session; includes the next one-time nonce for the explain state }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Premium voice_tutor entitlement required }
        '409': { description: Session is inactive or no longer requires discovery, nonce was replayed, another discovery owns the session claim, or an approved canonical card already exists }
        '422': { description: One source, conflict, blocked URL or invalid evidence; no fact/card is created }
        '429': { description: Per-user trusted-rule search or extraction rate limit is exhausted }
        '503': { description: Discovery is not configured, the UTC AI budget is exhausted, or a bounded dependency failed }
  /api/v1/voice-tutor/rules/{skillId}:
    get:
      summary: Retrieve only an approved canonical rule card
      parameters:
        - in: path
          name: skillId
          required: true
          schema: { type: string, maxLength: 120 }
        - in: query
          name: exam_year
          required: true
          schema: { type: integer, minimum: 2020, maximum: 2100 }
      responses:
        '200': { description: Approved bounded rule and source URLs }
        '404': { description: No approved rule exists; pending/rejected cards are hidden }
  /api/v1/voice-tutor/rule-cards:
    get:
      summary: List rule cards for an administrator review queue
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [pending_review, approved, rejected], default: pending_review }
      responses:
        '200': { description: Bounded cards with source URL/hash metadata and review audit }
        '403': { description: Administrator role required }
  /api/v1/voice-tutor/rule-cards/{cardId}/review:
    post:
      summary: Idempotently approve or reject one pending rule card as an administrator
      parameters:
        - in: path
          name: cardId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [approved, rejected] }
              additionalProperties: false
      responses:
        '200': { description: First transition or idempotent replay of the same decision }
        '403': { description: Administrator role required }
        '404': { description: Rule card not found }
        '409': { description: Card already has the opposite terminal decision }
  /api/v1/voice-tutor/sessions/{sessionId}/events:
    post:
      summary: Advance diagnose, explain, micro-check and transfer with a rotating nonce
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nonce, event]
              properties:
                nonce: { type: string, minLength: 16, maxLength: 200 }
                provider_call_id:
                  type: string
                  minLength: 1
                  maxLength: 128
                  pattern: '^[A-Za-z0-9._:-]+$'
                  description: Required in voice delivery and accepted only for the matching outstanding advance_pedagogy call; omitted only in text/local delivery
                event:
                  type: object
                  required: [type]
                  properties:
                    type: { type: string, enum: [diagnosis_complete, explanation_complete, check_answer, transfer_answer] }
                    answer: { type: string, maxLength: 200 }
              additionalProperties: false
      responses:
        '200': { description: Server-validated state and next one-time nonce; a provider_call_id must match the outstanding call and authorizes exactly one strict accepted/state function output after the nonce transition; with current text_processing consent, text delivery also returns the next bounded AI turn, otherwise it atomically downgrades to the canonical local rule }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { description: Invalid transition or replayed nonce }
        '503': { description: Voice delivery omitted or failed exact provider call correlation }
  /api/v1/voice-tutor/sessions/{sessionId}/fallback:
    post:
      summary: Continue the server-finalized proxy capsule in text or local mode without accepting client usage or wall-clock evidence
      description: The owner-serialized file mutation or PostgreSQL transaction first takes a fresh post-lock authority time, rechecks the whole active Base subscription and Premium entitlement, and for an exact pronunciation capsule locks and rebuilds its current attempt/ref/assistance/mastery/30-day-expiry evidence. Only a valid snapshot may finalize billing/status and rotate the fallback nonce.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nonce]
              properties:
                nonce: { type: string, minLength: 16, maxLength: 200 }
                reason: { type: string, enum: [microphone_unavailable, provider_unavailable, session_timeout], default: microphone_unavailable }
              additionalProperties: false
      responses:
        '200': { description: Same owner-locked capsule through the budgeted text AI operation when current text_processing consent exists, otherwise through its local canonical rule. A ticket not consumed by the proxy bills zero; a consumed abnormal proxy session retains its full reservation; a clean provider-confirmed session uses server-observed input plus output PCM bytes. No client time or second reservation is accepted. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: The fresh owner-locked Base subscription or Premium voice_tutor entitlement is inactive; status, billing, outcome, delivery and nonce remain unchanged }
        '409': { description: Replayed nonce, session conflict, or the exact pronunciation attempt/ref/assistance/mastery/expiry evidence became stale; status, billing, outcome, delivery and nonce remain unchanged }
  /api/v1/voice-tutor/sessions/{sessionId}/clarifications:
    post:
      summary: Ask one bounded transient clarification without changing the pedagogical state
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nonce, kind]
              properties:
                nonce: { type: string, minLength: 16, maxLength: 200 }
                kind: { type: string, enum: [clarify, explain_differently] }
                message: { type: string, minLength: 1, maxLength: 200, description: Transient provider input; never persisted or logged }
              additionalProperties: false
      responses:
        '200': { description: Same FSM state, rotated nonce, bounded clarification count and transient text turn }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Current text-processing consent required }
        '409': { description: Replayed nonce }
        '429': { description: Three-turn clarification limit reached }
  /api/v1/voice-tutor/reports:
    post:
      summary: Submit a structured learner report without free text
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id, reason]
              properties:
                session_id: { type: string, format: uuid }
                reason: { type: string, enum: [incorrect_rule, unclear_explanation, bad_example, technical_issue] }
              additionalProperties: false
      responses:
        '201': { description: Owner-bound report queued with session/rule identifiers only }
        '200': { description: Idempotent existing report }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { description: Session does not belong to current user }
    get:
      summary: List the administrator learner-report review queue
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [pending, confirmed, dismissed], default: pending }
      responses:
        '200': { description: Structured queue and review audit without audio, transcript or learner text }
        '403': { description: Administrator role required }
  /api/v1/voice-tutor/reports/{reportId}/review:
    post:
      summary: Idempotently confirm or dismiss a structured learner report
      parameters:
        - in: path
          name: reportId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [confirmed, dismissed] }
              additionalProperties: false
      responses:
        '200': { description: First audited review or idempotent replay }
        '403': { description: Administrator role required }
        '404': { description: Report not found }
        '409': { description: Report already has the opposite decision }
  /api/v1/voice-tutor/sessions/{sessionId}/realtime-ticket:
    post:
      summary: Recover one lost session-creation response by rotating the one-use app ticket and pedagogy nonce
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 8, maxLength: 100 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '200': { description: If the single replacement response was also lost, the same key atomically completes the unactivated reservation as zero-bill local mode and returns one fallback nonce; no provider connection or charge remains possible. }
        '201': { description: Exactly one replacement ticket and nonce. The original ticket is invalidated atomically. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Current voice-processing consent and the fresh owner-locked Base subscription and Premium voice_tutor entitlement are rechecked before any ticket or nonce rotation }
        '404': { description: Session does not belong to the current user }
        '409': { description: Ticket already consumed, session expired, Idempotency-Key mismatch, replacement limit reached, or the stored exact pronunciation pointer became stale or expired before recovery }
  /api/v1/voice-tutor/sessions/{sessionId}/finish:
    post:
      summary: Idempotently finish an unused reservation; consumed proxy sessions remain governed by server-owned exact or conservative finalization
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Session finished, or the previous finish result returned }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Session does not belong to the current user }
  /api/v1/admin/status:
    get:
      summary: Verify administrator access
      responses:
        '200': { description: Administrator access confirmed }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Authenticated user does not have the admin role }
  /api/v1/logout:
    post:
      summary: Clear authentication cookie
      responses:
        '200': { description: Logged out }
  /api/v1/adaptive-learning/goal:
    parameters:
      - $ref: '#/components/parameters/ExpectedOwner'
    get:
      summary: Read the authenticated learner's current EGE goal
      responses:
        '200':
          description: Current goal or null
          headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } }
          content:
            application/json:
              schema:
                type: object
                required: [goal]
                properties:
                  goal:
                    allOf:
                      - $ref: '#/components/schemas/AdaptiveGoal'
                    nullable: true
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
    put:
      summary: Idempotently save a current EGE target and refresh the evidence-backed preliminary profile
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [targetExam, targetScore, examDate, weeklyMinutes]
              properties:
                targetExam: { type: string, enum: [ege_english] }
                targetScore: { type: integer, minimum: 0, maximum: 100 }
                examDate: { type: string, format: date, description: Must be later than the current UTC date. }
                weeklyMinutes: { type: integer, minimum: 30, maximum: 2520, multipleOf: 5 }
              additionalProperties: false
      responses:
        '201':
          description: Goal revision created and returned as one current goal/profile/plan snapshot
          headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdaptiveGoalMutationResponse' }
        '200':
          description: Exact idempotent replay or a request superseded by a newer concurrent goal; response still contains one authoritative current snapshot
          headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdaptiveGoalMutationResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { description: Idempotency key was already used with a different goal payload }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/overview:
    parameters:
      - $ref: '#/components/parameters/ExpectedOwner'
    get:
      summary: Read the current goal and an owner-bound profile bootstrapped from persisted attempts and Voice Tutor recoveries
      description: The overview remains available when the plan rollout is disabled so the authenticated learner can read the six-module evidence summary. In that mode goal and plan are null, while all goal, plan, diagnostic, report and session routes stay unavailable. This read does not bypass commercial capabilities. The complete evidence-profile-plan cycle runs at most three times. Exhausted profile CAS, plan save conflict, goal mismatch, goal/profile/evidence stale or recalculation conflict fails closed with one retryable 409 and Retry-After instead of returning a mixed snapshot. Evidence scoring fields are eligible only as finite JSON numbers with a positive maximum, and result flags only as JSON booleans; numeric-looking or boolean-looking strings do not affect mastery or the watermark.
      responses:
        '200':
          description: Goal plus transparent preliminary or established profile; no raw answer, essay, transcript or audio is copied
          headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdaptiveOverview' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409':
          description: Evidence, profile, goal or plan changed during all three bounded overview attempts; the client may retry the complete overview after the advertised delay.
          headers:
            Retry-After:
              schema: { type: string, enum: ['1'] }
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: object
                    required: [code, retryable]
                    properties:
                      code: { type: string, enum: [ADAPTIVE_PROFILE_RETRY_REQUIRED] }
                      retryable: { type: boolean, enum: [true] }
  /api/v1/adaptive-learning/plan:
    parameters:
      - $ref: '#/components/parameters/ExpectedOwner'
    get:
      summary: Read or idempotently refresh the authenticated learner's honest EGE forecast and weekly allocation
      description: Uses a transparent rule-based model, not calibrated IRT. The active score range is not a guarantee. The UTC start of recalculationBucket is the deterministic instant for forecast weeks, deadline/critical priority, allocation and calculatedAt; actual createdAt/updatedAt remain receipt timestamps. The preceding bucket keeps exactly 1/7 week before the exam-date bucket becomes action-required. A daily/evidence/base-revision fingerprint replays only after the complete normalized candidate envelope and plan semantics exactly match the retained revision, including exact retained old-goal candidates; regenerated identity and receipt timestamps are ignored. Unknown stale-goal fingerprints fail closed. New candidates are strictly validated and must match the current persisted profile vector under the owner lock. Compare-and-set retries concurrent recalculations against their actual winning base. Ordinary allocation changes are limited to 10 percentage points per visible skill and module. Only a goal revision reset or an owner/profile-bound critical retention window expiring within 24 hours may bypass the limit; the repository reconstructs the candidate from the authoritative persisted expiry and rejects invented scope.
      responses:
        '200':
          description: Current owner-bound goal, evidence profile and authoritative persisted plan revision
          headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdaptiveOverview' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { description: ADAPTIVE_GOAL_REQUIRED; the learner must save an EGE goal before a plan can be calculated }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/orientation:
    parameters:
      - $ref: '#/components/parameters/ExpectedOwner'
    get:
      summary: Read a Premium-only approximate CEFR/IELTS orientation from independently established skills
      description: Secondary orientation only. It is based on EGE evidence, refuses assisted-only mastery and is not an official IELTS result or CEFR certificate.
      responses:
        '200':
          description: Approximate orientation or an explicit insufficient-evidence result
          headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } }
          content:
            application/json:
              schema:
                type: object
                required: [access, orientation]
                properties:
                  access: { $ref: '#/components/schemas/AdaptiveAccess' }
                  orientation: { $ref: '#/components/schemas/AdaptiveLanguageOrientation' }
                additionalProperties: false
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: ADAPTIVE_PREMIUM_REQUIRED }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/reports/detailed:
    parameters:
      - $ref: '#/components/parameters/ExpectedOwner'
    get:
      summary: Read a Premium-only bounded report from completed adaptive session summaries
      description: Includes at most 12 recent completed sessions, aggregated module evidence and a secondary approximate CEFR/IELTS orientation. It never returns learner answers, essays, transcripts, audio, prompts or model responses and is not an official IELTS result.
      responses:
        '200':
          description: Detailed bounded report and current Premium access projection
          headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } }
          content:
            application/json:
              schema:
                type: object
                required: [access, report]
                properties:
                  access: { $ref: '#/components/schemas/AdaptiveAccess' }
                  report: { $ref: '#/components/schemas/AdaptiveDetailedReport' }
                additionalProperties: false
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: ADAPTIVE_PREMIUM_REQUIRED }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/sessions/preview:
    parameters:
      - $ref: '#/components/parameters/ExpectedOwner'
    post:
      summary: Deterministically preview an adaptive session against the current plan and rolling UTC-week budget
      description: The server selects only registered built-in activities. Durations are 15–120 minutes in five-minute increments; sessions longer than 60 minutes include one exact 10-minute break. The returned fingerprint binds the current plan revision, content registry, weekly budget snapshot and block sequence.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [durationMinutes]
              properties:
                durationMinutes: { type: integer, minimum: 15, maximum: 120, multipleOf: 5 }
              additionalProperties: false
      responses:
        '200':
          description: Server-time-stamped non-persisted preview
          headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } }
          content:
            application/json:
              schema:
                type: object
                required: [serverTime, preview]
                properties:
                  serverTime: { type: string, format: date-time }
                  preview: { $ref: '#/components/schemas/AdaptiveSessionPreview' }
                additionalProperties: false
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: ADAPTIVE_BASE_REQUIRED when Free requests more than the one 15-minute demo, or ADAPTIVE_FREE_DEMO_USED after that demo is created }
        '409': { description: ADAPTIVE_GOAL_REQUIRED, ADAPTIVE_INITIAL_DIAGNOSTIC_REQUIRED for a new learner without sufficient genuine production evidence or a completed short diagnostic, ADAPTIVE_SESSION_NO_CONTENT, or ADAPTIVE_SESSION_COVERAGE_GAP when no exact meaningful sequence can be composed from justified registered activities; an unsupported individual skill is surfaced in coverageGaps and uses explicit fallback instead of blocking by itself }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/sessions:
    parameters:
      - $ref: '#/components/parameters/ExpectedOwner'
    post:
      summary: Persist one owner-bound adaptive session from an exact current preview
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [durationMinutes, previewFingerprint]
              properties:
                durationMinutes: { type: integer, minimum: 15, maximum: 120, multipleOf: 5 }
                previewFingerprint: { type: string, pattern: '^[0-9a-f]{64}$' }
              additionalProperties: false
      responses:
        '201': { description: New session persisted, headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } }, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionMutationResult' } } } }
        '200': { description: Exact immutable create response replayed, headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } }, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionMutationResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: ADAPTIVE_BASE_REQUIRED or ADAPTIVE_FREE_DEMO_USED; exact Free-demo replay remains available only for its server-marked free_demo session }
        '409': { description: ADAPTIVE_INITIAL_DIAGNOSTIC_REQUIRED for a new learner (including an attempted create replay before initial evidence is complete), stale preview/plan, another current session, ADAPTIVE_SESSION_COVERAGE_GAP, unavailable content or idempotency conflict }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/sessions/current:
    parameters:
      - $ref: '#/components/parameters/ExpectedOwner'
    get:
      summary: Restore the authenticated learner's current created or in-progress adaptive session
      responses:
        '200':
          description: Current owner-bound session
          headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } }
          content:
            application/json:
              schema:
                type: object
                required: [session, execution, events, summary]
                properties:
                  session: { $ref: '#/components/schemas/AdaptiveLearningSession' }
                  execution: { $ref: '#/components/schemas/AdaptiveSessionExecution' }
                  events: { type: array, items: { $ref: '#/components/schemas/AdaptiveSessionEvent' } }
                  summary:
                    allOf: [{ $ref: '#/components/schemas/AdaptiveSessionSummary' }]
                    nullable: true
                additionalProperties: false
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: No current session belongs to the authenticated learner, or rollout is disabled }
  /api/v1/adaptive-learning/sessions/{sessionId}/replace:
    parameters:
      - $ref: '#/components/parameters/ExpectedOwner'
    post:
      summary: Replace or exclude one learning block once while preserving duration and block identities
      description: The alternative is selected from the same server-owned content registry and persisted plan revision. `excluded` removes the named block from this session and fills the same minutes with another useful skill, so the selected duration remains truthful. A session permits one replacement-or-exclusion total. Replacement is available only before execution starts; once a start is pending or any execution claim, started timestamp, positive execution revision, in-progress/completed state, or completion event exists, both a new request and an exact retry fail closed with `409 ADAPTIVE_SESSION_REPLACEMENT_LOCKED`.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [blockId, reason]
              properties:
                blockId: { type: string, pattern: '^asb_[0-9a-f]{16}_[0-9]{2}$' }
                reason: { type: string, enum: [too_difficult, too_easy, not_relevant, accessibility, excluded] }
              additionalProperties: false
      responses:
        '200': { description: Replacement or exclusion applied, or its exact response replayed, headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } }, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionReplacementResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Session or block does not belong to the authenticated learner }
        '409': { description: `ADAPTIVE_SESSION_REPLACEMENT_LOCKED` after execution has begun; otherwise the shared allowance was already used, no safe alternative exists, plan is unavailable, revision changed or the idempotency key conflicts }
  /api/v1/adaptive-learning/sessions/{sessionId}/start:
    parameters:
      - $ref: '#/components/parameters/ExpectedOwner'
    post:
      summary: Atomically start the exact current learning block and issue a short-lived opaque execution claim
      description: The claim is owner/session/block/launch/revision-bound and expires after two hours. Its plaintext value is reconstructed by a domain-separated server HMAC for an exact Idempotency-Key replay, is never stored in a mutation snapshot or claim row, and is never exported. Another live unconsumed claim and a stale compare-and-set revision fail closed; an expired unconsumed claim may be replaced. The response snapshot session revision, replacement state and exact launch fingerprint are validated against the owner-locked session before the claim is written, so a concurrent replacement yields a coherent current launch or 409 and never an old response paired with a new claim. If a claim was already consumed by an exact persisted attempt but its advance response was lost, the 200 response returns that attempt for a durable exact advance and never issues a second claim. A Premium-depth block rechecks active base plus voice entitlement inside the same owner-serialized repository mutation using time captured only after file queue acquisition or PostgreSQL `FOR UPDATE` (`clock_timestamp()`), never the request timestamp.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [blockId, expectedRevision]
              properties:
                blockId: { type: string, pattern: '^asb_[0-9a-f]{16}_[0-9]{2}$' }
                expectedRevision: { type: integer, minimum: 0 }
              additionalProperties: false
      responses:
        '201': { description: Current block started and claim issued, headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } }, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionStartResult' } } } }
        '200': { description: Exact immutable start response replayed, or a consumed exact attempt returned for durable recovery without a new claim, headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } }, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionStartResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: ADAPTIVE_PREMIUM_REQUIRED after current Premium entitlement is rechecked for a deep Writing/Speaking block }
        '404': { description: Owner-bound session or block was not found }
        '409': { description: Stale revision, wrong/current state, active claim or idempotency conflict }
  /api/v1/adaptive-learning/sessions/{sessionId}/bind-attempt:
    parameters:
      - $ref: '#/components/parameters/ExpectedOwner'
    post:
      summary: Bind a completed server-owned writing, speaking or day-1/day-7 repeat attempt to the active execution claim
      description: The browser supplies no score. The repository verifies owner, task/activity identity, completed status, creation after claim issuance and exact claim launch fingerprint. Repeat binding additionally verifies the exact owner recovery, repeat task, skill and module. Exact binding replay is safe. A Premium-depth block rechecks active base plus voice entitlement in the same owner-serialized mutation before consumed-claim replay or binding.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [executionClaim, attempt]
              properties:
                executionClaim: { type: string, minLength: 32, maxLength: 200, pattern: '^[A-Za-z0-9_-]+$' }
                attempt:
                  oneOf:
                    - type: object
                      required: [type, id]
                      properties:
                        type: { type: string, enum: [voice_tutor_repeat] }
                        id: { type: string, format: uuid }
                      additionalProperties: false
                    - type: object
                      required: [type, id]
                      properties:
                        type: { type: string, enum: [writing, speaking] }
                        id: { type: integer, minimum: 1 }
                      additionalProperties: false
              additionalProperties: false
      responses:
        '201': { description: Server-owned attempt bound to the claim, headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } } }
        '200': { description: Exact binding replayed, headers: { X-EasyBoost-Response-Owner: { $ref: '#/components/headers/X-EasyBoost-Response-Owner' } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: ADAPTIVE_PREMIUM_REQUIRED after current Premium entitlement is rechecked for a deep Writing/Speaking block }
[...]
