openapi: 3.0.3
info:
  title: Easy Boost API
  version: 1.0.0
  description: Production HTTP API. Authentication uses an HttpOnly SameSite cookie.
servers:
  - url: https://useboost.ru
security:
  - cookieAuth: []
paths:
  /api/v1/admin/metrics:
    get:
      summary: Read process uptime plus bounded PII-free HTTP, Voice Tutor and adaptive-learning metrics
      description: The adaptiveLearning projection is versioned as adaptive-metrics-v1 and contains only fixed-cardinality aggregate counters/rates for its explicit rolling 90-day UTC window. It never contains username, owner/session/attempt/skill identifiers, answers, free text, transcript, audio, credentials or idempotency values. startRate uses created as denominator; completionRate uses started; plannedMinutesCompletionRate uses planned learning minutes; retention rates use observed verified repeat outcomes. Empty denominators produce rate 0. See docs/ADAPTIVE_LEARNING_OPERATIONS.md for sample gates and incident handling.
      responses:
        '200':
          description: Metrics snapshot for an administrator, including adaptiveLearning when the repository supports it
          content:
            application/json:
              schema:
                type: object
                properties:
                  adaptiveLearning: { $ref: '#/components/schemas/AdaptiveLearningMetrics' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /health/live:
    get:
      security: []
      summary: Process liveness
      responses:
        '200': { description: Process is alive }
  /health/ready:
    get:
      security: []
      summary: Application and database readiness
      responses:
        '200': { description: Ready }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
  /api/v1/tg/start:
    post:
      security: []
      summary: Create a short-lived Telegram authorization code
      responses:
        '200':
          description: Authorization URL and opaque code
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/tg/check:
    get:
      security: []
      summary: Check and consume Telegram authorization code
      parameters:
        - in: query
          name: code
          required: true
          schema: { type: string, maxLength: 256 }
      responses:
        '200': { description: Pending or authenticated state }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/me:
    get:
      summary: Current user, base subscription, Premium entitlements, remaining voice minutes and server-projected feature flags
      responses:
        '200': { description: User profile; `features.adaptive_learning` is true only when the server rollout flag is enabled }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/payments/requests:
    post:
      summary: Create or return the current user's pending Premium Voice payment request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product]
              properties:
                product: { type: string, enum: [premium_voice] }
              additionalProperties: false
      responses:
        '201': { description: New request created; no subscription or entitlement is self-granted }
        '200': { description: Existing pending request returned idempotently }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    get:
      summary: Read the current user's latest Premium Voice payment request and entitlement status
      parameters:
        - in: query
          name: product
          required: true
          schema: { type: string, enum: [premium_voice] }
      responses:
        '200': { description: Latest request or null plus current entitlement_active flag }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/admin/payment-requests/{requestId}/resolve:
    post:
      summary: Idempotently approve or reject a payment request as an administrator
      parameters:
        - in: path
          name: requestId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [approved, rejected] }
              additionalProperties: false
      responses:
        '200': { description: Terminal request result. Premium approval atomically grants or extends the base subscription and bounded voice_tutor entitlement to the same end time; rejection grants nothing. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Administrator role required; students cannot self-grant and administrators cannot approve their own request }
        '404': { description: Payment request not found }
  /api/v1/admin/payment-requests:
    get:
      summary: List the actionable Premium Voice payment queue for an administrator
      parameters:
        - in: query
          name: product
          required: true
          schema: { type: string, enum: [premium_voice] }
        - in: query
          name: status
          required: true
          schema: { type: string, enum: [new] }
      responses:
        '200': { description: Bounded request UUID, username, product and status rows used to resolve verified payments }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Administrator role required }
  /api/v1/admin/users/{username}/entitlements/voice_tutor/revoke:
    post:
      summary: Idempotently revoke the active Voice Tutor entitlement without rewriting base subscription history
      parameters:
        - in: path
          name: username
          required: true
          schema: { type: string, minLength: 1, maxLength: 64 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: false }
      responses:
        '200': { description: Whether an active entitlement was revoked }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Administrator role required }
  /api/v1/voice-tutor/errors:
    post:
      summary: Server-check and record a supported grammar or vocabulary error before tutoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [attemptId, module, itemId, revision, learnerAnswer]
              properties:
                attemptId: { type: string, format: uuid }
                module: { type: string, enum: [grammar, vocabulary] }
                itemId: { type: string, minLength: 4, maxLength: 120 }
                revision: { type: integer, minimum: 1, maximum: 10000 }
                learnerAnswer: { type: string, minLength: 1, maxLength: 200 }
              additionalProperties: false
      responses:
        '201': { description: Incorrect answer checked against the canonical item and retained only as bounded normalized metadata on this source attempt }
        '200': { description: Existing idempotent attempt result }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: The current subscription has no voice_tutor entitlement }
        '422': { description: Answer is correct, item is unsupported, or revision is stale }
  /api/v1/voice-tutor/recovery-map:
    get:
      summary: Read the current user's server-owned error recovery map
      responses:
        '200':
          description: Bounded open/recovered/relapsed skills with initial micro-check result, voice minutes, due repeats, next useful review and non-official potential-points estimate
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/voice-tutor/repeats/{repeatId}/attempts:
    post:
      summary: Submit one answer to a due server-owned day-1/day-7 analog
      parameters:
        - in: path
          name: repeatId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [attemptId, taskId, answer]
                  properties:
                    attemptId: { type: string, format: uuid }
                    taskId: { type: string, minLength: 4, maxLength: 180 }
                    answer: { type: string, minLength: 1, maxLength: 200, description: Checked transiently and never persisted }
                  additionalProperties: false
                - type: object
                  required: [attemptId, taskId, answer, adaptiveExecutionClaim, adaptiveSessionId]
                  properties:
                    attemptId: { type: string, format: uuid }
                    taskId: { type: string, minLength: 4, maxLength: 180 }
                    answer: { type: string, minLength: 1, maxLength: 200, description: Checked transiently and never persisted }
                    adaptiveExecutionClaim: { type: string, minLength: 32, maxLength: 200, description: Binds this exact existing repeat attempt to the active adaptive retention block. }
                    adaptiveSessionId: { type: string, format: uuid }
                  additionalProperties: false
      responses:
        '201': { description: New bounded pass/fail outcome; answer text is absent }
        '200': { description: Idempotent replay of the same attempt UUID and payload }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { description: Repeat does not belong to the current user }
        '409': { description: Future, superseded, out-of-order, already attempted or conflicting replay }
        '422': { description: Task identity mismatch or invalid answer }
  /api/v1/voice-tutor/context-attempts:
    post:
      summary: Validate a completed canonical reading or listening set and record its incorrect answers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [attemptId, module, setId, revision, answers]
              properties:
                attemptId: { type: string, format: uuid }
                module: { type: string, enum: [reading, listening] }
                setId: { type: string, minLength: 4, maxLength: 120 }
                revision: { type: integer, minimum: 1, maximum: 10000 }
                answers:
                  type: array
                  minItems: 1
                  maxItems: 20
                  items: { type: string, minLength: 1, maxLength: 200 }
              additionalProperties: false
      responses:
        '201': { description: Canonical result and deterministic child error attempts recorded }
        '200': { description: Existing idempotent result returned with the same child error attempt ids }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: The current subscription has no voice_tutor entitlement }
        '409': { description: Canonical set revision is stale, or the result UUID was already bound to different answers }
        '422': { description: Set, answer count, or an answer option does not match server-owned content }
  /api/v1/voice-tutor/sessions:
    post:
      summary: Reserve Voice Tutor quota and build a server-owned supported-module capsule (or mark trusted discovery required)
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 8, maxLength: 100 }
      requestBody:
        description: Omit the body for the legacy quota-only reservation. Grammar/lexicon/reading/listening send a UUID attempt pointer; writing/speaking send a server-issued numeric review pointer, source and one server-issued lost-criterion index. No answer, transcript, assignment or review is accepted here.
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [attemptId, revision]
                  properties:
                    attemptId: { type: string, format: uuid }
                    revision: { type: integer, minimum: 1, maximum: 10000 }
                  additionalProperties: false
                - type: object
                  required: [source, attemptId, revision, criterionIndex]
                  properties:
                    source: { type: string, enum: [writing, speaking] }
                    attemptId: { type: integer, minimum: 1 }
                    revision: { type: integer, minimum: 1, maximum: 10000 }
                    criterionIndex: { type: integer, minimum: 0, maximum: 20 }
                  additionalProperties: false
      responses:
        '201': { description: Capsule created. Voice mode exposes only a random one-use application ticket, expires_at clamped to the reserved session deadline, same-origin proxy_url and pedagogy nonce. Provider credentials, URL, prompt, model and tools remain server-only. If voice is blocked or unavailable, the same capsule returns text/local mode with a bounded voice_unavailable code. }
        '200': { description: Existing idempotent result. A lost voice 201 returns realtime.status=reissue_required and a bounded realtime.reissue_url, never the original ticket or nonce. A provisional voice reservation with no issued ticket atomically receives its first ticket plus a replacement nonce, or becomes zero-billable local mode when realtime is unavailable. A lost text/local 201 atomically rotates and returns one replacement pedagogy nonce without repeating the AI call. A legacy or partially committed null delivery is atomically completed as zero-billable local mode. Any recovery is allowed exactly once. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: The current subscription has no voice_tutor entitlement }
        '409': { description: Another Voice Tutor session is active }
        '422': { description: Attempt, canonical item/context, or completed validated writing/speaking review is not supported }
        '429': { description: Daily or monthly voice quota is exhausted }
        '503': { description: New quota-only voice reservation is disabled by the feature flag, cost kill switch or required-but-unconfirmed ZDR policy; tracer requests continue with text/local fallback in a 201 response }
  /api/v1/voice-tutor/rule-discoveries:
    post:
      summary: Discover a provisional EGE rule from server-allowlisted sources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id, nonce]
              properties:
                session_id: { type: string, format: uuid }
                nonce: { type: string, minLength: 16, maxLength: 200 }
              additionalProperties: false
      responses:
        '201': { description: Explicitly provisional pending_review rule with at least two source URLs, atomically bound to the still-active owner session; includes the next one-time nonce for the explain state }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Premium voice_tutor entitlement required }
        '409': { description: Session is inactive or no longer requires discovery, nonce was replayed, another discovery owns the session claim, or an approved canonical card already exists }
        '422': { description: One source, conflict, blocked URL or invalid evidence; no fact/card is created }
        '429': { description: Per-user trusted-rule search or extraction rate limit is exhausted }
        '503': { description: Discovery is not configured, the UTC AI budget is exhausted, or a bounded dependency failed }
  /api/v1/voice-tutor/rules/{skillId}:
    get:
      summary: Retrieve only an approved canonical rule card
      parameters:
        - in: path
          name: skillId
          required: true
          schema: { type: string, maxLength: 120 }
        - in: query
          name: exam_year
          required: true
          schema: { type: integer, minimum: 2020, maximum: 2100 }
      responses:
        '200': { description: Approved bounded rule and source URLs }
        '404': { description: No approved rule exists; pending/rejected cards are hidden }
  /api/v1/voice-tutor/rule-cards:
    get:
      summary: List rule cards for an administrator review queue
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [pending_review, approved, rejected], default: pending_review }
      responses:
        '200': { description: Bounded cards with source URL/hash metadata and review audit }
        '403': { description: Administrator role required }
  /api/v1/voice-tutor/rule-cards/{cardId}/review:
    post:
      summary: Idempotently approve or reject one pending rule card as an administrator
      parameters:
        - in: path
          name: cardId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [approved, rejected] }
              additionalProperties: false
      responses:
        '200': { description: First transition or idempotent replay of the same decision }
        '403': { description: Administrator role required }
        '404': { description: Rule card not found }
        '409': { description: Card already has the opposite terminal decision }
  /api/v1/voice-tutor/sessions/{sessionId}/events:
    post:
      summary: Advance diagnose, explain, micro-check and transfer with a rotating nonce
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nonce, event]
              properties:
                nonce: { type: string, minLength: 16, maxLength: 200 }
                provider_call_id:
                  type: string
                  minLength: 1
                  maxLength: 128
                  pattern: '^[A-Za-z0-9._:-]+$'
                  description: Required in voice delivery and accepted only for the matching outstanding advance_pedagogy call; omitted only in text/local delivery
                event:
                  type: object
                  required: [type]
                  properties:
                    type: { type: string, enum: [diagnosis_complete, explanation_complete, check_answer, transfer_answer] }
                    answer: { type: string, maxLength: 200 }
              additionalProperties: false
      responses:
        '200': { description: Server-validated state and next one-time nonce; a provider_call_id must match the outstanding call and authorizes exactly one strict accepted/state function output after the nonce transition; with current text_processing consent, text delivery also returns the next bounded AI turn, otherwise it atomically downgrades to the canonical local rule }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { description: Invalid transition or replayed nonce }
        '503': { description: Voice delivery omitted or failed exact provider call correlation }
  /api/v1/voice-tutor/sessions/{sessionId}/fallback:
    post:
      summary: Continue the server-finalized proxy capsule in text or local mode without accepting client usage or wall-clock evidence
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nonce]
              properties:
                nonce: { type: string, minLength: 16, maxLength: 200 }
                reason: { type: string, enum: [microphone_unavailable, provider_unavailable, session_timeout], default: microphone_unavailable }
              additionalProperties: false
      responses:
        '200': { description: Same capsule through the budgeted text AI operation when current text_processing consent exists, otherwise through its local canonical rule. A ticket not consumed by the proxy bills zero; a consumed abnormal proxy session retains its full reservation; a clean provider-confirmed session uses server-observed input plus output PCM bytes. No client time or second reservation is accepted. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { description: Replayed nonce }
  /api/v1/voice-tutor/sessions/{sessionId}/clarifications:
    post:
      summary: Ask one bounded transient clarification without changing the pedagogical state
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nonce, kind]
              properties:
                nonce: { type: string, minLength: 16, maxLength: 200 }
                kind: { type: string, enum: [clarify, explain_differently] }
                message: { type: string, minLength: 1, maxLength: 200, description: Transient provider input; never persisted or logged }
              additionalProperties: false
      responses:
        '200': { description: Same FSM state, rotated nonce, bounded clarification count and transient text turn }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Current text-processing consent required }
        '409': { description: Replayed nonce }
        '429': { description: Three-turn clarification limit reached }
  /api/v1/voice-tutor/reports:
    post:
      summary: Submit a structured learner report without free text
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id, reason]
              properties:
                session_id: { type: string, format: uuid }
                reason: { type: string, enum: [incorrect_rule, unclear_explanation, bad_example, technical_issue] }
              additionalProperties: false
      responses:
        '201': { description: Owner-bound report queued with session/rule identifiers only }
        '200': { description: Idempotent existing report }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { description: Session does not belong to current user }
    get:
      summary: List the administrator learner-report review queue
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [pending, confirmed, dismissed], default: pending }
      responses:
        '200': { description: Structured queue and review audit without audio, transcript or learner text }
        '403': { description: Administrator role required }
  /api/v1/voice-tutor/reports/{reportId}/review:
    post:
      summary: Idempotently confirm or dismiss a structured learner report
      parameters:
        - in: path
          name: reportId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [confirmed, dismissed] }
              additionalProperties: false
      responses:
        '200': { description: First audited review or idempotent replay }
        '403': { description: Administrator role required }
        '404': { description: Report not found }
        '409': { description: Report already has the opposite decision }
  /api/v1/voice-tutor/sessions/{sessionId}/realtime-ticket:
    post:
      summary: Recover one lost session-creation response by rotating the one-use app ticket and pedagogy nonce
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 8, maxLength: 100 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '200': { description: If the single replacement response was also lost, the same key atomically completes the unactivated reservation as zero-bill local mode and returns one fallback nonce; no provider connection or charge remains possible. }
        '201': { description: Exactly one replacement ticket and nonce. The original ticket is invalidated atomically. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Current voice-processing consent and Premium voice_tutor entitlement are rechecked before any ticket or nonce rotation }
        '404': { description: Session does not belong to the current user }
        '409': { description: Ticket already consumed, session expired, Idempotency-Key mismatch or replacement limit reached }
  /api/v1/voice-tutor/sessions/{sessionId}/finish:
    post:
      summary: Idempotently finish an unused reservation; consumed proxy sessions remain governed by server-owned exact or conservative finalization
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Session finished, or the previous finish result returned }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Session does not belong to the current user }
  /api/v1/admin/status:
    get:
      summary: Verify administrator access
      responses:
        '200': { description: Administrator access confirmed }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Authenticated user does not have the admin role }
  /api/v1/logout:
    post:
      summary: Clear authentication cookie
      responses:
        '200': { description: Logged out }
  /api/v1/adaptive-learning/goal:
    get:
      summary: Read the authenticated learner's current EGE goal
      responses:
        '200':
          description: Current goal or null
          content:
            application/json:
              schema:
                type: object
                required: [goal]
                properties:
                  goal:
                    allOf:
                      - $ref: '#/components/schemas/AdaptiveGoal'
                    nullable: true
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
    put:
      summary: Idempotently save a current EGE target and refresh the evidence-backed preliminary profile
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [targetExam, targetScore, examDate, weeklyMinutes]
              properties:
                targetExam: { type: string, enum: [ege_english] }
                targetScore: { type: integer, minimum: 0, maximum: 100 }
                examDate: { type: string, format: date, description: Must be later than the current UTC date. }
                weeklyMinutes: { type: integer, minimum: 30, maximum: 2520, multipleOf: 5 }
              additionalProperties: false
      responses:
        '201':
          description: Goal revision created and returned as one current goal/profile/plan snapshot
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdaptiveGoalMutationResponse' }
        '200':
          description: Exact idempotent replay or a request superseded by a newer concurrent goal; response still contains one authoritative current snapshot
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdaptiveGoalMutationResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { description: Idempotency key was already used with a different goal payload }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/overview:
    get:
      summary: Read the current goal and an owner-bound profile bootstrapped from persisted attempts and Voice Tutor recoveries
      description: The overview remains available when the plan rollout is disabled so the authenticated learner can read the six-module evidence summary. In that mode goal and plan are null, while all goal, plan, diagnostic, report and session routes stay unavailable. This read does not bypass commercial capabilities.
      responses:
        '200':
          description: Goal plus transparent preliminary or established profile; no raw answer, essay, transcript or audio is copied
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdaptiveOverview' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/adaptive-learning/plan:
    get:
      summary: Read or idempotently refresh the authenticated learner's honest EGE forecast and weekly allocation
      description: Uses a transparent rule-based model, not calibrated IRT. The active score range is not a guarantee. The UTC start of recalculationBucket is the deterministic instant for forecast weeks, deadline/critical priority, allocation and calculatedAt; actual createdAt/updatedAt remain receipt timestamps. The preceding bucket keeps exactly 1/7 week before the exam-date bucket becomes action-required. A daily/evidence/base-revision fingerprint replays only after the complete normalized candidate envelope and plan semantics exactly match the retained revision, including exact retained old-goal candidates; regenerated identity and receipt timestamps are ignored. Unknown stale-goal fingerprints fail closed. New candidates are strictly validated and must match the current persisted profile vector under the owner lock. Compare-and-set retries concurrent recalculations against their actual winning base. Ordinary allocation changes are limited to 10 percentage points per visible skill and module. Only a goal revision reset or an owner/profile-bound critical retention window expiring within 24 hours may bypass the limit; the repository reconstructs the candidate from the authoritative persisted expiry and rejects invented scope.
      responses:
        '200':
          description: Current owner-bound goal, evidence profile and authoritative persisted plan revision
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdaptiveOverview' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { description: ADAPTIVE_GOAL_REQUIRED; the learner must save an EGE goal before a plan can be calculated }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/orientation:
    get:
      summary: Read a Premium-only approximate CEFR/IELTS orientation from independently established skills
      description: Secondary orientation only. It is based on EGE evidence, refuses assisted-only mastery and is not an official IELTS result or CEFR certificate.
      responses:
        '200':
          description: Approximate orientation or an explicit insufficient-evidence result
          content:
            application/json:
              schema:
                type: object
                required: [access, orientation]
                properties:
                  access: { $ref: '#/components/schemas/AdaptiveAccess' }
                  orientation: { $ref: '#/components/schemas/AdaptiveLanguageOrientation' }
                additionalProperties: false
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: ADAPTIVE_PREMIUM_REQUIRED }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/reports/detailed:
    get:
      summary: Read a Premium-only bounded report from completed adaptive session summaries
      description: Includes at most 12 recent completed sessions, aggregated module evidence and a secondary approximate CEFR/IELTS orientation. It never returns learner answers, essays, transcripts, audio, prompts or model responses and is not an official IELTS result.
      responses:
        '200':
          description: Detailed bounded report and current Premium access projection
          content:
            application/json:
              schema:
                type: object
                required: [access, report]
                properties:
                  access: { $ref: '#/components/schemas/AdaptiveAccess' }
                  report: { $ref: '#/components/schemas/AdaptiveDetailedReport' }
                additionalProperties: false
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: ADAPTIVE_PREMIUM_REQUIRED }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/sessions/preview:
    post:
      summary: Deterministically preview an adaptive session against the current plan and rolling UTC-week budget
      description: The server selects only registered built-in activities. Durations are 15–120 minutes in five-minute increments; sessions longer than 60 minutes include one exact 10-minute break. The returned fingerprint binds the current plan revision, content registry, weekly budget snapshot and block sequence.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [durationMinutes]
              properties:
                durationMinutes: { type: integer, minimum: 15, maximum: 120, multipleOf: 5 }
              additionalProperties: false
      responses:
        '200':
          description: Server-time-stamped non-persisted preview
          content:
            application/json:
              schema:
                type: object
                required: [serverTime, preview]
                properties:
                  serverTime: { type: string, format: date-time }
                  preview: { $ref: '#/components/schemas/AdaptiveSessionPreview' }
                additionalProperties: false
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: ADAPTIVE_BASE_REQUIRED when Free requests more than the one 15-minute demo, or ADAPTIVE_FREE_DEMO_USED after that demo is created }
        '409': { description: ADAPTIVE_GOAL_REQUIRED, ADAPTIVE_INITIAL_DIAGNOSTIC_REQUIRED for a new learner without sufficient genuine production evidence or a completed short diagnostic, ADAPTIVE_SESSION_NO_CONTENT, or ADAPTIVE_SESSION_COVERAGE_GAP when no exact meaningful sequence can be composed from justified registered activities; an unsupported individual skill is surfaced in coverageGaps and uses explicit fallback instead of blocking by itself }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/sessions:
    post:
      summary: Persist one owner-bound adaptive session from an exact current preview
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [durationMinutes, previewFingerprint]
              properties:
                durationMinutes: { type: integer, minimum: 15, maximum: 120, multipleOf: 5 }
                previewFingerprint: { type: string, pattern: '^[0-9a-f]{64}$' }
              additionalProperties: false
      responses:
        '201': { description: New session persisted, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionMutationResult' } } } }
        '200': { description: Exact immutable create response replayed, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionMutationResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: ADAPTIVE_BASE_REQUIRED or ADAPTIVE_FREE_DEMO_USED; exact Free-demo replay remains available only for its server-marked free_demo session }
        '409': { description: ADAPTIVE_INITIAL_DIAGNOSTIC_REQUIRED for a new learner (including an attempted create replay before initial evidence is complete), stale preview/plan, another current session, ADAPTIVE_SESSION_COVERAGE_GAP, unavailable content or idempotency conflict }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/sessions/current:
    get:
      summary: Restore the authenticated learner's current created or in-progress adaptive session
      responses:
        '200':
          description: Current owner-bound session
          content:
            application/json:
              schema:
                type: object
                required: [session, execution, events, summary]
                properties:
                  session: { $ref: '#/components/schemas/AdaptiveLearningSession' }
                  execution: { $ref: '#/components/schemas/AdaptiveSessionExecution' }
                  events: { type: array, items: { $ref: '#/components/schemas/AdaptiveSessionEvent' } }
                  summary:
                    allOf: [{ $ref: '#/components/schemas/AdaptiveSessionSummary' }]
                    nullable: true
                additionalProperties: false
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: No current session belongs to the authenticated learner, or rollout is disabled }
  /api/v1/adaptive-learning/sessions/{sessionId}/replace:
    post:
      summary: Replace or exclude one learning block once while preserving duration and block identities
      description: The alternative is selected from the same server-owned content registry and persisted plan revision. `excluded` removes the named block from this session and fills the same minutes with another useful skill, so the selected duration remains truthful. A session permits one replacement-or-exclusion total; exact retries return the retained response snapshot.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [blockId, reason]
              properties:
                blockId: { type: string, pattern: '^asb_[0-9a-f]{16}_[0-9]{2}$' }
                reason: { type: string, enum: [too_difficult, too_easy, not_relevant, accessibility, excluded] }
              additionalProperties: false
      responses:
        '200': { description: Replacement or exclusion applied, or its exact response replayed, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionReplacementResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Session or block does not belong to the authenticated learner }
        '409': { description: The shared replacement-or-exclusion allowance was already used, no safe alternative exists, plan is unavailable, revision changed or key conflicts }
  /api/v1/adaptive-learning/sessions/{sessionId}/start:
    post:
      summary: Atomically start the exact current learning block and issue a short-lived opaque execution claim
      description: The claim is owner/session/block/launch/revision-bound and expires after two hours. Its plaintext value is reconstructed by a domain-separated server HMAC for an exact Idempotency-Key replay, is never stored in a mutation snapshot or claim row, and is never exported. Another live unconsumed claim and a stale compare-and-set revision fail closed; an expired unconsumed claim may be replaced. If a claim was already consumed by an exact persisted attempt but its advance response was lost, the 200 response returns that attempt for a durable exact advance and never issues a second claim.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [blockId, expectedRevision]
              properties:
                blockId: { type: string, pattern: '^asb_[0-9a-f]{16}_[0-9]{2}$' }
                expectedRevision: { type: integer, minimum: 0 }
              additionalProperties: false
      responses:
        '201': { description: Current block started and claim issued, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionStartResult' } } } }
        '200': { description: Exact immutable start response replayed, or a consumed exact attempt returned for durable recovery without a new claim, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionStartResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Owner-bound session or block was not found }
        '409': { description: Stale revision, wrong/current state, active claim or idempotency conflict }
  /api/v1/adaptive-learning/sessions/{sessionId}/bind-attempt:
    post:
      summary: Bind a completed server-owned writing, speaking or day-1/day-7 repeat attempt to the active execution claim
      description: The browser supplies no score. The repository verifies owner, task/activity identity, completed status, creation after claim issuance and exact claim launch fingerprint. Repeat binding additionally verifies the exact owner recovery, repeat task, skill and module. Exact binding replay is safe.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [executionClaim, attempt]
              properties:
                executionClaim: { type: string, minLength: 32, maxLength: 200, pattern: '^[A-Za-z0-9_-]+$' }
                attempt:
                  oneOf:
                    - type: object
                      required: [type, id]
                      properties:
                        type: { type: string, enum: [voice_tutor_repeat] }
                        id: { type: string, format: uuid }
                      additionalProperties: false
                    - type: object
                      required: [type, id]
                      properties:
                        type: { type: string, enum: [writing, speaking] }
                        id: { type: integer, minimum: 1 }
                      additionalProperties: false
              additionalProperties: false
      responses:
        '201': { description: Server-owned attempt bound to the claim }
        '200': { description: Exact binding replayed }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Owner-bound session was not found }
        '409': { description: Invalid, consumed or mismatched claim/attempt }
        '410': { description: Execution claim expired }
  /api/v1/adaptive-learning/sessions/{sessionId}/advance:
    post:
      summary: Complete the exact current block from persisted evidence and recalculate the learner profile and plan
      description: Learning blocks require a claim-bound persisted module, writing, speaking or exact Voice Tutor day-1/day-7 repeat attempt. Breaks require null. The response contains an allowlisted evidence summary, profile/plan delta and next action; it never accepts a client-supplied completion or score. Compare-and-set and owner-global idempotency make concurrent/exact retries safe.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [blockId, expectedRevision, attempt]
              properties:
                blockId: { type: string, pattern: '^asb_[0-9a-f]{16}_[0-9]{2}$' }
                expectedRevision: { type: integer, minimum: 0 }
                attempt:
                  oneOf:
                    - type: object
                      required: [type, id]
                      properties:
                        type: { type: string, enum: [module, voice_tutor_repeat] }
                        id: { type: string, format: uuid }
                      additionalProperties: false
                    - type: object
                      required: [type, id]
                      properties:
                        type: { type: string, enum: [writing, speaking] }
                        id: { type: integer, minimum: 1 }
                      additionalProperties: false
                  nullable: true
              additionalProperties: false
      responses:
        '200': { description: Block completed or exact response replayed, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionAdvanceResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Owner-bound session or block was not found }
        '409': { description: Stale revision, wrong block/state, missing/mismatched attempt or idempotency conflict }
  /api/v1/adaptive-learning/sessions/{sessionId}/finish:
    post:
      summary: Explicitly finish a session only after every persisted block event exists
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [expectedRevision]
              properties:
                expectedRevision: { type: integer, minimum: 0 }
              additionalProperties: false
      responses:
        '200': { description: Completion summary created or exact finish response replayed, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionFinishResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Owner-bound session was not found }
        '409': { description: Session is not ready, revision is stale or idempotency key conflicts }
  /api/v1/adaptive-learning/diagnostics/start:
    post:
      summary: Start or resume a bounded short or Premium deep diagnostic with a durable owner-bound replay claim
      description: Short is the default for backward compatibility. Deep selects the separate ege-deep-diagnostic-v1 catalog-policy and requires current Premium throughout the run. A Free learner may complete one short diagnostic. A scheduled 28/35/42-day short refresh is offered through retention.rediagnostic.due but does not block ordinary learning sessions. Every resumed session uses its stored catalog version's policy. A successful key owns its exact start snapshot for the 24-hour start-claim retention window. New keys are bounded by a per-user hourly rate and by a finite live-claim budget.
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                depth: { type: string, enum: [short, deep], default: short }
              additionalProperties: false
      responses:
        '201': { description: New diagnostic started, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveDiagnosticStartResult' } } } }
        '200': { description: Active run resumed, immutable claimed snapshot replayed within its retention window even after expiry/completion, or adequate existing evidence means no diagnostic is required, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveDiagnosticStartResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: ADAPTIVE_PREMIUM_REQUIRED for deep or ADAPTIVE_FREE_DIAGNOSTIC_USED after the one Free short diagnostic }
        '409': { description: Idempotency key conflict or the claimed stored catalog version is unsupported }
        '429': { description: New start keys exceeded the hourly DIAGNOSTIC_START_RATE_LIMIT or the finite retained-claim DIAGNOSTIC_START_LIMIT }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/diagnostics/current:
    get:
      summary: Resume the latest current or expired diagnostic without exposing an answer key
      description: Both in-progress and ready states share the stored catalog policy's deadline (the v1 policy has a 20-minute deadline); at or after it the session is expired and cannot create evidence. The response projects maxItems, estimatedMinutes, deadlineMinutes and expiresAt from that stored policy for browser copy and progress.
      responses:
        '200': { description: Current diagnostic state or nulls when none is active, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveDiagnosticState' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { description: The stored diagnostic catalog version is unsupported; the server fails closed instead of applying a newer mapping }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/diagnostics/{diagnosticId}/answers:
    post:
      summary: Idempotently answer the server-selected current diagnostic item
      description: Selection adapts privately from accepted responses using the stored catalog version's policy. Both in-progress and ready states share that policy's deadline (20 minutes for v1).
      parameters:
        - in: path
          name: diagnosticId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [itemId, choiceId]
              properties:
                itemId: { type: string, minLength: 1, maxLength: 100 }
                choiceId: { type: string, minLength: 1, maxLength: 20 }
              additionalProperties: false
      responses:
        '201': { description: Answer accepted and the next safe state returned }
        '200': { description: The exact originally observed answer snapshot is returned, even after later answers or completion }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Diagnostic does not belong to the authenticated learner }
        '409': { description: Item was already answered, is not current, time expired, the key conflicts, or the stored catalog version is unsupported }
  /api/v1/adaptive-learning/diagnostics/{diagnosticId}/complete:
    post:
      summary: Complete a ready diagnostic and return an explicitly preliminary profile result
      description: Ready does not pause time; ready sessions retain the stored policy deadline and cannot be completed after it. The first success atomically binds an allowlisted immutable completion response snapshot and preliminary profile to its idempotency key. Exact lost-response/concurrent retries replay it before any live profile calculation; a different completion key returns the same canonical snapshot without replacing the original claim.
      parameters:
        - in: path
          name: diagnosticId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: false }
      responses:
        '201': { description: Diagnostic completed and its immutable completion response snapshot returned, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveDiagnosticCompletionResult' } } } }
        '200': { description: Exact canonical completion snapshot replay returned without live profile recomputation, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveDiagnosticCompletionResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Diagnostic does not belong to the authenticated learner }
        '409': { description: Diagnostic is not ready, time expired, the idempotency key conflicts, or the stored catalog version is unsupported }
  /api/v1/account/export:
    get:
      summary: Export the authenticated user's account, progress and attempt data
      responses:
        '200': { description: JSON export including adaptive goals/structured estimates/plan revisions/learning sessions/diagnostic sessions and bounded responses, Voice Tutor sessions, recovery/repeat outcomes and bounded provider/model/prompt metadata; no raw audio, temporary captions, full Voice Tutor transcript, nonce hash, idempotency replay snapshots or answer key }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/account:
    delete:
      summary: Permanently delete the authenticated user and related data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirmation]
              properties:
                confirmation: { type: string, enum: [DELETE] }
      responses:
        '200': { description: Account, Voice Tutor sessions/recoveries/repeats and pending/rejected rule reports are deleted; approved canonical cards survive without creator identity, and reviewer identity on retained cards is anonymized }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/privacy/consent:
    get:
      summary: Read the user's text and realtime speech-to-speech processing choices and current policy version
      responses:
        '200': { description: Consent state and current policy version }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      summary: Grant or withdraw text and realtime speech-to-speech processing consent; an outdated policy version does not authorize a Voice Tutor connection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text_processing, voice_processing]
              properties:
                text_processing: { type: boolean }
                voice_processing: { type: boolean }
      responses:
        '200': { description: Updated consent state }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/progress:
    get:
      summary: Read complete progress document
      responses:
        '200': { description: Progress JSON object }
    post:
      summary: Replace progress document (legacy compatibility)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Progress' }
      responses:
        '200': { description: Saved }
        '400': { $ref: '#/components/responses/BadRequest' }
  /api/v1/progress/modules:
    post:
      summary: Atomically merge changed top-level progress modules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [modules]
              properties:
                modules: { $ref: '#/components/schemas/Progress' }
      responses:
        '200': { description: Merged progress }
        '400': { $ref: '#/components/responses/BadRequest' }
  /api/v1/reading/report:
    get:
      summary: Build the authenticated learner's deterministic Reading report
      description: Base is available with every active subscription. Expanded adds topic, CEFR, pace, repeat-error and time-allocation projections and requires a fresh server-side voice_tutor entitlement check. The response is derived from at most 120 persisted owner-bound completed canonical Reading rows; incomplete full sections, duplicates, legacy, generated and technical attempts are excluded. No learner answer, content, Voice payload or client entitlement is accepted or returned. The response is not cacheable.
      parameters:
        - in: query
          name: scope
          schema: { type: string, enum: [base, expanded], default: base }
      responses:
        '200':
          description: Base or currently entitled expanded Reading report, with explicit evidence counts and confidence states
          headers:
            Cache-Control: { schema: { type: string, enum: [no-store] } }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReadingReport' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: SUBSCRIPTION_REQUIRED or READING_PREMIUM_REQUIRED }
  /api/v1/module-attempts:
    post:
      summary: Record an idempotent learning-module result
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, module, activity, score, maxScore]
              properties:
                id: { type: string, format: uuid }
                module:
                  type: string
                  enum: [grammar, vocabulary, reading, listening, exam]
                  description: Writing and speaking evidence is produced only by the existing server-assessed AI-review flows; this ordinary client endpoint rejects those modules with SERVER_ASSESSMENT_REQUIRED.
                activity:
                  type: string
                  maxLength: 80
                  description: vocabulary_active_recall_session uses the bounded per-mode summary metadata contract.
                score: { type: integer, minimum: 0 }
                maxScore: { type: integer, minimum: 1 }
                durationMs: { type: integer, minimum: 0, maximum: 14400000 }
                metadata:
                  type: object
                  description: For vocabulary_active_recall_session this is a strict flat summary with separate objective, guided and self-reported counters; raw words and answers are never accepted.
                  additionalProperties: true
      responses:
        '201': { description: Attempt created }
        '200': { description: Duplicate event accepted without creating another attempt }
        '400': { description: Invalid input, or SERVER_ASSESSMENT_REQUIRED for client-submitted writing/speaking evidence. }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/word-progress:
    get:
      summary: List the authenticated learner's versioned vocabulary mastery
      responses:
        '200':
          description: Owner-scoped word mastery, including conservative legacy migration
          content:
            application/json:
              schema:
                type: object
                required: [words]
                properties:
                  words:
                    type: array
                    items: { $ref: '#/components/schemas/WordMastery' }
                additionalProperties: false
    put:
      summary: Upsert a bounded batch of legacy SRS or versioned word-mastery states
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [words]
              properties:
                words:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items:
                    oneOf:
                      - { $ref: '#/components/schemas/LegacyWordProgress' }
                      - { $ref: '#/components/schemas/WordMastery' }
              additionalProperties: false
      responses:
        '200': { description: Word states updated }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/error-bank:
    post:
      summary: Aggregate a bounded batch of learning errors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [errors]
              properties:
                errors:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required: [module, itemKey, errorType]
                    properties:
                      module: { type: string, enum: [grammar, vocabulary, reading, listening, writing, speaking, exam] }
                      itemKey: { type: string, maxLength: 160 }
                      errorType: { type: string, maxLength: 60 }
                      details: { type: object, additionalProperties: true }
      responses:
        '200': { description: Errors aggregated }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/ai/evaluate-writing:
    post:
      summary: Evaluate EGE writing task 37 or 38
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [taskType, taskId, answer]
              properties:
                taskType: { type: string, enum: [writing_37, writing_38] }
                taskId: { type: string, maxLength: 120 }
                answer: { type: string }
              additionalProperties: false
      responses:
        '200':
          description: Validated review with explicit experimental assessment metadata
          content:
            application/json:
              schema:
                type: object
                required: [review, provider, attemptId, voiceTutor, assessment, evaluationScope]
                properties:
                  review: { type: object }
                  provider: { type: string }
                  attemptId: { type: integer }
                  voiceTutor:
                    type: object
                    required: [source, attemptId, revision, criterionChoices]
                    properties:
                      source: { type: string, enum: [writing] }
                      attemptId: { type: integer }
                      revision: { type: integer, enum: [1] }
                      criterionChoices:
                        type: array
                        items:
                          type: object
                          required: [index, label]
                          properties:
                            index: { type: integer, minimum: 0, maximum: 20 }
                            label: { type: string, minLength: 1, maxLength: 160 }
                          additionalProperties: false
                  assessment: { $ref: '#/components/schemas/ExperimentalAssessment' }
                  evaluationScope: { $ref: '#/components/schemas/WritingEvaluationScope' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/ai/generate-content:
    post:
      summary: Generate validated educational content with a server-owned prompt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [operation, word]
                  properties:
                    operation: { type: string, enum: [dictionary_lookup] }
                    word: { type: string, minLength: 1, maxLength: 80 }
                  additionalProperties: false
                - type: object
                  required: [operation]
                  properties:
                    operation:
                      type: string
                      enum: [grammar_quiz, listening_dialog, reading_text, speaking_task_1, speaking_task_2, speaking_task_3, speaking_task_4, grammar_exam_19_24, reading_headings, reading_questions, reading_gaps, listening_matching, listening_true_false, listening_interview]
                  additionalProperties: false
                - type: object
                  required: [operation]
                  properties:
                    operation: { type: string, enum: [writing_task_37, writing_task_38] }
                    exclude:
                      type: array
                      maxItems: 200
                      items: { type: string, minLength: 1, maxLength: 200 }
                  additionalProperties: false
                - type: object
                  required: [operation, topicId, topic]
                  properties:
                    operation: { type: string, enum: [grammar_topic_set] }
                    topicId: { type: integer, minimum: 1, maximum: 20 }
                    topic: { type: string, minLength: 1, maxLength: 100 }
                  additionalProperties: false
                - type: object
                  required: [operation, count]
                  properties:
                    operation: { type: string, enum: [vocabulary_cards] }
                    count: { type: integer, minimum: 4, maximum: 8 }
                    exclude:
                      type: array
                      maxItems: 500
                      items: { type: string, minLength: 1, maxLength: 120 }
                  additionalProperties: false
      responses:
        '200': { description: Schema-validated content and prompt metadata }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
  /api/v1/ai/evaluate-speaking:
    post:
      summary: Evaluate an EGE speaking transcript with server-owned criteria
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [taskType, transcript, assignment]
              properties:
                taskType: { type: integer, enum: [1, 2, 3, 4] }
                transcript: { type: string, maxLength: 20000 }
                assignment: { type: object }
              additionalProperties: false
      responses:
        '200':
          description: Schema-validated speaking review; tasks 3–4 include experimental assessment metadata
          content:
            application/json:
              schema:
                type: object
                required: [review, provider, promptVersion, attemptId, voiceTutor]
                properties:
                  review: { type: object }
                  provider: { type: string }
                  promptVersion: { type: string }
                  attemptId: { type: integer }
                  voiceTutor:
                    type: object
                    required: [source, attemptId, revision, criterionChoices]
                    properties:
                      source: { type: string, enum: [speaking] }
                      attemptId: { type: integer }
                      revision: { type: integer, enum: [1] }
                      criterionChoices:
                        type: array
                        items:
                          type: object
                          required: [index, label]
                          properties:
                            index: { type: integer, minimum: 0, maximum: 20 }
                            label: { type: string, minLength: 1, maxLength: 160 }
                          additionalProperties: false
                  assessment: { $ref: '#/components/schemas/ExperimentalAssessment' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
  /api/v1/ai/generate-speaking-sample:
    post:
      summary: Generate a validated model answer for speaking tasks 2-4
      responses:
        '200': { description: Schema-validated English model answer }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
  /api/v1/tts:
    get:
      summary: Generate or return cached speech audio
      parameters:
        - { in: query, name: text, required: true, schema: { type: string, maxLength: 500 } }
        - { in: query, name: voice, schema: { type: string } }
        - { in: query, name: slow, schema: { type: string, enum: ['0', '1'] } }
      responses:
        '200': { description: MPEG audio, content: { audio/mpeg: {} } }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/stt:
    post:
      summary: Transcribe speech recording
      requestBody:
        required: true
        content:
          audio/webm:
            schema: { type: string, format: binary }
          audio/mp4:
            schema: { type: string, format: binary }
          audio/mpeg:
            schema: { type: string, format: binary }
          audio/ogg:
            schema: { type: string, format: binary }
          audio/wav:
            schema: { type: string, format: binary }
      responses:
        '200': { description: Transcript }
        '413': { description: Audio payload exceeds configured maximum }
        '415': { description: Unsupported audio MIME type }
        '429': { $ref: '#/components/responses/RateLimited' }
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: eb_token
  schemas:
    ReadingReport:
      type: object
      required: [version, scope, generatedAt, evidence, base]
      properties:
        version: { type: string, enum: [reading-report-v1] }
        scope: { type: string, enum: [base, expanded] }
        generatedAt: { type: string, format: date-time }
        evidence:
          type: object
          required: [source, maximumRows, includedRows, includedAttempts, independentAttempts, assistedAttempts, excludedRows]
          properties:
            source: { type: string, enum: [persisted_canonical_completed_attempts] }
            maximumRows: { type: integer, enum: [120] }
            includedRows: { type: integer, minimum: 0 }
            includedAttempts: { type: integer, minimum: 0 }
            independentAttempts: { type: integer, minimum: 0 }
            assistedAttempts: { type: integer, minimum: 0 }
            excludedRows: { type: integer, minimum: 0 }
          additionalProperties: false
        base:
          type: object
          description: Accuracy, recent trend, weakest observed skill, up to six recent completed attempts and a useful Base recommendation. Empty evidence is represented explicitly rather than invented.
          additionalProperties: true
        expanded:
          type: object
          description: Present if and only if scope=expanded after the current entitlement check. Contains gist/detail skills, attributable topics, CEFR labels, pace, repeated errors, recent comparison, time allocation, sample sizes/confidence and the non-causal evidence disclosure.
          additionalProperties: true
      additionalProperties: false
    WordMasteryDimension:
      type: object
      required: [score, attempts, independentSuccesses, evidence, lastPracticedAt]
      properties:
        score: { type: integer, minimum: 0, maximum: 100 }
        attempts: { type: integer, minimum: 0, maximum: 1000000 }
        independentSuccesses: { type: integer, minimum: 0, maximum: 1000000 }
        evidence: { type: string, enum: [none, preliminary, guided, self_reported, objective] }
        lastPracticedAt: { type: integer, nullable: true }
      additionalProperties: false
    LegacyWordProgress:
      type: object
      required: [word, stage, errorCount, reviewCount, dueAt]
      properties:
        word: { type: string, minLength: 1, maxLength: 120 }
        stage: { type: integer, minimum: 0, maximum: 5 }
        errorCount: { type: integer, minimum: 0, maximum: 1000000 }
        reviewCount: { type: integer, minimum: 0, maximum: 1000000 }
        dueAt: { type: integer, nullable: true }
      additionalProperties: false
    WordMastery:
      type: object
      required: [word, stage, errorCount, reviewCount, dueAt, masteryVersion, dimensions, lastMode, lastOutcome]
      properties:
        word: { type: string, minLength: 1, maxLength: 120 }
        stage: { type: integer, minimum: 0, maximum: 5 }
        errorCount: { type: integer, minimum: 0, maximum: 1000000 }
        reviewCount: { type: integer, minimum: 0, maximum: 1000000 }
        dueAt: { type: integer, nullable: true }
        masteryVersion: { type: integer, enum: [1] }
        dimensions:
          type: object
          required: [meaning, spelling, context, listening]
          properties:
            meaning: { $ref: '#/components/schemas/WordMasteryDimension' }
            spelling: { $ref: '#/components/schemas/WordMasteryDimension' }
            context: { $ref: '#/components/schemas/WordMasteryDimension' }
            listening: { $ref: '#/components/schemas/WordMasteryDimension' }
          additionalProperties: false
        lastMode:
          type: string
          nullable: true
          enum: [receptive_meaning, russian_reveal, english_production, contextual_production, listening]
        lastOutcome:
          type: string
          nullable: true
          enum: [correct, knew, almost, incorrect, not_known]
      additionalProperties: false
    AdaptiveLearningMetrics:
      type: object
      required: [version, window, sessions, adjustments, evidence, retention, diagnostics, commercialScopes, profile]
      properties:
        version: { type: string, enum: [adaptive-metrics-v1] }
        window:
          type: object
          required: [days, from, to]
          properties:
            days: { type: integer, enum: [90] }
            from: { type: string, format: date-time }
            to: { type: string, format: date-time }
          additionalProperties: false
        sessions:
          type: object
          required: [created, started, completed, startRate, completionRate, plannedLearningMinutes, completedPlannedMinutes, plannedMinutesCompletionRate, byDuration]
          properties:
            created: { type: integer, minimum: 0 }
            started: { type: integer, minimum: 0 }
            completed: { type: integer, minimum: 0 }
            startRate: { type: number, minimum: 0, maximum: 1 }
            completionRate: { type: number, minimum: 0, maximum: 1 }
            plannedLearningMinutes: { type: integer, minimum: 0 }
            completedPlannedMinutes: { type: integer, minimum: 0 }
            plannedMinutesCompletionRate: { type: number, minimum: 0, maximum: 1 }
            byDuration:
              type: object
              description: Fixed keys 15_30, 35_60, 65_90 and 95_120; each value contains created/started/completed counters.
          additionalProperties: false
        adjustments:
          type: object
          description: Aggregate sessions/rate plus fixed reasons too_difficult, too_easy, not_relevant, accessibility and excluded.
        evidence:
          type: object
          description: Aggregate learningBlockCompletions plus fixed evidence quality and context counters.
        retention:
          type: object
          description: Aggregate observed/passed/rate plus day_1 and day_7 observed/passed/rate.
        diagnostics:
          type: object
          required: [shortCompleted, deepCompleted]
          properties:
            shortCompleted: { type: integer, minimum: 0 }
            deepCompleted: { type: integer, minimum: 0 }
          additionalProperties: false
        commercialScopes:
          type: object
          required: [free_demo, base, premium]
          properties:
            free_demo: { type: integer, minimum: 0 }
            base: { type: integer, minimum: 0 }
            premium: { type: integer, minimum: 0 }
          additionalProperties: false
        profile:
          type: object
          required: [skillEstimates, highImpactHighUncertaintySkills, establishedSkills]
          properties:
            skillEstimates: { type: integer, minimum: 0 }
            highImpactHighUncertaintySkills: { type: integer, minimum: 0 }
            establishedSkills: { type: integer, minimum: 0 }
          additionalProperties: false
      additionalProperties: false
    AdaptiveGoal:
      type: object
      required: [id, targetExam, targetScore, examDate, weeklyMinutes, revision, createdAt, updatedAt]
      properties:
        id: { type: string, format: uuid }
        targetExam: { type: string, enum: [ege_english] }
        targetScore: { type: integer, minimum: 0, maximum: 100 }
        examDate: { type: string, format: date }
        weeklyMinutes: { type: integer, minimum: 30, maximum: 2520, multipleOf: 5 }
        revision: { type: integer, minimum: 1 }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
      additionalProperties: false
    AdaptiveSkillEstimate:
      type: object
      required: [id, label, module, mastery, uncertainty, status, evidenceCount, effectiveEvidenceCount, independentEvidenceCount, evidenceQuality, lastObservedAt, dueState, criticalRetentionExpiresAt, explanationCode]
      properties:
        id: { type: string, maxLength: 120 }
        label: { type: string, maxLength: 160 }
        module: { type: string, enum: [grammar, vocabulary, reading, listening, writing, speaking] }
        mastery:
          type: integer
          minimum: 0
          maximum: 100
          description: Conservative estimate; without independent evidence it cannot exceed 49.
        uncertainty:
          type: integer
          minimum: 0
          maximum: 100
          description: Reduced only by independent unassisted or retention evidence.
        status:
          type: string
          enum: [unobserved, preliminary, established]
          description: A skill is established only after at least two independent observations.
        evidenceCount: { type: integer, minimum: 0 }
        effectiveEvidenceCount:
          type: integer
          minimum: 0
          description: Observations used in scoring after trust ceilings; raw evidenceCount remains auditable.
        independentEvidenceCount: { type: integer, minimum: 0 }
        evidenceQuality: { type: string, enum: [none, client_reported, assisted, independent, mixed] }
        lastObservedAt: { type: string, format: date-time, nullable: true }
        dueState: { type: string, enum: [not_due, due, overdue, critical_due] }
        criticalRetentionExpiresAt:
          type: string
          format: date-time
          nullable: true
          description: Server-derived end of an expiring day-1/day-7 review window; never accepted as learner evidence.
        explanationCode: { type: string, maxLength: 40 }
      additionalProperties: false
    AdaptiveProfile:
      type: object
      required: [taxonomyVersion, weightingVersion, profileCalculationRevision, evidenceWatermarkVersion, evidenceObservedAt, evidenceSourceCount, preliminary, status, confidence, evidenceCount, independentEvidenceCount, assistedEvidenceCount, clientReportedEvidenceCount, independentModuleCount, establishedSkillCount, needsDiagnostic, explanationCodes, skills, modules]
      properties:
        taxonomyVersion: { type: string, enum: [ege-en-v1] }
        weightingVersion: { type: string, enum: [adaptive-evidence-v1] }
        profileCalculationRevision:
          type: integer
          minimum: 1
          description: Higher profileCalculationRevision wins first, so a newer algorithm may intentionally filter sources. Revision 2 excludes legacy client_reported writing/speaking module attempts; only their server-assessed evidence remains eligible. Within the same calculation revision, evidenceSourceCount is monotonic; equal counts are ordered by evidenceObservedAt and then evidenceWatermarkVersion.
        evidenceWatermarkVersion: { type: string, enum: [adaptive-evidence-watermark-v1] }
        evidenceObservedAt:
          type: string
          format: date-time
          nullable: true
          description: Latest valid source-event timestamp used as the equal-count ordering tie-breaker.
        evidenceSourceCount:
          type: integer
          minimum: 0
          description: Append-only raw source-event count; lower counts never replace higher counts within one calculation revision and may include safely uncredited events.
        preliminary: { type: boolean }
        status: { type: string, enum: [preliminary, established] }
        confidence: { type: integer, minimum: 0, maximum: 100 }
        evidenceCount: { type: integer, minimum: 0 }
        independentEvidenceCount: { type: integer, minimum: 0 }
        assistedEvidenceCount: { type: integer, minimum: 0 }
        clientReportedEvidenceCount: { type: integer, minimum: 0 }
        independentModuleCount: { type: integer, minimum: 0, maximum: 6 }
        establishedSkillCount:
          type: integer
          minimum: 0
          maximum: 12
          description: Number of independently established taxonomy skills; the whole profile stays preliminary below 12.
        needsDiagnostic: { type: boolean, description: True only while the initial diagnostic or sufficient genuine production evidence is missing; scheduled refresh is represented separately by retention.rediagnostic.due and never blocks sessions. }
        explanationCodes: { type: array, items: { type: string } }
        skills: { type: array, items: { $ref: '#/components/schemas/AdaptiveSkillEstimate' } }
        modules: { type: array, items: { $ref: '#/components/schemas/AdaptiveModuleEvidence' } }
      additionalProperties: false
    AdaptiveModuleEvidence:
      type: object
      required: [id, mastery, uncertainty, status, evidenceCount, independentEvidenceCount]
      properties:
        id: { type: string, enum: [vocabulary, grammar, reading, listening, writing, speaking] }
        mastery: { type: integer, minimum: 0, maximum: 100, description: Internal Easy Boost learning mastery; not a CEFR or IELTS level. Clients must suppress zero mastery when evidenceCount is zero. }
        uncertainty: { type: integer, minimum: 0, maximum: 100 }
        status: { type: string, enum: [preliminary, established] }
        evidenceCount: { type: integer, minimum: 0 }
        independentEvidenceCount: { type: integer, minimum: 0 }
      additionalProperties: false
    AdaptiveOverview:
      type: object
      required: [goal, profile, plan, retention, access]
      properties:
        goal:
          allOf:
            - $ref: '#/components/schemas/AdaptiveGoal'
          nullable: true
        profile: { $ref: '#/components/schemas/AdaptiveProfile' }
        plan:
          allOf:
            - $ref: '#/components/schemas/AdaptivePlan'
          nullable: true
        retention: { $ref: '#/components/schemas/AdaptiveRetention' }
        access: { $ref: '#/components/schemas/AdaptiveAccess' }
      additionalProperties: false
    AdaptiveAccess:
      type: object
      required: [tier, capabilities, usage, limits]
      properties:
        tier: { type: string, enum: [free, base, premium] }
        capabilities:
          type: object
          required: [resultSummary, shortDiagnostic, deepDiagnostic, demoSession, continuousPlan, arbitrarySessions, adaptivePlan, premiumDepth, writingSpeakingDepth, voiceTutorHandoff, languageOrientation, detailedReports]
          properties:
            resultSummary: { type: boolean }
            shortDiagnostic: { type: boolean }
            deepDiagnostic: { type: boolean }
            demoSession: { type: boolean }
            continuousPlan: { type: boolean }
            arbitrarySessions: { type: boolean }
            adaptivePlan: { type: boolean }
            premiumDepth: { type: boolean }
            writingSpeakingDepth: { type: boolean }
            voiceTutorHandoff: { type: boolean }
            languageOrientation: { type: boolean }
            detailedReports: { type: boolean }
          additionalProperties: false
        usage:
          type: object
          required: [shortDiagnosticCompleted, deepDiagnosticsCompleted, demoSessionUsed, sessionsCreated, sessionsCompleted]
          properties:
            shortDiagnosticCompleted: { type: boolean }
            deepDiagnosticsCompleted: { type: integer, minimum: 0 }
            demoSessionUsed: { type: boolean }
            sessionsCreated: { type: integer, minimum: 0 }
            sessionsCompleted: { type: integer, minimum: 0 }
          additionalProperties: false
        limits:
          type: object
          required: [freeDemoDurationMinutes]
          properties:
            freeDemoDurationMinutes: { type: integer, enum: [15] }
          additionalProperties: false
      additionalProperties: false
    AdaptiveRetentionCheck:
      type: object
      required: [repeatId, taskId, skillId, module, stage, status, dueAt, windowEndsAt]
      properties:
        repeatId: { type: string, format: uuid }
        taskId: { type: string, minLength: 4, maxLength: 180 }
        skillId: { type: string, maxLength: 120 }
        module: { type: string, enum: [grammar, vocabulary, reading, listening, writing, speaking] }
        stage: { type: string, enum: [day_1, day_7] }
        status: { type: string, enum: [due, critical_due] }
        dueAt: { type: string, format: date-time }
        windowEndsAt: { type: string, format: date-time }
      additionalProperties: false
    AdaptiveRetention:
      type: object
      required: [version, calculatedAt, dueChecks, rediagnostic]
      properties:
        version: { type: string, enum: [adaptive-retention-v1] }
        calculatedAt: { type: string, format: date-time }
        dueChecks: { type: array, items: { $ref: '#/components/schemas/AdaptiveRetentionCheck' } }
        rediagnostic:
          type: object
          required: [cadenceDays, confidenceBand, lastCompletedAt, nextDueAt, due, reasonCode]
          properties:
            cadenceDays: { type: integer, enum: [28, 35, 42] }
            confidenceBand: { type: string, enum: [low, medium, high] }
            lastCompletedAt: { type: string, format: date-time, nullable: true }
            nextDueAt: { type: string, format: date-time, nullable: true }
            due: { type: boolean }
            reasonCode: { type: string, enum: [low_confidence_or_coverage, partial_confidence_or_coverage, stable_profile_refresh] }
          additionalProperties: false
      additionalProperties: false
    AdaptiveLanguageOrientation:
      type: object
      required: [version, approximate, officialIeltsResult, disclaimer, cefr, ielts, basis]
      properties:
        version: { type: string, enum: [adaptive-language-orientation-v1] }
        approximate: { type: boolean, enum: [true] }
        officialIeltsResult: { type: boolean, enum: [false] }
        disclaimer: { type: string }
        cefr:
          type: object
          required: [range, lower, upper]
          properties:
            range: { type: string, description: Broad A0–C2 range or insufficient_evidence. }
            lower: { type: string, nullable: true, enum: [A0, A1, A2, B1, B2, C1, C2] }
            upper: { type: string, nullable: true, enum: [A0, A1, A2, B1, B2, C1, C2] }
          additionalProperties: false
        ielts:
          type: object
          required: [range]
          properties:
            range: { type: string, description: Broad approximate range or insufficient_evidence. }
          additionalProperties: false
        basis:
          type: object
          required: [independentlyEstablishedSkills, totalSkills, confidence, assistedEvidenceDoesNotEstablishLevel]
          properties:
            independentlyEstablishedSkills: { type: integer, minimum: 0, maximum: 12 }
            totalSkills: { type: integer, enum: [12] }
            confidence: { type: integer, minimum: 0, maximum: 100 }
            assistedEvidenceDoesNotEstablishLevel: { type: boolean, enum: [true] }
          additionalProperties: false
      additionalProperties: false
    AdaptiveDetailedReportModule:
      type: object
      required: [module, completedBlocks, plannedMinutes, actualMinutes, actualMinutesComplete, independentEvidence, assistedEvidence, clientReportedEvidence]
      properties:
        module: { type: string, enum: [vocabulary, grammar, reading, listening, writing, speaking] }
        completedBlocks: { type: integer, minimum: 0 }
        plannedMinutes: { type: integer, minimum: 0 }
        actualMinutes: { type: integer, minimum: 0 }
        actualMinutesComplete: { type: boolean }
        independentEvidence: { type: integer, minimum: 0 }
        assistedEvidence: { type: integer, minimum: 0 }
        clientReportedEvidence: { type: integer, minimum: 0 }
      additionalProperties: false
    AdaptiveDetailedReport:
      type: object
      required: [version, generatedAt, scope, totals, profile, forecast, modules, sessions, secondaryOrientation]
      properties:
        version: { type: string, enum: [adaptive-detailed-report-v1] }
        generatedAt: { type: string, format: date-time }
        scope:
          type: object
          required: [maximumSessions, includedSessions]
          properties:
            maximumSessions: { type: integer, enum: [12] }
            includedSessions: { type: integer, minimum: 0, maximum: 12 }
          additionalProperties: false
        totals:
          type: object
          required: [completedSessions, completedLearningBlocks, plannedLearningMinutes, actualLearningMinutes]
          properties:
            completedSessions: { type: integer, minimum: 0, maximum: 12 }
            completedLearningBlocks: { type: integer, minimum: 0 }
            plannedLearningMinutes: { type: integer, minimum: 0 }
            actualLearningMinutes: { type: integer, minimum: 0, nullable: true }
          additionalProperties: false
        profile: { type: object, additionalProperties: true }
        forecast: { type: object, nullable: true, additionalProperties: true }
        modules: { type: array, maxItems: 6, items: { $ref: '#/components/schemas/AdaptiveDetailedReportModule' } }
        sessions: { type: array, maxItems: 12, items: { type: object, additionalProperties: true } }
        secondaryOrientation: { $ref: '#/components/schemas/AdaptiveLanguageOrientation' }
      additionalProperties: false
    AdaptiveGoalMutationResponse:
      type: object
      required: [created, replayed, superseded, goal, profile, plan]
      properties:
        created: { type: boolean, description: True only when this request created the goal revision that is still current in this response. }
        replayed: { type: boolean, description: True when the exact retained owner-bound idempotency claim was replayed. }
        superseded: { type: boolean, description: True when the request's saved or replayed goal is older than the authoritative current snapshot returned. }
        goal: { $ref: '#/components/schemas/AdaptiveGoal' }
        profile: { $ref: '#/components/schemas/AdaptiveProfile' }
        plan: { $ref: '#/components/schemas/AdaptivePlan' }
      additionalProperties: false
    AdaptiveForecastChoice:
      type: object
      required: [type, reasonCode]
      properties:
        type: { type: string, enum: [increase_weekly_time, adjust_target_score, update_exam_date] }
        weeklyMinutes: { type: integer, minimum: 30, maximum: 2520, multipleOf: 5, description: Present only when it strictly exceeds availableWeeklyMinutes; capped at 2520. }
        targetScore: { type: integer, minimum: 0, maximum: 100, description: For an active unlikely forecast, lies between currentEstimatedScore and highScore. }
        sufficientForEstimatedRequirement: { type: boolean, description: Present for increase_weekly_time. False means the supported 2520-minute maximum remains below the truthful requiredWeeklyMinutes. }
        constraintCode: { type: string, nullable: true, enum: [maximum_supported_weekly_time] }
        reasonCode: { type: string, enum: [time_below_estimated_requirement, target_outside_current_forecast, exam_date_reached] }
      additionalProperties: false
    AdaptiveForecast:
      type: object
      description: Active honest estimated range or an action-required expired-date state from adaptive-plan-v1. Required weekly time is the five-minute upward rounding of the exact inverse of the range capacity equation, including uncertainty and its 0.75 effectiveness factor. The active range is explicitly rule-based, not calibrated and never a guaranteed EGE score. An unlikely active forecast always offers a valid target adjustment and offers increase_weekly_time only when it can strictly increase the current time; a learner already at 2520 minutes is never told to increase to the same or a smaller value.
      required: [kind, status, actionCode, currentEstimatedScore, lowScore, highScore, confidence, requiredWeeklyMinutes, availableWeeklyMinutes, weeksRemaining, feasibility, assumptionCodes, choices]
      properties:
        kind: { type: string, enum: [estimated_range, action_required] }
        status: { type: string, enum: [active, exam_date_expired] }
        actionCode: { type: string, nullable: true, enum: [update_exam_date] }
        currentEstimatedScore: { type: integer, minimum: 0, maximum: 100, nullable: true }
        lowScore: { type: integer, minimum: 0, maximum: 100, nullable: true }
        highScore: { type: integer, minimum: 0, maximum: 100, nullable: true }
        confidence: { type: integer, minimum: 0, maximum: 100, nullable: true }
        requiredWeeklyMinutes: { type: integer, minimum: 0, multipleOf: 5, nullable: true }
        availableWeeklyMinutes: { type: integer, minimum: 30, maximum: 2520 }
        weeksRemaining: { type: number, minimum: 0, description: Real fractional weeks for an active goal; exactly zero after the exam date. }
        feasibility: { type: string, enum: [feasible_with_consistent_study, unlikely_with_current_time, update_exam_date_required] }
        assumptionCodes:
          type: array
          items: { type: string, enum: [rule_based_not_calibrated, study_time_completed_as_planned, preliminary_profile, short_deadline, exam_date_reached] }
        choices: { type: array, maxItems: 2, description: Empty when feasible; update-date only when expired; otherwise a target adjustment plus an optional strictly actionable time increase., items: { $ref: '#/components/schemas/AdaptiveForecastChoice' } }
      additionalProperties: false
    AdaptiveAllocationItem:
      type: object
      required: [id, percentage, reasonCodes]
      properties:
        id: { type: string, minLength: 1, maxLength: 120 }
        label: { type: string, minLength: 1, maxLength: 160 }
        module: { type: string, enum: [vocabulary, grammar, reading, listening, writing, speaking] }
        percentage: { type: integer, minimum: 0, maximum: 100 }
        activityType: { type: string, enum: [diagnostic_probe, retention_review, practice] }
        reasonCodes:
          type: array
          minItems: 1
[...]
