openapi: 3.0.3
info:
  title: Easy Boost API
  version: 1.0.0
  description: Production HTTP API. Authentication uses an HttpOnly SameSite cookie.
servers:
  - url: https://useboost.ru
security:
  - cookieAuth: []
paths:
  /api/v1/admin/metrics:
    get:
      summary: Read process uptime, bounded HTTP and PII-free Voice Tutor recovery, micro-check and day-1/day-7 pass metrics
      responses:
        '200': { description: Metrics snapshot for an administrator }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /health/live:
    get:
      security: []
      summary: Process liveness
      responses:
        '200': { description: Process is alive }
  /health/ready:
    get:
      security: []
      summary: Application and database readiness
      responses:
        '200': { description: Ready }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
  /api/v1/tg/start:
    post:
      security: []
      summary: Create a short-lived Telegram authorization code
      responses:
        '200':
          description: Authorization URL and opaque code
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/tg/check:
    get:
      security: []
      summary: Check and consume Telegram authorization code
      parameters:
        - in: query
          name: code
          required: true
          schema: { type: string, maxLength: 256 }
      responses:
        '200': { description: Pending or authenticated state }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/me:
    get:
      summary: Current user, base subscription, Premium entitlements, remaining voice minutes and server-projected feature flags
      responses:
        '200': { description: User profile; `features.adaptive_learning` is true only when the server rollout flag is enabled }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/payments/requests:
    post:
      summary: Create or return the current user's pending Premium Voice payment request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product]
              properties:
                product: { type: string, enum: [premium_voice] }
              additionalProperties: false
      responses:
        '201': { description: New request created; no subscription or entitlement is self-granted }
        '200': { description: Existing pending request returned idempotently }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    get:
      summary: Read the current user's latest Premium Voice payment request and entitlement status
      parameters:
        - in: query
          name: product
          required: true
          schema: { type: string, enum: [premium_voice] }
      responses:
        '200': { description: Latest request or null plus current entitlement_active flag }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/admin/payment-requests/{requestId}/resolve:
    post:
      summary: Idempotently approve or reject a payment request as an administrator
      parameters:
        - in: path
          name: requestId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [approved, rejected] }
              additionalProperties: false
      responses:
        '200': { description: Terminal request result. Premium approval atomically grants or extends the base subscription and bounded voice_tutor entitlement to the same end time; rejection grants nothing. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Administrator role required; students cannot self-grant and administrators cannot approve their own request }
        '404': { description: Payment request not found }
  /api/v1/admin/payment-requests:
    get:
      summary: List the actionable Premium Voice payment queue for an administrator
      parameters:
        - in: query
          name: product
          required: true
          schema: { type: string, enum: [premium_voice] }
        - in: query
          name: status
          required: true
          schema: { type: string, enum: [new] }
      responses:
        '200': { description: Bounded request UUID, username, product and status rows used to resolve verified payments }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Administrator role required }
  /api/v1/admin/users/{username}/entitlements/voice_tutor/revoke:
    post:
      summary: Idempotently revoke the active Voice Tutor entitlement without rewriting base subscription history
      parameters:
        - in: path
          name: username
          required: true
          schema: { type: string, minLength: 1, maxLength: 64 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: false }
      responses:
        '200': { description: Whether an active entitlement was revoked }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Administrator role required }
  /api/v1/voice-tutor/errors:
    post:
      summary: Server-check and record a supported grammar or vocabulary error before tutoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [attemptId, module, itemId, revision, learnerAnswer]
              properties:
                attemptId: { type: string, format: uuid }
                module: { type: string, enum: [grammar, vocabulary] }
                itemId: { type: string, minLength: 4, maxLength: 120 }
                revision: { type: integer, minimum: 1, maximum: 10000 }
                learnerAnswer: { type: string, minLength: 1, maxLength: 200 }
              additionalProperties: false
      responses:
        '201': { description: Incorrect answer checked against the canonical item and retained only as bounded normalized metadata on this source attempt }
        '200': { description: Existing idempotent attempt result }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: The current subscription has no voice_tutor entitlement }
        '422': { description: Answer is correct, item is unsupported, or revision is stale }
  /api/v1/voice-tutor/recovery-map:
    get:
      summary: Read the current user's server-owned error recovery map
      responses:
        '200':
          description: Bounded open/recovered/relapsed skills with initial micro-check result, voice minutes, due repeats, next useful review and non-official potential-points estimate
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/voice-tutor/repeats/{repeatId}/attempts:
    post:
      summary: Submit one answer to a due server-owned day-1/day-7 analog
      parameters:
        - in: path
          name: repeatId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [attemptId, taskId, answer]
              properties:
                attemptId: { type: string, format: uuid }
                taskId: { type: string, minLength: 4, maxLength: 180 }
                answer: { type: string, minLength: 1, maxLength: 200, description: Checked transiently and never persisted }
              additionalProperties: false
      responses:
        '201': { description: New bounded pass/fail outcome; answer text is absent }
        '200': { description: Idempotent replay of the same attempt UUID and payload }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { description: Repeat does not belong to the current user }
        '409': { description: Future, superseded, out-of-order, already attempted or conflicting replay }
        '422': { description: Task identity mismatch or invalid answer }
  /api/v1/voice-tutor/context-attempts:
    post:
      summary: Validate a completed canonical reading or listening set and record its incorrect answers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [attemptId, module, setId, revision, answers]
              properties:
                attemptId: { type: string, format: uuid }
                module: { type: string, enum: [reading, listening] }
                setId: { type: string, minLength: 4, maxLength: 120 }
                revision: { type: integer, minimum: 1, maximum: 10000 }
                answers:
                  type: array
                  minItems: 1
                  maxItems: 20
                  items: { type: string, minLength: 1, maxLength: 200 }
              additionalProperties: false
      responses:
        '201': { description: Canonical result and deterministic child error attempts recorded }
        '200': { description: Existing idempotent result returned with the same child error attempt ids }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: The current subscription has no voice_tutor entitlement }
        '409': { description: Canonical set revision is stale, or the result UUID was already bound to different answers }
        '422': { description: Set, answer count, or an answer option does not match server-owned content }
  /api/v1/voice-tutor/sessions:
    post:
      summary: Reserve Voice Tutor quota and build a server-owned supported-module capsule (or mark trusted discovery required)
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 8, maxLength: 100 }
      requestBody:
        description: Omit the body for the legacy quota-only reservation. Grammar/lexicon/reading/listening send a UUID attempt pointer; writing/speaking send a server-issued numeric review pointer, source and one server-issued lost-criterion index. No answer, transcript, assignment or review is accepted here.
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [attemptId, revision]
                  properties:
                    attemptId: { type: string, format: uuid }
                    revision: { type: integer, minimum: 1, maximum: 10000 }
                  additionalProperties: false
                - type: object
                  required: [source, attemptId, revision, criterionIndex]
                  properties:
                    source: { type: string, enum: [writing, speaking] }
                    attemptId: { type: integer, minimum: 1 }
                    revision: { type: integer, minimum: 1, maximum: 10000 }
                    criterionIndex: { type: integer, minimum: 0, maximum: 20 }
                  additionalProperties: false
      responses:
        '201': { description: Capsule created. Voice mode exposes only a random one-use application ticket, expires_at clamped to the reserved session deadline, same-origin proxy_url and pedagogy nonce. Provider credentials, URL, prompt, model and tools remain server-only. If voice is blocked or unavailable, the same capsule returns text/local mode with a bounded voice_unavailable code. }
        '200': { description: Existing idempotent result. A lost voice 201 returns realtime.status=reissue_required and a bounded realtime.reissue_url, never the original ticket or nonce. A provisional voice reservation with no issued ticket atomically receives its first ticket plus a replacement nonce, or becomes zero-billable local mode when realtime is unavailable. A lost text/local 201 atomically rotates and returns one replacement pedagogy nonce without repeating the AI call. A legacy or partially committed null delivery is atomically completed as zero-billable local mode. Any recovery is allowed exactly once. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: The current subscription has no voice_tutor entitlement }
        '409': { description: Another Voice Tutor session is active }
        '422': { description: Attempt, canonical item/context, or completed validated writing/speaking review is not supported }
        '429': { description: Daily or monthly voice quota is exhausted }
        '503': { description: New quota-only voice reservation is disabled by the feature flag, cost kill switch or required-but-unconfirmed ZDR policy; tracer requests continue with text/local fallback in a 201 response }
  /api/v1/voice-tutor/rule-discoveries:
    post:
      summary: Discover a provisional EGE rule from server-allowlisted sources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id, nonce]
              properties:
                session_id: { type: string, format: uuid }
                nonce: { type: string, minLength: 16, maxLength: 200 }
              additionalProperties: false
      responses:
        '201': { description: Explicitly provisional pending_review rule with at least two source URLs, atomically bound to the still-active owner session; includes the next one-time nonce for the explain state }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Premium voice_tutor entitlement required }
        '409': { description: Session is inactive or no longer requires discovery, nonce was replayed, another discovery owns the session claim, or an approved canonical card already exists }
        '422': { description: One source, conflict, blocked URL or invalid evidence; no fact/card is created }
        '429': { description: Per-user trusted-rule search or extraction rate limit is exhausted }
        '503': { description: Discovery is not configured, the UTC AI budget is exhausted, or a bounded dependency failed }
  /api/v1/voice-tutor/rules/{skillId}:
    get:
      summary: Retrieve only an approved canonical rule card
      parameters:
        - in: path
          name: skillId
          required: true
          schema: { type: string, maxLength: 120 }
        - in: query
          name: exam_year
          required: true
          schema: { type: integer, minimum: 2020, maximum: 2100 }
      responses:
        '200': { description: Approved bounded rule and source URLs }
        '404': { description: No approved rule exists; pending/rejected cards are hidden }
  /api/v1/voice-tutor/rule-cards:
    get:
      summary: List rule cards for an administrator review queue
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [pending_review, approved, rejected], default: pending_review }
      responses:
        '200': { description: Bounded cards with source URL/hash metadata and review audit }
        '403': { description: Administrator role required }
  /api/v1/voice-tutor/rule-cards/{cardId}/review:
    post:
      summary: Idempotently approve or reject one pending rule card as an administrator
      parameters:
        - in: path
          name: cardId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [approved, rejected] }
              additionalProperties: false
      responses:
        '200': { description: First transition or idempotent replay of the same decision }
        '403': { description: Administrator role required }
        '404': { description: Rule card not found }
        '409': { description: Card already has the opposite terminal decision }
  /api/v1/voice-tutor/sessions/{sessionId}/events:
    post:
      summary: Advance diagnose, explain, micro-check and transfer with a rotating nonce
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nonce, event]
              properties:
                nonce: { type: string, minLength: 16, maxLength: 200 }
                provider_call_id:
                  type: string
                  minLength: 1
                  maxLength: 128
                  pattern: '^[A-Za-z0-9._:-]+$'
                  description: Required in voice delivery and accepted only for the matching outstanding advance_pedagogy call; omitted only in text/local delivery
                event:
                  type: object
                  required: [type]
                  properties:
                    type: { type: string, enum: [diagnosis_complete, explanation_complete, check_answer, transfer_answer] }
                    answer: { type: string, maxLength: 200 }
              additionalProperties: false
      responses:
        '200': { description: Server-validated state and next one-time nonce; a provider_call_id must match the outstanding call and authorizes exactly one strict accepted/state function output after the nonce transition; with current text_processing consent, text delivery also returns the next bounded AI turn, otherwise it atomically downgrades to the canonical local rule }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { description: Invalid transition or replayed nonce }
        '503': { description: Voice delivery omitted or failed exact provider call correlation }
  /api/v1/voice-tutor/sessions/{sessionId}/fallback:
    post:
      summary: Continue the server-finalized proxy capsule in text or local mode without accepting client usage or wall-clock evidence
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nonce]
              properties:
                nonce: { type: string, minLength: 16, maxLength: 200 }
                reason: { type: string, enum: [microphone_unavailable, provider_unavailable, session_timeout], default: microphone_unavailable }
              additionalProperties: false
      responses:
        '200': { description: Same capsule through the budgeted text AI operation when current text_processing consent exists, otherwise through its local canonical rule. A ticket not consumed by the proxy bills zero; a consumed abnormal proxy session retains its full reservation; a clean provider-confirmed session uses server-observed input plus output PCM bytes. No client time or second reservation is accepted. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { description: Replayed nonce }
  /api/v1/voice-tutor/sessions/{sessionId}/clarifications:
    post:
      summary: Ask one bounded transient clarification without changing the pedagogical state
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nonce, kind]
              properties:
                nonce: { type: string, minLength: 16, maxLength: 200 }
                kind: { type: string, enum: [clarify, explain_differently] }
                message: { type: string, minLength: 1, maxLength: 200, description: Transient provider input; never persisted or logged }
              additionalProperties: false
      responses:
        '200': { description: Same FSM state, rotated nonce, bounded clarification count and transient text turn }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Current text-processing consent required }
        '409': { description: Replayed nonce }
        '429': { description: Three-turn clarification limit reached }
  /api/v1/voice-tutor/reports:
    post:
      summary: Submit a structured learner report without free text
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id, reason]
              properties:
                session_id: { type: string, format: uuid }
                reason: { type: string, enum: [incorrect_rule, unclear_explanation, bad_example, technical_issue] }
              additionalProperties: false
      responses:
        '201': { description: Owner-bound report queued with session/rule identifiers only }
        '200': { description: Idempotent existing report }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { description: Session does not belong to current user }
    get:
      summary: List the administrator learner-report review queue
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [pending, confirmed, dismissed], default: pending }
      responses:
        '200': { description: Structured queue and review audit without audio, transcript or learner text }
        '403': { description: Administrator role required }
  /api/v1/voice-tutor/reports/{reportId}/review:
    post:
      summary: Idempotently confirm or dismiss a structured learner report
      parameters:
        - in: path
          name: reportId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [confirmed, dismissed] }
              additionalProperties: false
      responses:
        '200': { description: First audited review or idempotent replay }
        '403': { description: Administrator role required }
        '404': { description: Report not found }
        '409': { description: Report already has the opposite decision }
  /api/v1/voice-tutor/sessions/{sessionId}/realtime-ticket:
    post:
      summary: Recover one lost session-creation response by rotating the one-use app ticket and pedagogy nonce
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 8, maxLength: 100 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '200': { description: If the single replacement response was also lost, the same key atomically completes the unactivated reservation as zero-bill local mode and returns one fallback nonce; no provider connection or charge remains possible. }
        '201': { description: Exactly one replacement ticket and nonce. The original ticket is invalidated atomically. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Current voice-processing consent and Premium voice_tutor entitlement are rechecked before any ticket or nonce rotation }
        '404': { description: Session does not belong to the current user }
        '409': { description: Ticket already consumed, session expired, Idempotency-Key mismatch or replacement limit reached }
  /api/v1/voice-tutor/sessions/{sessionId}/finish:
    post:
      summary: Idempotently finish an unused reservation; consumed proxy sessions remain governed by server-owned exact or conservative finalization
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Session finished, or the previous finish result returned }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Session does not belong to the current user }
  /api/v1/admin/status:
    get:
      summary: Verify administrator access
      responses:
        '200': { description: Administrator access confirmed }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Authenticated user does not have the admin role }
  /api/v1/logout:
    post:
      summary: Clear authentication cookie
      responses:
        '200': { description: Logged out }
  /api/v1/adaptive-learning/goal:
    get:
      summary: Read the authenticated learner's current EGE goal
      responses:
        '200':
          description: Current goal or null
          content:
            application/json:
              schema:
                type: object
                required: [goal]
                properties:
                  goal:
                    allOf:
                      - $ref: '#/components/schemas/AdaptiveGoal'
                    nullable: true
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
    put:
      summary: Idempotently save a current EGE target and refresh the evidence-backed preliminary profile
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [targetExam, targetScore, examDate, weeklyMinutes]
              properties:
                targetExam: { type: string, enum: [ege_english] }
                targetScore: { type: integer, minimum: 0, maximum: 100 }
                examDate: { type: string, format: date, description: Must be later than the current UTC date. }
                weeklyMinutes: { type: integer, minimum: 30, maximum: 2520, multipleOf: 5 }
              additionalProperties: false
      responses:
        '201':
          description: Goal revision created and returned as one current goal/profile/plan snapshot
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdaptiveGoalMutationResponse' }
        '200':
          description: Exact idempotent replay or a request superseded by a newer concurrent goal; response still contains one authoritative current snapshot
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdaptiveGoalMutationResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { description: Idempotency key was already used with a different goal payload }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/overview:
    get:
      summary: Read the current goal and an owner-bound profile bootstrapped from persisted attempts and Voice Tutor recoveries
      responses:
        '200':
          description: Goal plus transparent preliminary or established profile; no raw answer, essay, transcript or audio is copied
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdaptiveOverview' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/plan:
    get:
      summary: Read or idempotently refresh the authenticated learner's honest EGE forecast and weekly allocation
      description: Uses a transparent rule-based model, not calibrated IRT. The active score range is not a guarantee. The UTC start of recalculationBucket is the deterministic instant for forecast weeks, deadline/critical priority, allocation and calculatedAt; actual createdAt/updatedAt remain receipt timestamps. The preceding bucket keeps exactly 1/7 week before the exam-date bucket becomes action-required. A daily/evidence/base-revision fingerprint replays only after the complete normalized candidate envelope and plan semantics exactly match the retained revision, including exact retained old-goal candidates; regenerated identity and receipt timestamps are ignored. Unknown stale-goal fingerprints fail closed. New candidates are strictly validated and must match the current persisted profile vector under the owner lock. Compare-and-set retries concurrent recalculations against their actual winning base. Ordinary allocation changes, including critical_due priority work, are limited to 10 percentage points per visible skill and module; only a goal revision change resets allocation until Ticket 06 provides repository-derived persisted expiry.
      responses:
        '200':
          description: Current owner-bound goal, evidence profile and authoritative persisted plan revision
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdaptiveOverview' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { description: ADAPTIVE_GOAL_REQUIRED; the learner must save an EGE goal before a plan can be calculated }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/sessions/preview:
    post:
      summary: Deterministically preview an adaptive session against the current plan and rolling UTC-week budget
      description: The server selects only registered built-in activities. Durations are 15–120 minutes in five-minute increments; sessions longer than 60 minutes include one exact 10-minute break. The returned fingerprint binds the current plan revision, content registry, weekly budget snapshot and block sequence.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [durationMinutes]
              properties:
                durationMinutes: { type: integer, minimum: 15, maximum: 120, multipleOf: 5 }
              additionalProperties: false
      responses:
        '200':
          description: Server-time-stamped non-persisted preview
          content:
            application/json:
              schema:
                type: object
                required: [serverTime, preview]
                properties:
                  serverTime: { type: string, format: date-time }
                  preview: { $ref: '#/components/schemas/AdaptiveSessionPreview' }
                additionalProperties: false
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { description: ADAPTIVE_GOAL_REQUIRED, ADAPTIVE_SESSION_NO_CONTENT, or ADAPTIVE_SESSION_COVERAGE_GAP when no exact meaningful sequence can be composed from justified registered activities; an unsupported individual skill is surfaced in coverageGaps and uses explicit fallback instead of blocking by itself }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/sessions:
    post:
      summary: Persist one owner-bound adaptive session from an exact current preview
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [durationMinutes, previewFingerprint]
              properties:
                durationMinutes: { type: integer, minimum: 15, maximum: 120, multipleOf: 5 }
                previewFingerprint: { type: string, pattern: '^[0-9a-f]{64}$' }
              additionalProperties: false
      responses:
        '201': { description: New session persisted, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionMutationResult' } } } }
        '200': { description: Exact immutable create response replayed, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionMutationResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { description: Stale preview/plan, another current session, ADAPTIVE_SESSION_COVERAGE_GAP, unavailable content or idempotency conflict }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/sessions/current:
    get:
      summary: Restore the authenticated learner's current created or in-progress adaptive session
      responses:
        '200':
          description: Current owner-bound session
          content:
            application/json:
              schema:
                type: object
                required: [session, execution, events, summary]
                properties:
                  session: { $ref: '#/components/schemas/AdaptiveLearningSession' }
                  execution: { $ref: '#/components/schemas/AdaptiveSessionExecution' }
                  events: { type: array, items: { $ref: '#/components/schemas/AdaptiveSessionEvent' } }
                  summary:
                    allOf: [{ $ref: '#/components/schemas/AdaptiveSessionSummary' }]
                    nullable: true
                additionalProperties: false
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: No current session belongs to the authenticated learner, or rollout is disabled }
  /api/v1/adaptive-learning/sessions/{sessionId}/replace:
    post:
      summary: Replace one learning block once while preserving the session duration and block identities
      description: The alternative is selected from the same server-owned content registry and persisted plan revision. A session permits one replacement total; exact retries return the retained response snapshot.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [blockId, reason]
              properties:
                blockId: { type: string, pattern: '^asb_[0-9a-f]{16}_[0-9]{2}$' }
                reason: { type: string, enum: [too_difficult, too_easy, not_relevant, accessibility] }
              additionalProperties: false
      responses:
        '200': { description: Replacement applied or its exact response replayed, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionReplacementResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Session or block does not belong to the authenticated learner }
        '409': { description: Replacement was already used, no safe alternative exists, plan is unavailable, revision changed or key conflicts }
  /api/v1/adaptive-learning/sessions/{sessionId}/start:
    post:
      summary: Atomically start the exact current learning block and issue a short-lived opaque execution claim
      description: The claim is owner/session/block/launch/revision-bound and expires after two hours. Its plaintext value is reconstructed by a domain-separated server HMAC for an exact Idempotency-Key replay, is never stored in a mutation snapshot or claim row, and is never exported. Another live unconsumed claim and a stale compare-and-set revision fail closed; an expired unconsumed claim may be replaced. If a claim was already consumed by an exact persisted attempt but its advance response was lost, the 200 response returns that attempt for a durable exact advance and never issues a second claim.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [blockId, expectedRevision]
              properties:
                blockId: { type: string, pattern: '^asb_[0-9a-f]{16}_[0-9]{2}$' }
                expectedRevision: { type: integer, minimum: 0 }
              additionalProperties: false
      responses:
        '201': { description: Current block started and claim issued, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionStartResult' } } } }
        '200': { description: Exact immutable start response replayed, or a consumed exact attempt returned for durable recovery without a new claim, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionStartResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Owner-bound session or block was not found }
        '409': { description: Stale revision, wrong/current state, active claim or idempotency conflict }
  /api/v1/adaptive-learning/sessions/{sessionId}/bind-attempt:
    post:
      summary: Bind a completed server-owned writing or speaking evaluation to the active execution claim
      description: The browser supplies no score. The repository verifies owner, task/activity identity, completed status, creation after claim issuance and exact claim launch fingerprint. Exact binding replay is safe.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [executionClaim, attempt]
              properties:
                executionClaim: { type: string, minLength: 32, maxLength: 200, pattern: '^[A-Za-z0-9_-]+$' }
                attempt:
                  type: object
                  required: [type, id]
                  properties:
                    type: { type: string, enum: [writing, speaking] }
                    id: { type: integer, minimum: 1 }
                  additionalProperties: false
              additionalProperties: false
      responses:
        '201': { description: Server-owned attempt bound to the claim }
        '200': { description: Exact binding replayed }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Owner-bound session was not found }
        '409': { description: Invalid, consumed or mismatched claim/attempt }
        '410': { description: Execution claim expired }
  /api/v1/adaptive-learning/sessions/{sessionId}/advance:
    post:
      summary: Complete the exact current block from persisted evidence and recalculate the learner profile and plan
      description: Learning blocks require a claim-bound persisted module, writing or speaking attempt. Breaks require null. The response contains an allowlisted evidence summary, profile/plan delta and next action; it never accepts a client-supplied completion or score. Compare-and-set and owner-global idempotency make concurrent/exact retries safe.
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [blockId, expectedRevision, attempt]
              properties:
                blockId: { type: string, pattern: '^asb_[0-9a-f]{16}_[0-9]{2}$' }
                expectedRevision: { type: integer, minimum: 0 }
                attempt:
                  oneOf:
                    - type: object
                      required: [type, id]
                      properties:
                        type: { type: string, enum: [module] }
                        id: { type: string, format: uuid }
                      additionalProperties: false
                    - type: object
                      required: [type, id]
                      properties:
                        type: { type: string, enum: [writing, speaking] }
                        id: { type: integer, minimum: 1 }
                      additionalProperties: false
                  nullable: true
              additionalProperties: false
      responses:
        '200': { description: Block completed or exact response replayed, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionAdvanceResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Owner-bound session or block was not found }
        '409': { description: Stale revision, wrong block/state, missing/mismatched attempt or idempotency conflict }
  /api/v1/adaptive-learning/sessions/{sessionId}/finish:
    post:
      summary: Explicitly finish a session only after every persisted block event exists
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [expectedRevision]
              properties:
                expectedRevision: { type: integer, minimum: 0 }
              additionalProperties: false
      responses:
        '200': { description: Completion summary created or exact finish response replayed, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveSessionFinishResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Owner-bound session was not found }
        '409': { description: Session is not ready, revision is stale or idempotency key conflicts }
  /api/v1/adaptive-learning/diagnostics/start:
    post:
      summary: Start or resume the authenticated learner's bounded short diagnostic with a durable owner-bound replay claim
      description: New sessions use the current catalog and its paired policy; every resumed session uses the stored catalog version's policy. A successful key owns its exact start snapshot for the 24-hour start-claim retention window. New keys are bounded by a per-user hourly rate and by a finite live-claim budget.
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: false }
      responses:
        '201': { description: New diagnostic started, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveDiagnosticStartResult' } } } }
        '200': { description: Active run resumed, immutable claimed snapshot replayed within its retention window even after expiry/completion, or adequate existing evidence means no diagnostic is required, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveDiagnosticStartResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { description: Idempotency key conflict or the claimed stored catalog version is unsupported }
        '429': { description: New start keys exceeded the hourly DIAGNOSTIC_START_RATE_LIMIT or the finite retained-claim DIAGNOSTIC_START_LIMIT }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/diagnostics/current:
    get:
      summary: Resume the latest current or expired diagnostic without exposing an answer key
      description: Both in-progress and ready states share the stored catalog policy's deadline (the v1 policy has a 20-minute deadline); at or after it the session is expired and cannot create evidence. The response projects maxItems, estimatedMinutes, deadlineMinutes and expiresAt from that stored policy for browser copy and progress.
      responses:
        '200': { description: Current diagnostic state or nulls when none is active, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveDiagnosticState' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { description: The stored diagnostic catalog version is unsupported; the server fails closed instead of applying a newer mapping }
        '404': { description: Adaptive Learning rollout is disabled; the route is not registered }
  /api/v1/adaptive-learning/diagnostics/{diagnosticId}/answers:
    post:
      summary: Idempotently answer the server-selected current diagnostic item
      description: Selection adapts privately from accepted responses using the stored catalog version's policy. Both in-progress and ready states share that policy's deadline (20 minutes for v1).
      parameters:
        - in: path
          name: diagnosticId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [itemId, choiceId]
              properties:
                itemId: { type: string, minLength: 1, maxLength: 100 }
                choiceId: { type: string, minLength: 1, maxLength: 20 }
              additionalProperties: false
      responses:
        '201': { description: Answer accepted and the next safe state returned }
        '200': { description: The exact originally observed answer snapshot is returned, even after later answers or completion }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Diagnostic does not belong to the authenticated learner }
        '409': { description: Item was already answered, is not current, time expired, the key conflicts, or the stored catalog version is unsupported }
  /api/v1/adaptive-learning/diagnostics/{diagnosticId}/complete:
    post:
      summary: Complete a ready diagnostic and return an explicitly preliminary profile result
      description: Ready does not pause time; ready sessions retain the stored policy deadline and cannot be completed after it. The first success atomically binds an allowlisted immutable completion response snapshot and preliminary profile to its idempotency key. Exact lost-response/concurrent retries replay it before any live profile calculation; a different completion key returns the same canonical snapshot without replacing the original claim.
      parameters:
        - in: path
          name: diagnosticId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 120 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: false }
      responses:
        '201': { description: Diagnostic completed and its immutable completion response snapshot returned, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveDiagnosticCompletionResult' } } } }
        '200': { description: Exact canonical completion snapshot replay returned without live profile recomputation, content: { application/json: { schema: { $ref: '#/components/schemas/AdaptiveDiagnosticCompletionResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Diagnostic does not belong to the authenticated learner }
        '409': { description: Diagnostic is not ready, time expired, the idempotency key conflicts, or the stored catalog version is unsupported }
  /api/v1/account/export:
    get:
      summary: Export the authenticated user's account, progress and attempt data
      responses:
        '200': { description: JSON export including adaptive goals/structured estimates/plan revisions/learning sessions/diagnostic sessions and bounded responses, Voice Tutor sessions, recovery/repeat outcomes and bounded provider/model/prompt metadata; no raw audio, temporary captions, full Voice Tutor transcript, nonce hash, idempotency replay snapshots or answer key }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/account:
    delete:
      summary: Permanently delete the authenticated user and related data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirmation]
              properties:
                confirmation: { type: string, enum: [DELETE] }
      responses:
        '200': { description: Account, Voice Tutor sessions/recoveries/repeats and pending/rejected rule reports are deleted; approved canonical cards survive without creator identity, and reviewer identity on retained cards is anonymized }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/privacy/consent:
    get:
      summary: Read the user's text and realtime speech-to-speech processing choices and current policy version
      responses:
        '200': { description: Consent state and current policy version }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      summary: Grant or withdraw text and realtime speech-to-speech processing consent; an outdated policy version does not authorize a Voice Tutor connection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text_processing, voice_processing]
              properties:
                text_processing: { type: boolean }
                voice_processing: { type: boolean }
      responses:
        '200': { description: Updated consent state }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/progress:
    get:
      summary: Read complete progress document
      responses:
        '200': { description: Progress JSON object }
    post:
      summary: Replace progress document (legacy compatibility)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Progress' }
      responses:
        '200': { description: Saved }
        '400': { $ref: '#/components/responses/BadRequest' }
  /api/v1/progress/modules:
    post:
      summary: Atomically merge changed top-level progress modules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [modules]
              properties:
                modules: { $ref: '#/components/schemas/Progress' }
      responses:
        '200': { description: Merged progress }
        '400': { $ref: '#/components/responses/BadRequest' }
  /api/v1/module-attempts:
    post:
      summary: Record an idempotent learning-module result
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, module, activity, score, maxScore]
              properties:
                id: { type: string, format: uuid }
                module: { type: string, enum: [grammar, vocabulary, reading, listening, writing, speaking, exam] }
                activity: { type: string, maxLength: 80 }
                score: { type: integer, minimum: 0 }
                maxScore: { type: integer, minimum: 1 }
                durationMs: { type: integer, minimum: 0, maximum: 14400000 }
                metadata: { type: object, additionalProperties: true }
      responses:
        '201': { description: Attempt created }
        '200': { description: Duplicate event accepted without creating another attempt }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/word-progress:
    put:
      summary: Upsert a bounded batch of spaced-repetition word states
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [words]
              properties:
                words:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items:
                    type: object
                    required: [word, stage, errorCount, reviewCount, dueAt]
                    properties:
                      word: { type: string, maxLength: 120 }
                      stage: { type: integer, minimum: 0, maximum: 5 }
                      errorCount: { type: integer, minimum: 0 }
                      reviewCount: { type: integer, minimum: 0 }
                      dueAt: { type: integer, nullable: true }
      responses:
        '200': { description: Word states updated }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/error-bank:
    post:
      summary: Aggregate a bounded batch of learning errors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [errors]
              properties:
                errors:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required: [module, itemKey, errorType]
                    properties:
                      module: { type: string, enum: [grammar, vocabulary, reading, listening, writing, speaking, exam] }
                      itemKey: { type: string, maxLength: 160 }
                      errorType: { type: string, maxLength: 60 }
                      details: { type: object, additionalProperties: true }
      responses:
        '200': { description: Errors aggregated }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/ai/evaluate-writing:
    post:
      summary: Evaluate EGE writing task 37 or 38
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [taskType, taskId, answer]
              properties:
                taskType: { type: string, enum: [writing_37, writing_38] }
                taskId: { type: string, maxLength: 120 }
                answer: { type: string }
              additionalProperties: false
      responses:
        '200':
          description: Validated review with explicit experimental assessment metadata
          content:
            application/json:
              schema:
                type: object
                required: [review, provider, attemptId, voiceTutor, assessment, evaluationScope]
                properties:
                  review: { type: object }
                  provider: { type: string }
                  attemptId: { type: integer }
                  voiceTutor:
                    type: object
                    required: [source, attemptId, revision, criterionChoices]
                    properties:
                      source: { type: string, enum: [writing] }
                      attemptId: { type: integer }
                      revision: { type: integer, enum: [1] }
                      criterionChoices:
                        type: array
                        items:
                          type: object
                          required: [index, label]
                          properties:
                            index: { type: integer, minimum: 0, maximum: 20 }
                            label: { type: string, minLength: 1, maxLength: 160 }
                          additionalProperties: false
                  assessment: { $ref: '#/components/schemas/ExperimentalAssessment' }
                  evaluationScope: { $ref: '#/components/schemas/WritingEvaluationScope' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/ai/generate-content:
    post:
      summary: Generate validated educational content with a server-owned prompt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [operation, word]
                  properties:
                    operation: { type: string, enum: [dictionary_lookup] }
                    word: { type: string, minLength: 1, maxLength: 80 }
                  additionalProperties: false
                - type: object
                  required: [operation]
                  properties:
                    operation:
                      type: string
                      enum: [grammar_quiz, listening_dialog, reading_text, speaking_task_1, speaking_task_2, speaking_task_3, speaking_task_4, grammar_exam_19_24, reading_headings, reading_questions, reading_gaps, listening_matching, listening_true_false, listening_interview]
                  additionalProperties: false
                - type: object
                  required: [operation]
                  properties:
                    operation: { type: string, enum: [writing_task_37, writing_task_38] }
                    exclude:
                      type: array
                      maxItems: 200
                      items: { type: string, minLength: 1, maxLength: 200 }
                  additionalProperties: false
                - type: object
                  required: [operation, topicId, topic]
                  properties:
                    operation: { type: string, enum: [grammar_topic_set] }
                    topicId: { type: integer, minimum: 1, maximum: 20 }
                    topic: { type: string, minLength: 1, maxLength: 100 }
                  additionalProperties: false
                - type: object
                  required: [operation, count]
                  properties:
                    operation: { type: string, enum: [vocabulary_cards] }
                    count: { type: integer, minimum: 4, maximum: 8 }
                    exclude:
                      type: array
                      maxItems: 500
                      items: { type: string, minLength: 1, maxLength: 120 }
                  additionalProperties: false
      responses:
        '200': { description: Schema-validated content and prompt metadata }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
  /api/v1/ai/evaluate-speaking:
    post:
      summary: Evaluate an EGE speaking transcript with server-owned criteria
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [taskType, transcript, assignment]
              properties:
                taskType: { type: integer, enum: [1, 2, 3, 4] }
                transcript: { type: string, maxLength: 20000 }
                assignment: { type: object }
              additionalProperties: false
      responses:
        '200':
          description: Schema-validated speaking review; tasks 3–4 include experimental assessment metadata
          content:
            application/json:
              schema:
                type: object
                required: [review, provider, promptVersion, attemptId, voiceTutor]
                properties:
                  review: { type: object }
                  provider: { type: string }
                  promptVersion: { type: string }
                  attemptId: { type: integer }
                  voiceTutor:
                    type: object
                    required: [source, attemptId, revision, criterionChoices]
                    properties:
                      source: { type: string, enum: [speaking] }
                      attemptId: { type: integer }
                      revision: { type: integer, enum: [1] }
                      criterionChoices:
                        type: array
                        items:
                          type: object
                          required: [index, label]
                          properties:
                            index: { type: integer, minimum: 0, maximum: 20 }
                            label: { type: string, minLength: 1, maxLength: 160 }
                          additionalProperties: false
                  assessment: { $ref: '#/components/schemas/ExperimentalAssessment' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
  /api/v1/ai/generate-speaking-sample:
    post:
      summary: Generate a validated model answer for speaking tasks 2-4
      responses:
        '200': { description: Schema-validated English model answer }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
  /api/v1/tts:
    get:
      summary: Generate or return cached speech audio
      parameters:
        - { in: query, name: text, required: true, schema: { type: string, maxLength: 500 } }
        - { in: query, name: voice, schema: { type: string } }
        - { in: query, name: slow, schema: { type: string, enum: ['0', '1'] } }
      responses:
        '200': { description: MPEG audio, content: { audio/mpeg: {} } }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/stt:
    post:
      summary: Transcribe speech recording
      requestBody:
        required: true
        content:
          audio/webm:
            schema: { type: string, format: binary }
          audio/mp4:
            schema: { type: string, format: binary }
          audio/mpeg:
            schema: { type: string, format: binary }
          audio/ogg:
            schema: { type: string, format: binary }
          audio/wav:
            schema: { type: string, format: binary }
      responses:
        '200': { description: Transcript }
        '413': { description: Audio payload exceeds configured maximum }
        '415': { description: Unsupported audio MIME type }
        '429': { $ref: '#/components/responses/RateLimited' }
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: eb_token
  schemas:
    AdaptiveGoal:
      type: object
      required: [id, targetExam, targetScore, examDate, weeklyMinutes, revision, createdAt, updatedAt]
      properties:
        id: { type: string, format: uuid }
        targetExam: { type: string, enum: [ege_english] }
        targetScore: { type: integer, minimum: 0, maximum: 100 }
        examDate: { type: string, format: date }
        weeklyMinutes: { type: integer, minimum: 30, maximum: 2520, multipleOf: 5 }
        revision: { type: integer, minimum: 1 }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
      additionalProperties: false
    AdaptiveSkillEstimate:
      type: object
      required: [id, label, module, mastery, uncertainty, status, evidenceCount, effectiveEvidenceCount, independentEvidenceCount, evidenceQuality, lastObservedAt, dueState, explanationCode]
      properties:
        id: { type: string, maxLength: 120 }
        label: { type: string, maxLength: 160 }
        module: { type: string, enum: [grammar, vocabulary, reading, listening, writing, speaking] }
        mastery:
          type: integer
          minimum: 0
          maximum: 100
          description: Conservative estimate; without independent evidence it cannot exceed 49.
        uncertainty:
          type: integer
          minimum: 0
          maximum: 100
          description: Reduced only by independent unassisted or retention evidence.
        status:
          type: string
          enum: [unobserved, preliminary, established]
          description: A skill is established only after at least two independent observations.
        evidenceCount: { type: integer, minimum: 0 }
        effectiveEvidenceCount:
          type: integer
          minimum: 0
          description: Observations used in scoring after trust ceilings; raw evidenceCount remains auditable.
        independentEvidenceCount: { type: integer, minimum: 0 }
        evidenceQuality: { type: string, enum: [none, client_reported, assisted, independent, mixed] }
        lastObservedAt: { type: string, format: date-time, nullable: true }
        dueState: { type: string, enum: [not_due, due, overdue] }
        explanationCode: { type: string, maxLength: 40 }
      additionalProperties: false
    AdaptiveProfile:
      type: object
      required: [taxonomyVersion, weightingVersion, profileCalculationRevision, evidenceWatermarkVersion, evidenceObservedAt, evidenceSourceCount, preliminary, status, confidence, evidenceCount, independentEvidenceCount, assistedEvidenceCount, clientReportedEvidenceCount, independentModuleCount, establishedSkillCount, needsDiagnostic, explanationCodes, skills, modules]
      properties:
        taxonomyVersion: { type: string, enum: [ege-en-v1] }
        weightingVersion: { type: string, enum: [adaptive-evidence-v1] }
        profileCalculationRevision:
          type: integer
          minimum: 1
          description: Higher profileCalculationRevision wins first, so a newer algorithm may intentionally filter sources. Within the same calculation revision, evidenceSourceCount is monotonic; equal counts are ordered by evidenceObservedAt and then evidenceWatermarkVersion.
        evidenceWatermarkVersion: { type: string, enum: [adaptive-evidence-watermark-v1] }
        evidenceObservedAt:
          type: string
          format: date-time
          nullable: true
          description: Latest valid source-event timestamp used as the equal-count ordering tie-breaker.
        evidenceSourceCount:
          type: integer
          minimum: 0
          description: Append-only raw source-event count; lower counts never replace higher counts within one calculation revision and may include safely uncredited events.
        preliminary: { type: boolean }
        status: { type: string, enum: [preliminary, established] }
        confidence: { type: integer, minimum: 0, maximum: 100 }
        evidenceCount: { type: integer, minimum: 0 }
        independentEvidenceCount: { type: integer, minimum: 0 }
        assistedEvidenceCount: { type: integer, minimum: 0 }
        clientReportedEvidenceCount: { type: integer, minimum: 0 }
        independentModuleCount: { type: integer, minimum: 0, maximum: 6 }
        establishedSkillCount:
          type: integer
          minimum: 0
          maximum: 12
          description: Number of independently established taxonomy skills; the whole profile stays preliminary below 12.
        needsDiagnostic: { type: boolean }
        explanationCodes: { type: array, items: { type: string } }
        skills: { type: array, items: { $ref: '#/components/schemas/AdaptiveSkillEstimate' } }
        modules: { type: array, items: { type: object } }
      additionalProperties: false
    AdaptiveOverview:
      type: object
      required: [goal, profile, plan]
      properties:
        goal:
          allOf:
            - $ref: '#/components/schemas/AdaptiveGoal'
          nullable: true
        profile: { $ref: '#/components/schemas/AdaptiveProfile' }
        plan:
          allOf:
            - $ref: '#/components/schemas/AdaptivePlan'
          nullable: true
      additionalProperties: false
    AdaptiveGoalMutationResponse:
      type: object
      required: [created, replayed, superseded, goal, profile, plan]
      properties:
        created: { type: boolean, description: True only when this request created the goal revision that is still current in this response. }
        replayed: { type: boolean, description: True when the exact retained owner-bound idempotency claim was replayed. }
        superseded: { type: boolean, description: True when the request's saved or replayed goal is older than the authoritative current snapshot returned. }
        goal: { $ref: '#/components/schemas/AdaptiveGoal' }
        profile: { $ref: '#/components/schemas/AdaptiveProfile' }
        plan: { $ref: '#/components/schemas/AdaptivePlan' }
      additionalProperties: false
    AdaptiveForecastChoice:
      type: object
      required: [type, reasonCode]
      properties:
        type: { type: string, enum: [increase_weekly_time, adjust_target_score, update_exam_date] }
        weeklyMinutes: { type: integer, minimum: 30, maximum: 2520, multipleOf: 5, description: Present only when it strictly exceeds availableWeeklyMinutes; capped at 2520. }
        targetScore: { type: integer, minimum: 0, maximum: 100, description: For an active unlikely forecast, lies between currentEstimatedScore and highScore. }
        sufficientForEstimatedRequirement: { type: boolean, description: Present for increase_weekly_time. False means the supported 2520-minute maximum remains below the truthful requiredWeeklyMinutes. }
        constraintCode: { type: string, nullable: true, enum: [maximum_supported_weekly_time] }
        reasonCode: { type: string, enum: [time_below_estimated_requirement, target_outside_current_forecast, exam_date_reached] }
      additionalProperties: false
    AdaptiveForecast:
      type: object
      description: Active honest estimated range or an action-required expired-date state from adaptive-plan-v1. Required weekly time is the five-minute upward rounding of the exact inverse of the range capacity equation, including uncertainty and its 0.75 effectiveness factor. The active range is explicitly rule-based, not calibrated and never a guaranteed EGE score. An unlikely active forecast always offers a valid target adjustment and offers increase_weekly_time only when it can strictly increase the current time; a learner already at 2520 minutes is never told to increase to the same or a smaller value.
      required: [kind, status, actionCode, currentEstimatedScore, lowScore, highScore, confidence, requiredWeeklyMinutes, availableWeeklyMinutes, weeksRemaining, feasibility, assumptionCodes, choices]
      properties:
        kind: { type: string, enum: [estimated_range, action_required] }
        status: { type: string, enum: [active, exam_date_expired] }
        actionCode: { type: string, nullable: true, enum: [update_exam_date] }
        currentEstimatedScore: { type: integer, minimum: 0, maximum: 100, nullable: true }
        lowScore: { type: integer, minimum: 0, maximum: 100, nullable: true }
        highScore: { type: integer, minimum: 0, maximum: 100, nullable: true }
        confidence: { type: integer, minimum: 0, maximum: 100, nullable: true }
        requiredWeeklyMinutes: { type: integer, minimum: 0, multipleOf: 5, nullable: true }
        availableWeeklyMinutes: { type: integer, minimum: 30, maximum: 2520 }
        weeksRemaining: { type: number, minimum: 0, description: Real fractional weeks for an active goal; exactly zero after the exam date. }
        feasibility: { type: string, enum: [feasible_with_consistent_study, unlikely_with_current_time, update_exam_date_required] }
        assumptionCodes:
          type: array
          items: { type: string, enum: [rule_based_not_calibrated, study_time_completed_as_planned, preliminary_profile, short_deadline, exam_date_reached] }
        choices: { type: array, maxItems: 2, description: Empty when feasible; update-date only when expired; otherwise a target adjustment plus an optional strictly actionable time increase., items: { $ref: '#/components/schemas/AdaptiveForecastChoice' } }
      additionalProperties: false
    AdaptiveAllocationItem:
      type: object
      required: [id, percentage, reasonCodes]
      properties:
        id: { type: string, minLength: 1, maxLength: 120 }
        label: { type: string, minLength: 1, maxLength: 160 }
        module: { type: string, enum: [vocabulary, grammar, reading, listening, writing, speaking] }
        percentage: { type: integer, minimum: 0, maximum: 100 }
        activityType: { type: string, enum: [diagnostic_probe, retention_review, practice] }
        reasonCodes:
          type: array
          minItems: 1
          items: { type: string, enum: [high_uncertainty, due_review, critical_retention_expiry, target_gap, high_ege_impact, deadline_pressure, maintenance] }
      additionalProperties: false
    AdaptivePlan:
      type: object
      required: [id, version, revision, basePlanRevision, goalRevision, taxonomyVersion, profileCalculationRevision, profileEvidenceWatermarkVersion, profileEvidenceObservedAt, profileEvidenceSourceCount, recalculationBucket, calculatedAt, forecast, allocation, stability, createdAt, updatedAt]
      properties:
        id: { type: string, format: uuid }
        version: { type: string, enum: [adaptive-plan-v1] }
        revision: { type: integer, minimum: 1 }
        basePlanRevision: { type: integer, minimum: 1, nullable: true, description: Exact current plan revision used to calculate this revision; null only for the first plan. }
        goalRevision: { type: integer, minimum: 1 }
        taxonomyVersion: { type: string, enum: [ege-en-v1] }
        profileCalculationRevision: { type: integer, minimum: 1 }
        profileEvidenceWatermarkVersion: { type: string, enum: [adaptive-evidence-watermark-v1] }
        profileEvidenceObservedAt: { type: string, format: date-time, nullable: true }
        profileEvidenceSourceCount: { type: integer, minimum: 0 }
        recalculationBucket: { type: string, format: date }
        calculatedAt: { type: string, format: date-time, description: Deterministic UTC start of recalculationBucket used by every time-dependent plan calculation. }
        forecast: { $ref: '#/components/schemas/AdaptiveForecast' }
        allocation:
          type: object
          required: [modules, skills]
          properties:
            modules: { type: array, minItems: 6, maxItems: 6, items: { $ref: '#/components/schemas/AdaptiveAllocationItem' }, description: Integer percentages total exactly 100. }
            skills: { type: array, minItems: 12, maxItems: 12, items: { $ref: '#/components/schemas/AdaptiveAllocationItem' }, description: Integer percentages total exactly 100; high uncertainty creates diagnostic_probe work. }
          additionalProperties: false
        stability:
          type: object
          required: [applied, maximumChangePercentagePoints, bypassReason, bypassedSkillIds, bypassedModuleIds]
          properties:
            applied: { type: boolean }
            maximumChangePercentagePoints: { type: integer, enum: [10] }
            bypassReason: { type: string, nullable: true, enum: [goal_changed] }
            bypassedSkillIds: { type: array, maxItems: 0, items: { type: string }, description: Reserved and empty until Ticket 06 adds repository-derived persisted critical expiry. }
            bypassedModuleIds: { type: array, maxItems: 0, items: { type: string, enum: [vocabulary, grammar, reading, listening, writing, speaking] }, description: Reserved and empty until Ticket 06 adds repository-derived persisted critical expiry. }
          additionalProperties: false
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
      additionalProperties: false
    AdaptiveDiagnosticChoice:
      type: object
      required: [id, label]
      properties:
        id: { type: string, minLength: 1, maxLength: 20 }
        label: { type: string, minLength: 1, maxLength: 300 }
      additionalProperties: false
    AdaptiveDiagnosticItem:
      type: object
      description: Safe item projection that never exposes the answer key or skill mapping; both stay server-owned. A replayable local browser speech listening item is assisted evidence, never independent mastery evidence.
      required: [id, prompt, choices, estimatedSeconds]
      properties:
        id: { type: string, minLength: 1, maxLength: 100 }
        prompt: { type: string, minLength: 1, maxLength: 1000 }
        choices:
          type: array
          minItems: 2
          maxItems: 5
          items: { $ref: '#/components/schemas/AdaptiveDiagnosticChoice' }
        estimatedSeconds: { type: integer, minimum: 30, maximum: 300 }
        presentation: { type: string, enum: [audio] }
        speechText: { type: string, minLength: 1, maxLength: 1000, description: Local browser speech stimulus; not an answer or transcript uploaded by the learner. }
        measurementNotice: { type: string, minLength: 1, maxLength: 1000, description: Learner-facing disclosure of a replayable listening probe's assisted measurement limits. }
      additionalProperties: false
    AdaptiveDiagnosticSession:
      type: object
      required: [id, catalogVersion, status, estimatedMinutes, deadlineMinutes, answeredItems, maxItems, progressPercent, canComplete, stopReason, startedAt, expiresAt, completedAt]
      properties:
        id: { type: string, format: uuid }
        catalogVersion: { type: string, minLength: 1, maxLength: 40, description: Stored catalog-policy registry version; `ege-short-diagnostic-v1` remains supported. }
        status: { type: string, enum: [in_progress, ready, completed, expired] }
        estimatedMinutes: { type: integer, minimum: 1, maximum: 120 }
        deadlineMinutes: { type: integer, minimum: 1, maximum: 120, description: Display duration derived from the stored policy's hard maximumSeconds; expiresAt is authoritative. }
        answeredItems: { type: integer, minimum: 0, maximum: 12 }
        maxItems: { type: integer, minimum: 1, maximum: 12 }
        progressPercent: { type: integer, minimum: 0, maximum: 100 }
        canComplete: { type: boolean }
        stopReason: { type: string, nullable: true, enum: [maximum_items, target_coverage, maximum_time, target_time, catalog_exhausted] }
        startedAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time }
        completedAt: { type: string, format: date-time, nullable: true }
      additionalProperties: false
    AdaptiveDiagnosticState:
      type: object
      required: [diagnostic, item]
      properties:
        diagnostic:
          allOf:
            - $ref: '#/components/schemas/AdaptiveDiagnosticSession'
          nullable: true
        item:
          allOf:
            - $ref: '#/components/schemas/AdaptiveDiagnosticItem'
          nullable: true
      additionalProperties: false
    AdaptiveDiagnosticStartResult:
      type: object
      required: [required, diagnostic, item]
      properties:
        required: { type: boolean }
        diagnostic:
          allOf:
            - $ref: '#/components/schemas/AdaptiveDiagnosticSession'
          nullable: true
        item:
          allOf:
            - $ref: '#/components/schemas/AdaptiveDiagnosticItem'
          nullable: true
        profile: { $ref: '#/components/schemas/AdaptiveProfile' }
      additionalProperties: false
    AdaptiveDiagnosticCompletionSummary:
      type: object
      required: [preliminary, confidence, answeredItems, correctItems, explanationCodes]
      properties:
        preliminary: { type: boolean }
        confidence: { type: integer, minimum: 0, maximum: 100 }
        answeredItems: { type: integer, minimum: 0, maximum: 12 }
        correctItems: { type: integer, minimum: 0, maximum: 12 }
        explanationCodes:
          type: array
          items: { type: string, minLength: 1, maxLength: 80 }
      additionalProperties: false
    AdaptiveDiagnosticCompletionResult:
      type: object
      required: [completed, diagnostic, item, result, profile]
      properties:
        completed: { type: boolean, enum: [true] }
        diagnostic: { $ref: '#/components/schemas/AdaptiveDiagnosticSession' }
        item:
          allOf:
            - $ref: '#/components/schemas/AdaptiveDiagnosticItem'
          nullable: true
        result: { $ref: '#/components/schemas/AdaptiveDiagnosticCompletionSummary' }
        profile: { $ref: '#/components/schemas/AdaptiveProfile' }
      additionalProperties: false
    AdaptiveActivityLaunch:
      description: Strict server-owned descriptor consumed by the matching activity screen.
      oneOf:
        - type: object
          required: [version, kind, screenId, mode, topicId]
          properties:
            version: { type: string, enum: [adaptive-launch-v1] }
            kind: { type: string, enum: [vocabulary_practice] }
            screenId: { type: string, enum: [scr2] }
            mode: { type: string, enum: [lexical_choice] }
            topicId: { type: integer, enum: [1, 6] }
          additionalProperties: false
        - type: object
          required: [version, kind, screenId, topicId]
          properties:
            version: { type: string, enum: [adaptive-launch-v1] }
            kind: { type: string, enum: [grammar_practice] }
            screenId: { type: string, enum: [scr3] }
            topicId: { type: integer, enum: [3, 4, 18] }
          additionalProperties: false
        - type: object
          required: [version, kind, screenId, section]
          properties:
            version: { type: string, enum: [adaptive-launch-v1] }
            kind: { type: string, enum: [exam_workflow] }
            screenId: { type: string, enum: [scr3] }
            section: { type: string, enum: [grammar_19_24] }
          additionalProperties: false
        - type: object
          required: [version, kind, screenId, mode]
          properties:
            version: { type: string, enum: [adaptive-launch-v1] }
            kind: { type: string, enum: [reading_mode] }
            screenId: { type: string, enum: [scr7] }
            mode: { type: string, enum: [headings, detail] }
          additionalProperties: false
        - type: object
          required: [version, kind, screenId, mode]
          properties:
            version: { type: string, enum: [adaptive-launch-v1] }
            kind: { type: string, enum: [listening_mode] }
            screenId: { type: string, enum: [scr4] }
            mode: { type: string, enum: [matching, interview] }
          additionalProperties: false
        - type: object
          required: [version, kind, screenId, taskType, taskId]
          properties:
            version: { type: string, enum: [adaptive-launch-v1] }
            kind: { type: string, enum: [writing_task] }
            screenId: { type: string, enum: [scr8] }
            taskType: { type: integer, enum: [37] }
            taskId: { type: string, enum: ['builtin:writing_37:emily-new-flat'] }
          additionalProperties: false
        - type: object
          required: [version, kind, screenId, taskType, taskId]
          properties:
            version: { type: string, enum: [adaptive-launch-v1] }
            kind: { type: string, enum: [writing_task] }
            screenId: { type: string, enum: [scr8] }
            taskType: { type: integer, enum: [38] }
            taskId: { type: string, enum: ['builtin:writing_38:teen-sport'] }
          additionalProperties: false
        - type: object
          required: [version, kind, screenId, taskNumber]
          properties:
            version: { type: string, enum: [adaptive-launch-v1] }
            kind: { type: string, enum: [speaking_task] }
            screenId: { type: string, enum: [scr9] }
            taskNumber: { type: integer, enum: [2, 4] }
          additionalProperties: false
    AdaptiveSessionBlock:
      type: object
      required: [id, position, kind, module, skillId, skillLabel, activityId, activityLabel, contentRef, difficulty, modality, requiresAudio, requiresMicrophone, launch, plannedMinutes, reasonCodes]
      properties:
        id: { type: string, pattern: '^asb_[0-9a-f]{16}_[0-9]{2}$' }
        position: { type: integer, minimum: 1 }
        kind: { type: string, enum: [learning, break] }
        module: { type: string, nullable: true, enum: [grammar, vocabulary, reading, listening, writing, speaking] }
        skillId: { type: string, nullable: true, maxLength: 120 }
        skillLabel: { type: string, nullable: true, maxLength: 200 }
        activityId: { type: string, nullable: true, maxLength: 120 }
        activityLabel: { type: string, nullable: true, maxLength: 240 }
        contentRef: { type: string, nullable: true, maxLength: 200, description: Opaque server-owned built-in content reference; learner content is never embedded. }
        difficulty: { type: integer, nullable: true, minimum: 1, maximum: 5 }
        modality: { type: string, nullable: true, enum: [visual_text, audio, written, microphone] }
        requiresAudio: { type: boolean, nullable: true }
        requiresMicrophone: { type: boolean, nullable: true }
        launch:
          allOf:
            - $ref: '#/components/schemas/AdaptiveActivityLaunch'
          nullable: true
        plannedMinutes: { type: integer, minimum: 5, maximum: 30 }
        reasonCodes:
          type: array
          uniqueItems: true
          items:
            type: string
            enum: [due_review, prerequisite_support, weekly_budget_deficit, content_coverage_fallback, high_uncertainty_probe, target_gap, plan_priority, learner_replacement, replacement_too_difficult, replacement_too_easy, replacement_not_relevant, replacement_accessibility, scheduled_break]
      additionalProperties: false
    AdaptiveSessionBudgetSkill:
      type: object
      required: [skillId, targetMinutes, plannedBeforeMinutes, completedBeforeMinutes, deficitBeforeMinutes, selectedMinutes]
      properties:
        skillId: { type: string, maxLength: 120 }
        targetMinutes: { type: integer, minimum: 0 }
        plannedBeforeMinutes: { type: integer, minimum: 0 }
        completedBeforeMinutes: { type: integer, minimum: 0 }
        deficitBeforeMinutes: { type: integer, minimum: 0 }
        selectedMinutes: { type: integer, minimum: 0 }
      additionalProperties: false
    AdaptiveSessionWeeklyBudget:
      type: object
      required: [weeklyAvailableMinutes, coverageGaps, prerequisiteEvidence, skills]
      properties:
        weeklyAvailableMinutes: { type: integer, minimum: 30, maximum: 2520 }
        coverageGaps:
          type: array
          uniqueItems: true
          description: Sorted allocated skill IDs with no truthful executable activity. Their priority is reassigned explicitly with content_coverage_fallback, preferring an executable skill in the same module; a small target below an activity minimum is not itself a coverage gap.
          items: { type: string, maxLength: 120 }
        prerequisiteEvidence:
          type: object
          required: [policyVersion, profileFingerprint, supported, skillIds]
          properties:
            policyVersion: { type: string, enum: [adaptive-prerequisite-v1] }
            profileFingerprint: { type: string, nullable: true, pattern: '^[0-9a-f]{64}$' }
            supported: { type: boolean }
            skillIds: { type: array, uniqueItems: true, items: { type: string, maxLength: 120 } }
          additionalProperties: false
        skills: { type: array, minItems: 12, maxItems: 12, items: { $ref: '#/components/schemas/AdaptiveSessionBudgetSkill' } }
      additionalProperties: false
    AdaptiveSessionPreview:
      type: object
      required: [version, composerPolicyVersion, contentRegistryVersion, taxonomyVersion, previewFingerprint, planId, planRevision, weekStart, durationMinutes, learningMinutes, breakMinutes, weeklyBudgetSnapshot, blocks]
      properties:
        version: { type: string, enum: [adaptive-session-v1] }
        composerPolicyVersion: { type: string, enum: [adaptive-composer-v1] }
        contentRegistryVersion: { type: string, enum: [adaptive-content-v1] }
        taxonomyVersion: { type: string, enum: [ege-en-v1] }
        previewFingerprint: { type: string, pattern: '^[0-9a-f]{64}$' }
        planId: { type: string, format: uuid }
        planRevision: { type: integer, minimum: 1 }
        weekStart: { type: string, format: date-time }
        durationMinutes: { type: integer, minimum: 15, maximum: 120, multipleOf: 5 }
        learningMinutes: { type: integer, minimum: 5, maximum: 120 }
        breakMinutes: { type: integer, enum: [0, 10] }
        weeklyBudgetSnapshot: { $ref: '#/components/schemas/AdaptiveSessionWeeklyBudget' }
        blocks: { type: array, minItems: 1, items: { $ref: '#/components/schemas/AdaptiveSessionBlock' } }
      additionalProperties: false
    AdaptiveSessionReplacement:
      type: object
      required: [blockId, reason, replacedSkillId, replacedActivityId, replacedContentRef, replacedAt]
      properties:
        blockId: { type: string }
        reason: { type: string, enum: [too_difficult, too_easy, not_relevant, accessibility] }
        replacedSkillId: { type: string }
        replacedActivityId: { type: string }
        replacedContentRef: { type: string }
        replacedAt: { type: string, format: date-time }
      additionalProperties: false
    AdaptiveLearningSession:
      type: object
      required: [id, sessionVersion, revision, planId, planRevision, previewFingerprint, composerPolicyVersion, contentRegistryVersion, taxonomyVersion, weekStart, durationMinutes, learningMinutes, breakMinutes, weeklyBudgetSnapshot, blocks, status, currentBlockId, completedLearningMinutes, replacement, createdAt, updatedAt]
      properties:
        id: { type: string, format: uuid }
        sessionVersion: { type: string, enum: [adaptive-session-v1] }
        revision: { type: integer, minimum: 1 }
        planId: { type: string, format: uuid }
        planRevision: { type: integer, minimum: 1 }
        previewFingerprint: { type: string, pattern: '^[0-9a-f]{64}$' }
        composerPolicyVersion: { type: string, enum: [adaptive-composer-v1] }
        contentRegistryVersion: { type: string, enum: [adaptive-content-v1] }
        taxonomyVersion: { type: string, enum: [ege-en-v1] }
        weekStart: { type: string, format: date-time }
        durationMinutes: { type: integer, minimum: 15, maximum: 120, multipleOf: 5 }
        learningMinutes: { type: integer, minimum: 5, maximum: 120 }
        breakMinutes: { type: integer, enum: [0, 10] }
        weeklyBudgetSnapshot: { $ref: '#/components/schemas/AdaptiveSessionWeeklyBudget' }
        blocks: { type: array, minItems: 1, items: { $ref: '#/components/schemas/AdaptiveSessionBlock' } }
        status: { type: string, enum: [created, in_progress, completed, abandoned] }
        currentBlockId: { type: string, nullable: true }
        completedLearningMinutes: { type: integer, minimum: 0, maximum: 120 }
        replacement:
          allOf:
            - $ref: '#/components/schemas/AdaptiveSessionReplacement'
          nullable: true
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
      additionalProperties: false
    AdaptiveSessionMutationResult:
      type: object
      required: [created, replayed, session]
      properties:
        created: { type: boolean }
        replayed: { type: boolean }
        session: { $ref: '#/components/schemas/AdaptiveLearningSession' }
      additionalProperties: false
    AdaptiveSessionReplacementResult:
      type: object
      required: [replaced, replayed, session]
      properties:
        replaced: { type: boolean }
        replayed: { type: boolean }
        session: { $ref: '#/components/schemas/AdaptiveLearningSession' }
      additionalProperties: false
    AdaptiveSessionExecution:
      type: object
      required: [version, revision, status, currentBlockId, completedBlockIds, readyToFinish, startedAt, completedAt]
      properties:
        version: { type: string, enum: [adaptive-execution-v1] }
        revision: { type: integer, minimum: 0 }
        status: { type: string, enum: [created, in_progress, completed, abandoned] }
        currentBlockId: { type: string, nullable: true }
        completedBlockIds: { type: array, uniqueItems: true, items: { type: string } }
        readyToFinish: { type: boolean }
        startedAt: { type: string, format: date-time, nullable: true }
        completedAt: { type: string, format: date-time, nullable: true }
      additionalProperties: false
    AdaptiveSessionEvent:
      type: object
      required: [id, session_id, event_type, block_id, block_kind, module, skill_id, activity_id, source_type, source_ref, evidence_quality, evidence_context, planned_minutes, actual_minutes, created_at]
      properties:
        id: { type: string, format: uuid }
        session_id: { type: string, format: uuid }
        event_type: { type: string, enum: [block_completed, session_finished] }
        block_id: { type: string, nullable: true }
        block_kind: { type: string, enum: [learning, break], nullable: true }
        module: { type: string, nullable: true }
        skill_id: { type: string, nullable: true }
        activity_id: { type: string, nullable: true }
        source_type: { type: string, enum: [module, writing, speaking], nullable: true }
        source_ref: { type: string, nullable: true }
        evidence_quality: { type: string, enum: [client_reported, server_verified_unassisted, server_verified_assisted], nullable: true }
        evidence_context: { type: string, enum: [exam_practice, planned_practice, scheduled_review, ai_assisted_review], nullable: true }
        planned_minutes: { type: integer, minimum: 0 }
        actual_minutes: { type: integer, minimum: 0, nullable: true }
        created_at: { type: string, format: date-time }
      additionalProperties: false
    AdaptiveSessionCompletedBlock:
      type: object
      required: [blockId, kind, module, skillId, activityId, plannedMinutes, actualMinutes, attempt, evidenceQuality, evidenceContext]
      properties:
        blockId: { type: string }
        kind: { type: string, enum: [learning, break] }
        module: { type: string, nullable: true }
        skillId: { type: string, nullable: true }
        activityId: { type: string, nullable: true }
        plannedMinutes: { type: integer, minimum: 0 }
        actualMinutes: { type: integer, minimum: 0, nullable: true }
        attempt: { type: object, nullable: true, additionalProperties: true }
        evidenceQuality: { type: string, enum: [client_reported, server_verified_unassisted, server_verified_assisted], nullable: true }
        evidenceContext: { type: string, enum: [exam_practice, planned_practice, scheduled_review, ai_assisted_review], nullable: true }
      additionalProperties: false
    AdaptiveSessionNextAction:
      type: object
      required: [type]
      properties:
        type: { type: string, enum: [start_block, take_break, finish_session, create_personal_session] }
        blockId: { type: string }
        sessionId: { type: string, format: uuid }
        suggestedMinutes: { type: integer, minimum: 15, maximum: 120 }
      additionalProperties: false
    AdaptiveSessionSummary:
      type: object
      required: [completedBlocks, completedLearningBlocks, plannedLearningMinutes, actualLearningMinutes, actualMinutesComplete, evidenceByQuality, evidenceByContext, completedWork, planChange, nextRecommendedAction]
      properties:
        completedBlocks: { type: integer, minimum: 0 }
        completedLearningBlocks: { type: integer, minimum: 0 }
        plannedLearningMinutes: { type: integer, minimum: 0 }
        actualLearningMinutes: { type: integer, minimum: 0 }
        actualMinutesComplete: { type: boolean }
        evidenceByQuality: { type: object, additionalProperties: { type: integer, minimum: 0 } }
        evidenceByContext: { type: object, additionalProperties: { type: integer, minimum: 0 } }
        completedWork:
          type: array
          items:
            type: object
            required: [blockId, module, skillId, activityId, activityLabel, plannedMinutes, actualMinutes, evidenceQuality, evidenceContext]
            properties:
              blockId: { type: string }
              module: { type: string }
              skillId: { type: string }
              activityId: { type: string }
              activityLabel: { type: string }
              plannedMinutes: { type: integer, minimum: 0 }
              actualMinutes: { type: integer, minimum: 0, nullable: true }
              evidenceQuality: { type: string, enum: [client_reported, server_verified_unassisted, server_verified_assisted], nullable: true }
[...]
