openapi: 3.0.3
info:
  title: Easy Boost API
  version: 1.0.0
  description: Production HTTP API. Authentication uses an HttpOnly SameSite cookie.
servers:
  - url: https://useboost.ru
security:
  - cookieAuth: []
paths:
  /api/v1/admin/metrics:
    get:
      summary: Read process uptime, bounded HTTP and PII-free Voice Tutor recovery, micro-check and day-1/day-7 pass metrics
      responses:
        '200': { description: Metrics snapshot for an administrator }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /health/live:
    get:
      security: []
      summary: Process liveness
      responses:
        '200': { description: Process is alive }
  /health/ready:
    get:
      security: []
      summary: Application and database readiness
      responses:
        '200': { description: Ready }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
  /api/v1/tg/start:
    post:
      security: []
      summary: Create a short-lived Telegram authorization code
      responses:
        '200':
          description: Authorization URL and opaque code
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/tg/check:
    get:
      security: []
      summary: Check and consume Telegram authorization code
      parameters:
        - in: query
          name: code
          required: true
          schema: { type: string, maxLength: 256 }
      responses:
        '200': { description: Pending or authenticated state }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/me:
    get:
      summary: Current user, base subscription, Premium entitlements and remaining voice minutes
      responses:
        '200': { description: User profile }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/payments/requests:
    post:
      summary: Create or return the current user's pending Premium Voice payment request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product]
              properties:
                product: { type: string, enum: [premium_voice] }
              additionalProperties: false
      responses:
        '201': { description: New request created; no subscription or entitlement is self-granted }
        '200': { description: Existing pending request returned idempotently }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    get:
      summary: Read the current user's latest Premium Voice payment request and entitlement status
      parameters:
        - in: query
          name: product
          required: true
          schema: { type: string, enum: [premium_voice] }
      responses:
        '200': { description: Latest request or null plus current entitlement_active flag }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/admin/payment-requests/{requestId}/resolve:
    post:
      summary: Idempotently approve or reject a payment request as an administrator
      parameters:
        - in: path
          name: requestId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [approved, rejected] }
              additionalProperties: false
      responses:
        '200': { description: Terminal request result. Premium approval atomically grants or extends the base subscription and bounded voice_tutor entitlement to the same end time; rejection grants nothing. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Administrator role required; students cannot self-grant and administrators cannot approve their own request }
        '404': { description: Payment request not found }
  /api/v1/admin/payment-requests:
    get:
      summary: List the actionable Premium Voice payment queue for an administrator
      parameters:
        - in: query
          name: product
          required: true
          schema: { type: string, enum: [premium_voice] }
        - in: query
          name: status
          required: true
          schema: { type: string, enum: [new] }
      responses:
        '200': { description: Bounded request UUID, username, product and status rows used to resolve verified payments }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Administrator role required }
  /api/v1/admin/users/{username}/entitlements/voice_tutor/revoke:
    post:
      summary: Idempotently revoke the active Voice Tutor entitlement without rewriting base subscription history
      parameters:
        - in: path
          name: username
          required: true
          schema: { type: string, minLength: 1, maxLength: 64 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: false }
      responses:
        '200': { description: Whether an active entitlement was revoked }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Administrator role required }
  /api/v1/voice-tutor/errors:
    post:
      summary: Server-check and record a supported grammar or vocabulary error before tutoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [attemptId, module, itemId, revision, learnerAnswer]
              properties:
                attemptId: { type: string, format: uuid }
                module: { type: string, enum: [grammar, vocabulary] }
                itemId: { type: string, minLength: 4, maxLength: 120 }
                revision: { type: integer, minimum: 1, maximum: 10000 }
                learnerAnswer: { type: string, minLength: 1, maxLength: 200 }
              additionalProperties: false
      responses:
        '201': { description: Incorrect answer checked against the canonical item and retained only as bounded normalized metadata on this source attempt }
        '200': { description: Existing idempotent attempt result }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: The current subscription has no voice_tutor entitlement }
        '422': { description: Answer is correct, item is unsupported, or revision is stale }
  /api/v1/voice-tutor/recovery-map:
    get:
      summary: Read the current user's server-owned error recovery map
      responses:
        '200':
          description: Bounded open/recovered/relapsed skills with initial micro-check result, voice minutes, due repeats, next useful review and non-official potential-points estimate
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/voice-tutor/repeats/{repeatId}/attempts:
    post:
      summary: Submit one answer to a due server-owned day-1/day-7 analog
      parameters:
        - in: path
          name: repeatId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [attemptId, taskId, answer]
              properties:
                attemptId: { type: string, format: uuid }
                taskId: { type: string, minLength: 4, maxLength: 180 }
                answer: { type: string, minLength: 1, maxLength: 200, description: Checked transiently and never persisted }
              additionalProperties: false
      responses:
        '201': { description: New bounded pass/fail outcome; answer text is absent }
        '200': { description: Idempotent replay of the same attempt UUID and payload }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { description: Repeat does not belong to the current user }
        '409': { description: Future, superseded, out-of-order, already attempted or conflicting replay }
        '422': { description: Task identity mismatch or invalid answer }
  /api/v1/voice-tutor/context-attempts:
    post:
      summary: Validate a completed canonical reading or listening set and record its incorrect answers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [attemptId, module, setId, revision, answers]
              properties:
                attemptId: { type: string, format: uuid }
                module: { type: string, enum: [reading, listening] }
                setId: { type: string, minLength: 4, maxLength: 120 }
                revision: { type: integer, minimum: 1, maximum: 10000 }
                answers:
                  type: array
                  minItems: 1
                  maxItems: 20
                  items: { type: string, minLength: 1, maxLength: 200 }
              additionalProperties: false
      responses:
        '201': { description: Canonical result and deterministic child error attempts recorded }
        '200': { description: Existing idempotent result returned with the same child error attempt ids }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: The current subscription has no voice_tutor entitlement }
        '409': { description: Canonical set revision is stale, or the result UUID was already bound to different answers }
        '422': { description: Set, answer count, or an answer option does not match server-owned content }
  /api/v1/voice-tutor/sessions:
    post:
      summary: Reserve Voice Tutor quota and build a server-owned supported-module capsule (or mark trusted discovery required)
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 8, maxLength: 100 }
      requestBody:
        description: Omit the body for the legacy quota-only reservation. Grammar/lexicon/reading/listening send a UUID attempt pointer; writing/speaking send a server-issued numeric review pointer, source and one server-issued lost-criterion index. No answer, transcript, assignment or review is accepted here.
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [attemptId, revision]
                  properties:
                    attemptId: { type: string, format: uuid }
                    revision: { type: integer, minimum: 1, maximum: 10000 }
                  additionalProperties: false
                - type: object
                  required: [source, attemptId, revision, criterionIndex]
                  properties:
                    source: { type: string, enum: [writing, speaking] }
                    attemptId: { type: integer, minimum: 1 }
                    revision: { type: integer, minimum: 1, maximum: 10000 }
                    criterionIndex: { type: integer, minimum: 0, maximum: 20 }
                  additionalProperties: false
      responses:
        '201': { description: Capsule created. Voice mode exposes only a random one-use application ticket, expires_at clamped to the reserved session deadline, same-origin proxy_url and pedagogy nonce. Provider credentials, URL, prompt, model and tools remain server-only. If voice is blocked or unavailable, the same capsule returns text/local mode with a bounded voice_unavailable code. }
        '200': { description: Existing idempotent result. A lost voice 201 returns realtime.status=reissue_required and a bounded realtime.reissue_url, never the original ticket or nonce. A provisional voice reservation with no issued ticket atomically receives its first ticket plus a replacement nonce, or becomes zero-billable local mode when realtime is unavailable. A lost text/local 201 atomically rotates and returns one replacement pedagogy nonce without repeating the AI call. A legacy or partially committed null delivery is atomically completed as zero-billable local mode. Any recovery is allowed exactly once. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: The current subscription has no voice_tutor entitlement }
        '409': { description: Another Voice Tutor session is active }
        '422': { description: Attempt, canonical item/context, or completed validated writing/speaking review is not supported }
        '429': { description: Daily or monthly voice quota is exhausted }
        '503': { description: New quota-only voice reservation is disabled by the feature flag, cost kill switch or required-but-unconfirmed ZDR policy; tracer requests continue with text/local fallback in a 201 response }
  /api/v1/voice-tutor/rule-discoveries:
    post:
      summary: Discover a provisional EGE rule from server-allowlisted sources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id, nonce]
              properties:
                session_id: { type: string, format: uuid }
                nonce: { type: string, minLength: 16, maxLength: 200 }
              additionalProperties: false
      responses:
        '201': { description: Explicitly provisional pending_review rule with at least two source URLs, atomically bound to the still-active owner session; includes the next one-time nonce for the explain state }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Premium voice_tutor entitlement required }
        '409': { description: Session is inactive or no longer requires discovery, nonce was replayed, another discovery owns the session claim, or an approved canonical card already exists }
        '422': { description: One source, conflict, blocked URL or invalid evidence; no fact/card is created }
        '429': { description: Per-user trusted-rule search or extraction rate limit is exhausted }
        '503': { description: Discovery is not configured, the UTC AI budget is exhausted, or a bounded dependency failed }
  /api/v1/voice-tutor/rules/{skillId}:
    get:
      summary: Retrieve only an approved canonical rule card
      parameters:
        - in: path
          name: skillId
          required: true
          schema: { type: string, maxLength: 120 }
        - in: query
          name: exam_year
          required: true
          schema: { type: integer, minimum: 2020, maximum: 2100 }
      responses:
        '200': { description: Approved bounded rule and source URLs }
        '404': { description: No approved rule exists; pending/rejected cards are hidden }
  /api/v1/voice-tutor/rule-cards:
    get:
      summary: List rule cards for an administrator review queue
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [pending_review, approved, rejected], default: pending_review }
      responses:
        '200': { description: Bounded cards with source URL/hash metadata and review audit }
        '403': { description: Administrator role required }
  /api/v1/voice-tutor/rule-cards/{cardId}/review:
    post:
      summary: Idempotently approve or reject one pending rule card as an administrator
      parameters:
        - in: path
          name: cardId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [approved, rejected] }
              additionalProperties: false
      responses:
        '200': { description: First transition or idempotent replay of the same decision }
        '403': { description: Administrator role required }
        '404': { description: Rule card not found }
        '409': { description: Card already has the opposite terminal decision }
  /api/v1/voice-tutor/sessions/{sessionId}/events:
    post:
      summary: Advance diagnose, explain, micro-check and transfer with a rotating nonce
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nonce, event]
              properties:
                nonce: { type: string, minLength: 16, maxLength: 200 }
                provider_call_id:
                  type: string
                  minLength: 1
                  maxLength: 128
                  pattern: '^[A-Za-z0-9._:-]+$'
                  description: Required in voice delivery and accepted only for the matching outstanding advance_pedagogy call; omitted only in text/local delivery
                event:
                  type: object
                  required: [type]
                  properties:
                    type: { type: string, enum: [diagnosis_complete, explanation_complete, check_answer, transfer_answer] }
                    answer: { type: string, maxLength: 200 }
              additionalProperties: false
      responses:
        '200': { description: Server-validated state and next one-time nonce; a provider_call_id must match the outstanding call and authorizes exactly one strict accepted/state function output after the nonce transition; with current text_processing consent, text delivery also returns the next bounded AI turn, otherwise it atomically downgrades to the canonical local rule }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { description: Invalid transition or replayed nonce }
        '503': { description: Voice delivery omitted or failed exact provider call correlation }
  /api/v1/voice-tutor/sessions/{sessionId}/fallback:
    post:
      summary: Continue the server-finalized proxy capsule in text or local mode without accepting client usage or wall-clock evidence
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nonce]
              properties:
                nonce: { type: string, minLength: 16, maxLength: 200 }
                reason: { type: string, enum: [microphone_unavailable, provider_unavailable, session_timeout], default: microphone_unavailable }
              additionalProperties: false
      responses:
        '200': { description: Same capsule through the budgeted text AI operation when current text_processing consent exists, otherwise through its local canonical rule. A ticket not consumed by the proxy bills zero; a consumed abnormal proxy session retains its full reservation; a clean provider-confirmed session uses server-observed input plus output PCM bytes. No client time or second reservation is accepted. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { description: Replayed nonce }
  /api/v1/voice-tutor/sessions/{sessionId}/clarifications:
    post:
      summary: Ask one bounded transient clarification without changing the pedagogical state
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nonce, kind]
              properties:
                nonce: { type: string, minLength: 16, maxLength: 200 }
                kind: { type: string, enum: [clarify, explain_differently] }
                message: { type: string, minLength: 1, maxLength: 200, description: Transient provider input; never persisted or logged }
              additionalProperties: false
      responses:
        '200': { description: Same FSM state, rotated nonce, bounded clarification count and transient text turn }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Current text-processing consent required }
        '409': { description: Replayed nonce }
        '429': { description: Three-turn clarification limit reached }
  /api/v1/voice-tutor/reports:
    post:
      summary: Submit a structured learner report without free text
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id, reason]
              properties:
                session_id: { type: string, format: uuid }
                reason: { type: string, enum: [incorrect_rule, unclear_explanation, bad_example, technical_issue] }
              additionalProperties: false
      responses:
        '201': { description: Owner-bound report queued with session/rule identifiers only }
        '200': { description: Idempotent existing report }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { description: Session does not belong to current user }
    get:
      summary: List the administrator learner-report review queue
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [pending, confirmed, dismissed], default: pending }
      responses:
        '200': { description: Structured queue and review audit without audio, transcript or learner text }
        '403': { description: Administrator role required }
  /api/v1/voice-tutor/reports/{reportId}/review:
    post:
      summary: Idempotently confirm or dismiss a structured learner report
      parameters:
        - in: path
          name: reportId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [confirmed, dismissed] }
              additionalProperties: false
      responses:
        '200': { description: First audited review or idempotent replay }
        '403': { description: Administrator role required }
        '404': { description: Report not found }
        '409': { description: Report already has the opposite decision }
  /api/v1/voice-tutor/sessions/{sessionId}/realtime-ticket:
    post:
      summary: Recover one lost session-creation response by rotating the one-use app ticket and pedagogy nonce
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 8, maxLength: 100 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '200': { description: If the single replacement response was also lost, the same key atomically completes the unactivated reservation as zero-bill local mode and returns one fallback nonce; no provider connection or charge remains possible. }
        '201': { description: Exactly one replacement ticket and nonce. The original ticket is invalidated atomically. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Current voice-processing consent and Premium voice_tutor entitlement are rechecked before any ticket or nonce rotation }
        '404': { description: Session does not belong to the current user }
        '409': { description: Ticket already consumed, session expired, Idempotency-Key mismatch or replacement limit reached }
  /api/v1/voice-tutor/sessions/{sessionId}/finish:
    post:
      summary: Idempotently finish an unused reservation; consumed proxy sessions remain governed by server-owned exact or conservative finalization
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Session finished, or the previous finish result returned }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Session does not belong to the current user }
  /api/v1/admin/status:
    get:
      summary: Verify administrator access
      responses:
        '200': { description: Administrator access confirmed }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Authenticated user does not have the admin role }
  /api/v1/logout:
    post:
      summary: Clear authentication cookie
      responses:
        '200': { description: Logged out }
  /api/v1/account/export:
    get:
      summary: Export the authenticated user's account, progress and attempt data
      responses:
        '200': { description: JSON export including structured Voice Tutor sessions, recovery/repeat outcomes and bounded provider/model/prompt metadata; no raw audio, temporary captions, full Voice Tutor transcript, nonce hash or repeat answer }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/account:
    delete:
      summary: Permanently delete the authenticated user and related data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirmation]
              properties:
                confirmation: { type: string, enum: [DELETE] }
      responses:
        '200': { description: Account, Voice Tutor sessions/recoveries/repeats and pending/rejected rule reports are deleted; approved canonical cards survive without creator identity, and reviewer identity on retained cards is anonymized }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/privacy/consent:
    get:
      summary: Read the user's text and realtime speech-to-speech processing choices and current policy version
      responses:
        '200': { description: Consent state and current policy version }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      summary: Grant or withdraw text and realtime speech-to-speech processing consent; an outdated policy version does not authorize a Voice Tutor connection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text_processing, voice_processing]
              properties:
                text_processing: { type: boolean }
                voice_processing: { type: boolean }
      responses:
        '200': { description: Updated consent state }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/progress:
    get:
      summary: Read complete progress document
      responses:
        '200': { description: Progress JSON object }
    post:
      summary: Replace progress document (legacy compatibility)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Progress' }
      responses:
        '200': { description: Saved }
        '400': { $ref: '#/components/responses/BadRequest' }
  /api/v1/progress/modules:
    post:
      summary: Atomically merge changed top-level progress modules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [modules]
              properties:
                modules: { $ref: '#/components/schemas/Progress' }
      responses:
        '200': { description: Merged progress }
        '400': { $ref: '#/components/responses/BadRequest' }
  /api/v1/module-attempts:
    post:
      summary: Record an idempotent learning-module result
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, module, activity, score, maxScore]
              properties:
                id: { type: string, format: uuid }
                module: { type: string, enum: [grammar, vocabulary, reading, listening, writing, speaking, exam] }
                activity: { type: string, maxLength: 80 }
                score: { type: integer, minimum: 0 }
                maxScore: { type: integer, minimum: 1 }
                durationMs: { type: integer, minimum: 0, maximum: 14400000 }
                metadata: { type: object, additionalProperties: true }
      responses:
        '201': { description: Attempt created }
        '200': { description: Duplicate event accepted without creating another attempt }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/word-progress:
    put:
      summary: Upsert a bounded batch of spaced-repetition word states
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [words]
              properties:
                words:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items:
                    type: object
                    required: [word, stage, errorCount, reviewCount, dueAt]
                    properties:
                      word: { type: string, maxLength: 120 }
                      stage: { type: integer, minimum: 0, maximum: 5 }
                      errorCount: { type: integer, minimum: 0 }
                      reviewCount: { type: integer, minimum: 0 }
                      dueAt: { type: integer, nullable: true }
      responses:
        '200': { description: Word states updated }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/error-bank:
    post:
      summary: Aggregate a bounded batch of learning errors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [errors]
              properties:
                errors:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required: [module, itemKey, errorType]
                    properties:
                      module: { type: string, enum: [grammar, vocabulary, reading, listening, writing, speaking, exam] }
                      itemKey: { type: string, maxLength: 160 }
                      errorType: { type: string, maxLength: 60 }
                      details: { type: object, additionalProperties: true }
      responses:
        '200': { description: Errors aggregated }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/ai/evaluate-writing:
    post:
      summary: Evaluate EGE writing task 37 or 38
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [taskType, taskId, answer]
              properties:
                taskType: { type: string, enum: [writing_37, writing_38] }
                taskId: { type: string, maxLength: 120 }
                answer: { type: string }
              additionalProperties: false
      responses:
        '200':
          description: Validated review with explicit experimental assessment metadata
          content:
            application/json:
              schema:
                type: object
                required: [review, provider, attemptId, voiceTutor, assessment, evaluationScope]
                properties:
                  review: { type: object }
                  provider: { type: string }
                  attemptId: { type: integer }
                  voiceTutor:
                    type: object
                    required: [source, attemptId, revision, criterionChoices]
                    properties:
                      source: { type: string, enum: [writing] }
                      attemptId: { type: integer }
                      revision: { type: integer, enum: [1] }
                      criterionChoices:
                        type: array
                        items:
                          type: object
                          required: [index, label]
                          properties:
                            index: { type: integer, minimum: 0, maximum: 20 }
                            label: { type: string, minLength: 1, maxLength: 160 }
                          additionalProperties: false
                  assessment: { $ref: '#/components/schemas/ExperimentalAssessment' }
                  evaluationScope: { $ref: '#/components/schemas/WritingEvaluationScope' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/ai/generate-content:
    post:
      summary: Generate validated educational content with a server-owned prompt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [operation, word]
                  properties:
                    operation: { type: string, enum: [dictionary_lookup] }
                    word: { type: string, minLength: 1, maxLength: 80 }
                  additionalProperties: false
                - type: object
                  required: [operation]
                  properties:
                    operation:
                      type: string
                      enum: [grammar_quiz, listening_dialog, reading_text, speaking_task_1, speaking_task_2, speaking_task_3, speaking_task_4, grammar_exam_19_24, reading_headings, reading_questions, reading_gaps, listening_matching, listening_true_false, listening_interview]
                  additionalProperties: false
                - type: object
                  required: [operation]
                  properties:
                    operation: { type: string, enum: [writing_task_37, writing_task_38] }
                    exclude:
                      type: array
                      maxItems: 200
                      items: { type: string, minLength: 1, maxLength: 200 }
                  additionalProperties: false
                - type: object
                  required: [operation, topicId, topic]
                  properties:
                    operation: { type: string, enum: [grammar_topic_set] }
                    topicId: { type: integer, minimum: 1, maximum: 20 }
                    topic: { type: string, minLength: 1, maxLength: 100 }
                  additionalProperties: false
                - type: object
                  required: [operation, count]
                  properties:
                    operation: { type: string, enum: [vocabulary_cards] }
                    count: { type: integer, minimum: 4, maximum: 8 }
                    exclude:
                      type: array
                      maxItems: 500
                      items: { type: string, minLength: 1, maxLength: 120 }
                  additionalProperties: false
      responses:
        '200': { description: Schema-validated content and prompt metadata }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
  /api/v1/ai/evaluate-speaking:
    post:
      summary: Evaluate an EGE speaking transcript with server-owned criteria
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [taskType, transcript, assignment]
              properties:
                taskType: { type: integer, enum: [1, 2, 3, 4] }
                transcript: { type: string, maxLength: 20000 }
                assignment: { type: object }
              additionalProperties: false
      responses:
        '200':
          description: Schema-validated speaking review; tasks 3–4 include experimental assessment metadata
          content:
            application/json:
              schema:
                type: object
                required: [review, provider, promptVersion, attemptId, voiceTutor]
                properties:
                  review: { type: object }
                  provider: { type: string }
                  promptVersion: { type: string }
                  attemptId: { type: integer }
                  voiceTutor:
                    type: object
                    required: [source, attemptId, revision, criterionChoices]
                    properties:
                      source: { type: string, enum: [speaking] }
                      attemptId: { type: integer }
                      revision: { type: integer, enum: [1] }
                      criterionChoices:
                        type: array
                        items:
                          type: object
                          required: [index, label]
                          properties:
                            index: { type: integer, minimum: 0, maximum: 20 }
                            label: { type: string, minLength: 1, maxLength: 160 }
                          additionalProperties: false
                  assessment: { $ref: '#/components/schemas/ExperimentalAssessment' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
  /api/v1/ai/generate-speaking-sample:
    post:
      summary: Generate a validated model answer for speaking tasks 2-4
      responses:
        '200': { description: Schema-validated English model answer }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
  /api/v1/tts:
    get:
      summary: Generate or return cached speech audio
      parameters:
        - { in: query, name: text, required: true, schema: { type: string, maxLength: 500 } }
        - { in: query, name: voice, schema: { type: string } }
        - { in: query, name: slow, schema: { type: string, enum: ['0', '1'] } }
      responses:
        '200': { description: MPEG audio, content: { audio/mpeg: {} } }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/stt:
    post:
      summary: Transcribe speech recording
      requestBody:
        required: true
        content:
          audio/webm:
            schema: { type: string, format: binary }
          audio/mp4:
            schema: { type: string, format: binary }
          audio/mpeg:
            schema: { type: string, format: binary }
          audio/ogg:
            schema: { type: string, format: binary }
          audio/wav:
            schema: { type: string, format: binary }
      responses:
        '200': { description: Transcript }
        '413': { description: Audio payload exceeds configured maximum }
        '415': { description: Unsupported audio MIME type }
        '429': { $ref: '#/components/responses/RateLimited' }
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: eb_token
  schemas:
    PaymentRequest:
      type: object
      required: [id, product, status]
      properties:
        id: { type: string, format: uuid }
        product: { type: string, enum: [base, premium_voice] }
        status: { type: string, enum: [new, approved, rejected] }
      additionalProperties: false
    Progress:
      type: object
      additionalProperties: true
    ExperimentalAssessment:
      type: object
      required: [mode, scoreKind, warning]
      properties:
        mode: { type: string, enum: [experimental] }
        scoreKind: { type: string, enum: [approximate] }
        warning: { type: string }
    WritingEvaluationScope:
      type: object
      required: [fullWords, evaluatedWords, truncated, evaluatedLimit]
      properties:
        fullWords: { type: integer, minimum: 0 }
        evaluatedWords: { type: integer, minimum: 0 }
        truncated: { type: boolean }
        evaluatedLimit: { type: integer, enum: [140, 250] }
  responses:
    BadRequest: { description: Invalid request }
    Unauthorized: { description: Missing or expired session }
    Forbidden: { description: Subscription inactive }
    RateLimited: { description: Rate limit exceeded }
    ServiceUnavailable: { description: Dependency unavailable }
